workflows/n8n/build-store-profile.n8n.json
{
  "name": "build-store-profile",
  "nodes": [
    {
      "parameters": {},
      "id": "d4e5f6a7-0004-0004-0004-000000000001",
      "name": "Subworkflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "jsCode": "// build-store-profile — Read Upstream Artifacts\n// Reads shopify-import.json and retrieves intake payload from input.\n//\n// SELF-HOSTED: Reads shopify-import.json from disk.\n//\n// CLOUD MODE: n8n Cloud does not allow require('fs'). When fs is unavailable,\n//             shopify_import is read from the trigger input payload instead of\n//             from disk. The orchestrator's Prepare Profile Input node must pass\n//             shopify_import inline when cloud_mode is active.\n\n// Cloud-mode detection — n8n Cloud does not allow require('fs')\nlet fs, path;\nlet cloudMode = false;\ntry {\n  fs   = require('fs');\n  path = require('path');\n} catch (_e) {\n  cloudMode = true;\n}\n\nconst input             = $input.first().json;\nconst runtimeConfig     = input.runtime_config;\nconst intakePayload     = input.normalized_intake_payload;\nconst projectId         = input.project_id;\n\nif (!runtimeConfig || !intakePayload || !projectId) {\n  throw new Error(\n    'MISSING_RUNTIME_CONFIG: build-store-profile requires runtime_config, normalized_intake_payload, and project_id'\n  );\n}\n\n// ── Validate intake fields required by this workflow ─────────────────────\nconst intakeRequired = ['project_id', 'primary_market', 'primary_language', 'primary_currency', 'vertical', 'price_positioning'];\nconst intakeMissing  = intakeRequired.filter((f) => !intakePayload[f]);\nif (intakeMissing.length > 0) {\n  throw new Error(`MISSING_ARTIFACT: intake_payload is missing required fields: ${intakeMissing.join(', ')}`);\n}\n\nlet shopifyImport;\n\nif (cloudMode) {\n  // CLOUD: Read shopify_import from the trigger input payload.\n  // The orchestrator must have passed it through from import-shopify-data output.\n  shopifyImport = input.shopify_import;\n  if (!shopifyImport) {\n    throw new Error(\n      'CLOUD_MODE_ERROR: shopify_import not found in trigger input. ' +\n      'In cloud mode, the orchestrator must pass shopify_import inline from import-shopify-data output. ' +\n      'Check that Prepare Profile Input in orchestrate-phase1 includes shopify_import.'\n    );\n  }\n  console.warn(\n    `CLOUD_MODE: build-store-profile reading shopify_import from n8n input payload (no disk) for project: ${projectId}`\n  );\n} else {\n  // SELF-HOSTED: Read from disk\n  const projectRoot       = runtimeConfig.project_root;\n  const shopifyImportPath = path.join(projectRoot, projectId, 'shopify-import.json');\n\n  if (!fs.existsSync(shopifyImportPath)) {\n    throw new Error(`MISSING_ARTIFACT: shopify-import.json not found at ${shopifyImportPath}`);\n  }\n\n  try {\n    shopifyImport = JSON.parse(fs.readFileSync(shopifyImportPath, 'utf8'));\n  } catch (err) {\n    throw new Error(`PARSE_ERROR: Failed to parse shopify-import.json: ${err.message}`);\n  }\n}\n\n// ── project_id consistency check ──────────────────────────────────────────\nif (shopifyImport.project_id !== projectId) {\n  throw new Error(\n    `PROJECT_ID_MISMATCH: shopify-import project_id \"${shopifyImport.project_id}\" does not match runtime project_id \"${projectId}\"`\n  );\n}\n\n// ── Validate shopify-import has required data ─────────────────────────────\nconst rawShopData    = shopifyImport.raw_shop_data || {};\nconst importSummary  = shopifyImport.import_summary || {};\n\nif (!rawShopData.shop_name) {\n  throw new Error('MISSING_ARTIFACT: shopify-import raw_shop_data.shop_name is empty');\n}\nif (!rawShopData.shop_domain) {\n  throw new Error('MISSING_ARTIFACT: shopify-import raw_shop_data.shop_domain is empty');\n}\n\nreturn [{\n  json: {\n    project_id:      projectId,\n    runtime_config:  runtimeConfig,\n    intake_payload:  intakePayload,\n    shopify_import:  shopifyImport,\n    raw_shop_data:   rawShopData,\n    import_summary:  importSummary,\n    cloud_mode:      cloudMode,\n  },\n}];\n"
      },
      "id": "d4e5f6a7-0004-0004-0004-000000000002",
      "name": "Read Upstream Artifacts",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [500, 300]
    },
    {
      "parameters": {
        "jsCode": "// build-store-profile — Map Fields, Validate, and Write\n// Maps intake + Shopify data to store-profile schema fields.\n// Derives catalog_type from active product count.\n// Adds runtime envelope for observability.\n//\n// SELF-HOSTED: Validates against schemas/store-profile.schema.json via AJV.\n//              Writes store-profile.json atomically. Quarantines on failure.\n//\n// CLOUD MODE: n8n Cloud does not allow require('fs'). When fs is unavailable,\n//             AJV schema validation and all filesystem writes are skipped.\n//             The assembled store_profile object is returned inline.\n//             cloud_mode: true and cloud_warnings are set in output.\n//             No persistence, no schema validation in cloud mode.\n//\n// NOTE: This is a temporary cloud-safe fallback for smoke testing.\n//       Production cloud execution requires a real persistence + validation layer.\n\n// ── buildRunId helper (no crypto needed) ─────────────────────────────────\nfunction buildRunId() {\n  const ts = new Date().toISOString().replace(/[-:T.Z]/g, '').slice(0, 14);\n  const rand = Math.random().toString(36).slice(2, 6);\n  return 'run-' + ts + '-' + rand;\n}\n\n// Cloud-mode detection — n8n Cloud does not allow require('fs')\nlet fs, path;\nlet cloudMode = false;\ntry {\n  fs   = require('fs');\n  path = require('path');\n} catch (_e) {\n  cloudMode = true;\n}\n// Also check if cloudMode was set upstream\nif (!cloudMode && $input.first().json.cloud_mode) {\n  cloudMode = true;\n}\n\nconst input          = $input.first().json;\nconst intakePayload  = input.intake_payload;\nconst rawShopData    = input.raw_shop_data;\nconst importSummary  = input.import_summary;\nconst runtimeConfig  = input.runtime_config;\nconst projectId      = input.project_id;\nconst projectRoot    = cloudMode ? null : runtimeConfig.project_root;\n\n// ── Derive catalog_type from active product count ─────────────────────────\nconst activeCount = typeof importSummary.active_product_count === 'number'\n  ? importSummary.active_product_count\n  : 0;\n\nlet catalogType;\nif (activeCount === 0) {\n  catalogType = 'small-curated-catalog'; // provisional — no products yet\n} else if (activeCount === 1) {\n  catalogType = 'single-product';\n} else if (activeCount <= 15) {\n  catalogType = 'small-curated-catalog';\n} else if (activeCount <= 200) {\n  catalogType = 'broad-catalog';\n} else {\n  catalogType = 'mixed-catalog';\n}\n\n// ── Map publish_mode → operating_mode ────────────────────────────────────\nconst OPERATING_MODE_MAP = {\n  'no-publish':       'draft-first',\n  'draft-only':       'draft-first',\n  'draft-and-review': 'staging-first',\n};\nconst operatingMode = OPERATING_MODE_MAP[intakePayload.publish_mode] || 'draft-first';\n\n// ── New optional enrichments ──────────────────────────────────────────────\n\n// Assortment shape heuristic\nlet assortmentShape = 'unknown';\nif (activeCount === 1) assortmentShape = 'single-hero-product';\nelse if (activeCount <= 5) assortmentShape = 'tight-specialist-range';\nelse if (activeCount <= 50) assortmentShape = 'curated-multi-category';\nelse if (activeCount <= 500) assortmentShape = 'broad-generalist';\nelse assortmentShape = 'broad-generalist';\n\n// UX maturity heuristic (from brand_maturity + catalog_type)\nconst uxMaturityMap = { new: 'minimal', growing: 'basic', established: 'intermediate', legacy: 'advanced' };\nconst uxMerchandisingMaturity = uxMaturityMap['new'] || 'unknown'; // brand_maturity defaults to 'new'\n\n// Open questions (explicit unknowns)\nconst openQuestions = [];\nif (activeCount === 0) openQuestions.push('No active products found — catalog_type and assortment_shape are provisional until products exist');\nif (!intakePayload.competitor_urls || intakePayload.competitor_urls.length === 0) openQuestions.push('No competitor URLs provided — competitive context will be archetype-only');\nif (!intakePayload.must_feel_like && !intakePayload.brand_role) openQuestions.push('No brand direction signals in intake — brand_voice_hint is inferred from store_type and price_positioning only');\n\n// Brand voice hint heuristic\nconst brandVoiceMap = {\n  'premium': 'premium-confident', 'luxury': 'premium-confident',\n  'mass-premium': 'lifestyle-friendly', 'mass-market': 'value-pragmatic',\n  'budget': 'budget-pragmatic', 'to-be-defined': 'unknown'\n};\nconst brandVoiceHint = brandVoiceMap[intakePayload.price_positioning] || 'unknown';\n\n// Value proposition hint (short, derived)\nconst valuePropHint = intakePayload.vertical\n  ? `${intakePayload.store_type || 'store'} in ${intakePayload.vertical} for ${intakePayload.primary_market} market at ${intakePayload.price_positioning || 'unspecified'} price point`\n  : null;\n\n// Target audience hypothesis (single, rough)\nconst targetAudienceHypotheses = [{\n  segment_label: 'Primary Segment (hypothesis)',\n  description: `Shoppers in the ${intakePayload.vertical || 'general'} vertical, ${intakePayload.primary_market} market, ${intakePayload.price_positioning || 'unknown'} price sensitivity`,\n  confidence: 'low',\n  source_signals: ['intake.vertical', 'intake.primary_market', 'intake.price_positioning']\n}];\n\n// ── Assemble store-profile ─────────────────────────────────────────────────\nconst storeProfile = {\n  store_id:         projectId,\n  store_name:       rawShopData.shop_name,\n  store_type:       intakePayload.store_type       || 'multi-product-store',\n  platform:         'shopify',\n  business_model:   intakePayload.business_model   || 'ecommerce',\n  primary_market:   intakePayload.primary_market,\n  target_markets:   intakePayload.target_markets   || [intakePayload.primary_market],\n  primary_language: intakePayload.primary_language,\n  languages:        intakePayload.languages        || [intakePayload.primary_language],\n  primary_currency: intakePayload.primary_currency,\n  currencies:       intakePayload.currencies       || [intakePayload.primary_currency],\n  vertical:         intakePayload.vertical,\n  price_positioning:intakePayload.price_positioning,\n  catalog_type:     catalogType,\n  brand_maturity:   'new',\n  operating_mode:   operatingMode,\n  domain:           rawShopData.shop_domain,\n  // NEW optional enrichments\n  assortment_shape: assortmentShape,\n  target_audience_hypotheses: targetAudienceHypotheses,\n  brand_voice_hint: brandVoiceHint,\n  ux_merchandising_maturity: uxMerchandisingMaturity,\n};\n\n// Add optional fields only if they have values\nif (valuePropHint) storeProfile.value_proposition_hint = valuePropHint;\nif (openQuestions.length > 0) storeProfile.open_questions = openQuestions;\nif (intakePayload.special_notes) storeProfile.notes = intakePayload.special_notes;\n\n// Clean undefined values\nObject.keys(storeProfile).forEach(k => storeProfile[k] === undefined && delete storeProfile[k]);\n\n// ── Build runtime envelope ────────────────────────────────────────────────\nconst runId = buildRunId();\nconst executionTs = new Date().toISOString();\n\nif (cloudMode) {\n  // CLOUD SKIP: No local schema file or AJV available. No filesystem write.\n  // Return assembled store_profile inline without validation or persistence.\n  console.warn(\n    `CLOUD_MODE: build-store-profile skipping AJV schema validation and artifact write for project: ${projectId}. ` +\n    'store_profile returned inline without schema validation.'\n  );\n\n  const envelope = {\n    runtime: {\n      run_id: runId,\n      phase_id: 'build-store-profile',\n      execution_ts: executionTs,\n      cloud_mode: true,\n      env: 'cloud-smoke',\n      schema_version: '1.0'\n    },\n    store: {\n      project_id: projectId,\n      artifact_name: 'store-profile',\n      artifact_path: null\n    },\n    status: {\n      code: 'SUCCESS',\n      completed_at: executionTs,\n      fatal_errors: [],\n      warnings: [\n        'AJV schema validation skipped — cloud mode',\n        'Artifact write skipped — cloud mode'\n      ],\n      retryable: false\n    },\n    diagnostics: {\n      input_summary: {\n        project_id: projectId,\n        vertical: intakePayload.vertical,\n        price_positioning: intakePayload.price_positioning,\n        primary_market: intakePayload.primary_market,\n        active_products: activeCount,\n        catalog_context: 'shopify-derived'\n      },\n      output_summary: {\n        store_type: storeProfile.store_type,\n        catalog_type: catalogType,\n        assortment_shape: assortmentShape,\n        ux_merchandising_maturity: uxMerchandisingMaturity,\n        open_questions_count: openQuestions.length\n      },\n      validation: {\n        schema_ref: 'schemas/store-profile.schema.json',\n        result: 'SKIPPED',\n        errors: [],\n        warnings: ['Validation skipped — cloud mode']\n      },\n      lineage: {\n        upstream_phases: ['resolve-runtime-config', 'intake-store-input', 'import-shopify-data'],\n        upstream_artifacts: ['normalized_intake_payload', 'shopify-import']\n      },\n      missing_data: openQuestions.map(q => ({ field: 'various', reason: q, impact: 'degraded-output' }))\n    }\n  };\n\n  return [{\n    json: {\n      project_id:    projectId,\n      artifact_path: null,\n      artifact_name: 'store-profile',\n      store_profile: storeProfile,\n      runtime_config:runtimeConfig,\n      status:        'SUCCESS',\n      cloud_mode:    true,\n      cloud_warnings: [\n        'AJV schema validation skipped — no schema files accessible in n8n Cloud',\n        'Artifact write skipped — no filesystem in n8n Cloud',\n        'Checkpoint update skipped — no filesystem in n8n Cloud',\n      ],\n      notes: [\n        activeCount === 0\n          ? 'WARNING: No active products found in Shopify import. catalog_type defaulted to small-curated-catalog.'\n          : null,\n        importSummary.pagination_note || null,\n      ].filter(Boolean),\n      envelope: envelope,\n    },\n  }];\n}\n\n// ── SELF-HOSTED: AJV schema validation ───────────────────────────────────\nconst schemaPath = path.join(runtimeConfig.ajv_schema_path, 'store-profile.schema.json');\n\nif (!fs.existsSync(schemaPath)) {\n  throw new Error(`SCHEMA_LOAD_ERROR: store-profile.schema.json not found at ${schemaPath}`);\n}\n\nconst schema = JSON.parse(fs.readFileSync(schemaPath, 'utf8'));\n\nlet AjvClass;\ntry {\n  AjvClass = require('ajv/dist/2020');\n} catch {\n  try {\n    AjvClass = require('ajv');\n  } catch (err) {\n    throw new Error(\n      `SCHEMA_LOAD_ERROR: AJV not available in n8n environment: ${err.message}. ` +\n      'Install ajv@8 in the n8n node_modules directory.'\n    );\n  }\n}\n\nconst ajv      = new AjvClass({ allErrors: true, strict: false });\nconst validate = ajv.compile(schema);\nconst valid    = validate(storeProfile);\n\nif (!valid) {\n  // ── Quarantine rejected artifact ────────────────────────────────────────\n  const quarantineDir = path.join(projectRoot, projectId, '.runtime', 'quarantine');\n  fs.mkdirSync(quarantineDir, { recursive: true });\n  const ts           = new Date().toISOString().replace(/[:.]/g, '-');\n  const quarantinePath = path.join(quarantineDir, `store-profile.${ts}.rejected.json`);\n  const quarantinePayload = {\n    quarantine_reason: 'SCHEMA_VIOLATION',\n    artifact_name:     'store-profile',\n    workflow_id:       'build-store-profile',\n    validation_errors: validate.errors,\n    timestamp:         new Date().toISOString(),\n    project_id:        projectId,\n    artifact_payload:  storeProfile,\n  };\n  fs.writeFileSync(quarantinePath, JSON.stringify(quarantinePayload, null, 2), 'utf8');\n\n  const errorSummary = (validate.errors || [])\n    .map((e) => `${e.instancePath || '(root)'} ${e.message}`)\n    .join('; ');\n  throw new Error(\n    `SCHEMA_VIOLATION: store-profile failed validation. Quarantined to ${quarantinePath}. ` +\n    `Errors: ${errorSummary}`\n  );\n}\n\n// ── Atomic write ──────────────────────────────────────────────────────────\nconst projectDir  = path.join(projectRoot, projectId);\nconst finalPath   = path.join(projectDir, 'store-profile.json');\nconst tmpPath     = path.join(projectDir, 'store-profile.tmp.json');\n\nfs.mkdirSync(projectDir, { recursive: true });\nfs.writeFileSync(tmpPath, JSON.stringify(storeProfile, null, 2), 'utf8');\nfs.renameSync(tmpPath, finalPath);\n\n// ── Update checkpoint ─────────────────────────────────────────────────────\nconst checkpointPath = path.join(projectRoot, projectId, '.runtime', 'checkpoint.json');\nconst now = new Date().toISOString();\ntry {\n  const checkpoint = JSON.parse(fs.readFileSync(checkpointPath, 'utf8'));\n  checkpoint.completed_workflows.push({\n    workflow_id:     'build-store-profile',\n    completed_at:    now,\n    output_artifact: 'store-profile.json',\n    status:          'SUCCESS',\n  });\n  checkpoint.last_updated_timestamp = now;\n  checkpoint.next_workflow          = 'build-market-intelligence';\n  const cpTmp = checkpointPath + '.tmp';\n  fs.writeFileSync(cpTmp, JSON.stringify(checkpoint, null, 2), 'utf8');\n  fs.renameSync(cpTmp, checkpointPath);\n} catch { /* checkpoint update failure is non-fatal in Phase 12 — log it but don't halt */ }\n\n// ── Append to execution log ───────────────────────────────────────────────\nconst logPath = path.join(projectRoot, projectId, '.runtime', 'execution-log.json');\ntry {\n  const logData = fs.existsSync(logPath)\n    ? JSON.parse(fs.readFileSync(logPath, 'utf8'))\n    : { entries: [] };\n  logData.entries.push({\n    timestamp:        now,\n    execution_run_id: runId,\n    level:            'INFO',\n    event_type:       'ARTIFACT_WRITE',\n    workflow_id:      'build-store-profile',\n    artifact:         'store-profile.json',\n    message:          `store-profile.json written. catalog_type=${catalogType}, active_products=${activeCount}`,\n  });\n  const logTmp = logPath + '.tmp';\n  fs.writeFileSync(logTmp, JSON.stringify(logData, null, 2), 'utf8');\n  fs.renameSync(logTmp, logPath);\n} catch { /* log write failure is non-fatal */ }\n\n// ── Build envelope (self-hosted) ──────────────────────────────────────────\nconst envelope = {\n  runtime: {\n    run_id: runId,\n    phase_id: 'build-store-profile',\n    execution_ts: executionTs,\n    cloud_mode: false,\n    env: runtimeConfig.env || 'dev',\n    schema_version: '1.0'\n  },\n  store: {\n    project_id: projectId,\n    artifact_name: 'store-profile',\n    artifact_path: finalPath\n  },\n  status: {\n    code: 'SUCCESS',\n    completed_at: executionTs,\n    fatal_errors: [],\n    warnings: [],\n    retryable: false\n  },\n  diagnostics: {\n    input_summary: {\n      project_id: projectId,\n      vertical: intakePayload.vertical,\n      price_positioning: intakePayload.price_positioning,\n      primary_market: intakePayload.primary_market,\n      active_products: activeCount,\n      catalog_context: 'shopify-derived'\n    },\n    output_summary: {\n      store_type: storeProfile.store_type,\n      catalog_type: catalogType,\n      assortment_shape: assortmentShape,\n      ux_merchandising_maturity: uxMerchandisingMaturity,\n      open_questions_count: openQuestions.length\n    },\n    validation: {\n      schema_ref: 'schemas/store-profile.schema.json',\n      result: 'PASS',\n      errors: [],\n      warnings: []\n    },\n    lineage: {\n      upstream_phases: ['resolve-runtime-config', 'intake-store-input', 'import-shopify-data'],\n      upstream_artifacts: ['normalized_intake_payload', 'shopify-import']\n    },\n    missing_data: openQuestions.map(q => ({ field: 'various', reason: q, impact: 'degraded-output' }))\n  }\n};\n\nreturn [{\n  json: {\n    project_id:    projectId,\n    artifact_path: finalPath,\n    artifact_name: 'store-profile',\n    store_profile: storeProfile,\n    runtime_config:runtimeConfig,\n    status:        'SUCCESS',\n    notes: [\n      activeCount === 0\n        ? 'WARNING: No active products found in Shopify import. catalog_type defaulted to small-curated-catalog.'\n        : null,\n      importSummary.pagination_note || null,\n    ].filter(Boolean),\n    envelope: envelope,\n  },\n}];\n"
      },
      "id": "d4e5f6a7-0004-0004-0004-000000000003",
      "name": "Map Validate and Write",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [750, 300]
    }
  ],
  "connections": {
    "Subworkflow Trigger": {
      "main": [
        [{ "node": "Read Upstream Artifacts", "type": "main", "index": 0 }]
      ]
    },
    "Read Upstream Artifacts": {
      "main": [
        [{ "node": "Map Validate and Write", "type": "main", "index": 0 }]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "_meta": {
    "storeOs": {
      "phase": "Phase 16",
      "format": "n8n-executable",
      "sourceSpec": "workflows/subflows/build-store-profile.json",
      "outputSchema": "schemas/store-profile.schema.json",
      "cloudCompatibility": "PARTIAL — field mapping runs in both modes. In cloud mode: (1) shopify_import is read from the n8n trigger input payload instead of disk, (2) AJV schema validation is skipped, (3) artifact write and checkpoint update are skipped. store_profile is returned inline.",
      "invocation": "Called as a subworkflow by orchestrate-phase1. Expects Subworkflow Trigger input: { project_id, normalized_intake_payload, runtime_config [, shopify_import (cloud mode only)] }",
      "output": "{ project_id, artifact_path, artifact_name, store_profile, runtime_config, status, notes [, cloud_mode, cloud_warnings], envelope }",
      "notes": [
        "brand_maturity defaults to 'new' — no reliable signal available at intake time.",
        "catalog_type is derived from active_product_count heuristic — user should verify.",
        "operating_mode is mapped from publish_mode: no-publish/draft-only → draft-first, draft-and-review → staging-first.",
        "AJV dependency: self-hosted only. Requires ajv@8 available in n8n's node_modules. Try ajv/dist/2020 first, falls back to ajv.",
        "Phase 16: Added runtime envelope, assortment_shape, target_audience_hypotheses, value_proposition_hint, brand_voice_hint, ux_merchandising_maturity, open_questions enrichments."
      ]
    }
  }
}
