workflows/n8n/build-shopify-pages-navigation.n8n.json
{
  "name": "build-shopify-pages-navigation",
  "nodes": [
    {
      "parameters": {},
      "id": "7b2a0001-0007-07b2-07b2-000000000001",
      "name": "Subworkflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// build-shopify-pages-navigation — Validate Pages/Nav Input\n// Validates store_blueprint (pages + navigation) and runtime_config; extracts shop_url.\n// Safety rules: no deletes, idempotent upsert by handle, new pages never auto-published.\n\nconst input = $input.first().json;\n\nconst runtimeConfig  = input.runtime_config   || {};\nconst storeBlueprint = input.store_blueprint   || null;\nconst contentStrategy = input.content_strategy || {};\n// project_id is top-level; runtime_config does not carry it directly\nconst projectId      = input.project_id        || runtimeConfig.project_id || null;\n\nif (!projectId) {\n  throw new Error('MISSING_RUNTIME_CONFIG: build-shopify-pages-navigation requires project_id (top-level) or runtime_config.project_id');\n}\n\nif (!storeBlueprint) {\n  throw new Error('MISSING_ARTIFACT: store_blueprint is required but was not found in trigger input');\n}\n\nconst pages      = storeBlueprint.pages      || [];\nconst navigation = storeBlueprint.navigation || [];\n\nif (pages.length === 0 && navigation.length === 0) {\n  throw new Error('INVALID_BLUEPRINT: store_blueprint.pages and store_blueprint.navigation are both empty — nothing to deploy');\n}\n\n// resolve-runtime-config uses keys: shopify_shop_url, shopify_api_version\nconst shopUrl    = runtimeConfig.shopify_shop_url    || runtimeConfig.shop_url    || runtimeConfig.STORE_OS_SHOPIFY_SHOP_URL    || null;\nconst apiVersion = runtimeConfig.shopify_api_version || runtimeConfig.api_version || runtimeConfig.STORE_OS_SHOPIFY_API_VERSION || '2026-01';\n\nif (!shopUrl) {\n  throw new Error(\n    'MISSING_CONFIG: shop_url not found in runtime_config. ' +\n    'Ensure STORE_OS_SHOPIFY_SHOP_URL is set in env or passed as smoke_test_config.STORE_OS_SHOPIFY_SHOP_URL'\n  );\n}\n\nconst shopDomain  = shopUrl.replace(/^https?:\\/\\//, '').replace(/\\/$/, '');\nconst shopifyBase = 'https://' + shopDomain + '/admin/api/' + apiVersion;\n\n// Page strategy snippet from content_strategy for body generation\nconst pageStrategy = (contentStrategy.page_strategy || {});\n\nconsole.log(\n  `build-shopify-pages-navigation: project=${projectId}, shop=${shopDomain}, ` +\n  `pages=${pages.length}, navigation=${navigation.length}`\n);\n\nreturn [{\n  json: {\n    project_id:       projectId,\n    runtime_config:   runtimeConfig,\n    store_blueprint:  storeBlueprint,\n    content_strategy: contentStrategy,\n    page_strategy:    pageStrategy,\n    shop_url:         shopUrl,\n    shop_domain:      shopDomain,\n    api_version:      apiVersion,\n    shopify_base:     shopifyBase,\n    pages_count:      pages.length,\n    navigation_count: navigation.length,\n  },\n}];\n"
      },
      "id": "7b2a0001-0007-07b2-07b2-000000000002",
      "name": "Validate Pages/Nav Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        500,
        300
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $json.shopify_base + '/pages.json?limit=250&published_status=any&fields=id,title,handle,published_at' }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "shopifyOAuth2Api",
        "options": {}
      },
      "credentials": {
        "shopifyOAuth2Api": {
          "id": "CO1JGlTR5RJ9Cs6x",
          "name": "Shopify SuppliedTech Admin"
        }
      },
      "id": "7b2a0001-0007-07b2-07b2-000000000003",
      "name": "Fetch Existing Pages",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        750,
        180
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.shopify_base + '/graphql.json' }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "shopifyOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\"query\":\"{ menus(first: 50) { edges { node { id handle title items { id title type url } } } } }\"}",
        "options": {}
      },
      "credentials": {
        "shopifyOAuth2Api": {
          "id": "CO1JGlTR5RJ9Cs6x",
          "name": "Shopify SuppliedTech Admin"
        }
      },
      "id": "7b2a0001-0007-07b2-07b2-000000000004",
      "name": "Fetch Existing Menus",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        750,
        420
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "mode": "append"
      },
      "id": "7b2a0001-0007-07b2-07b2-000000000005",
      "name": "Merge Fetch Results",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2,
      "position": [
        1000,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// build-shopify-pages-navigation — Build Upsert Plan\n// Compares existing Shopify pages and menus against store_blueprint.\n// Pages: REST API. Navigation: GraphQL Menu API (REST link_lists removed in 2025-04).\n// Safety: no deletes, new pages published: false.\n\nconst items = $input.all();\nconst validated   = $node['Validate Pages/Nav Input'].json;\nconst blueprint   = validated.store_blueprint;\nconst shopifyBase = validated.shopify_base;\n\n// Parse Merge Fetch Results — one item has pages (REST), other has menus (GraphQL)\nlet existingPages = [];\nlet existingMenus = [];\n\nfor (const item of items) {\n  if (item.json.error) {\n    console.log('Fetch node returned error (treating as empty):', JSON.stringify(item.json.error).slice(0, 200));\n    continue;\n  }\n  if (item.json.pages !== undefined) existingPages = item.json.pages || [];\n  // GraphQL menus response: { data: { menus: { edges: [{ node: {...} }] } } }\n  if (item.json.data && item.json.data.menus) {\n    existingMenus = (item.json.data.menus.edges || []).map(e => e.node);\n  }\n}\n\nconst pagesByHandle = {};\nfor (const p of existingPages) { if (p.handle) pagesByHandle[p.handle] = p; }\nconst menusByHandle = {};\nfor (const m of existingMenus) { if (m.handle) menusByHandle[m.handle] = m; }\n\nconsole.log(`Build Upsert Plan: existing pages=${existingPages.length}, existing menus=${existingMenus.length}`);\n\n// — GraphQL MenuItemType mapping —\nfunction mapLinkType(linkType, target) {\n  const t = (linkType || '').toLowerCase();\n  if (t === 'frontpage' || t === 'home' || t === 'homepage') return { type: 'FRONTPAGE', url: '/' };\n  if (t === 'page')       return { type: 'HTTP', url: '/pages/' + (target || '') };\n  if (t === 'collection') return { type: 'HTTP', url: '/collections/' + (target || '') };\n  if (t === 'product')    return { type: 'HTTP', url: '/products/' + (target || '') };\n  if (t === 'blog')       return { type: 'HTTP', url: '/blogs/' + (target || '') };\n  return { type: 'HTTP', url: target || '/' };\n}\n\nfunction generatePageHtml(page) {\n  const safe = (s) => String(s || '').replace(/</g, '&lt;').replace(/>/g, '&gt;');\n  const purpose = safe(page.purpose || '');\n  const seo     = safe(page.seo_focus || '');\n  let html = '';\n  if (purpose) html += '<p>' + purpose + '</p>';\n  if (seo && seo !== purpose) html += '<p>' + seo + '</p>';\n  return html || '<p>Page content coming soon.</p>';\n}\n\nconst actions = [];\n\n// — Pages (REST) —\nfor (const page of (blueprint.pages || [])) {\n  const handle   = page.handle || page.title.toLowerCase().replace(/[^a-z0-9]+/g, '-').replace(/^-|-$/g, '');\n  const bodyHtml = page.body_html || generatePageHtml(page);\n  const pageBody = { page: { title: page.title, handle, body_html: bodyHtml, author: 'store-os', published: false } };\n\n  if (pagesByHandle[handle]) {\n    const existingId = pagesByHandle[handle].id;\n    actions.push({ resource: 'page', action: 'update', handle, shopify_id: existingId, url: shopifyBase + '/pages/' + existingId + '.json', body: pageBody, blueprint_title: page.title });\n  } else {\n    actions.push({ resource: 'page', action: 'create', handle, shopify_id: null, url: shopifyBase + '/pages.json', body: pageBody, blueprint_title: page.title });\n  }\n}\n\n// — Navigation / Menus (GraphQL POST to /graphql.json) —\n// Pre-compute blueprint page handles so the safety net can distinguish\n// \"will be created this run\" from \"genuine ghost that doesn't exist\".\nconst blueprintPageHandles = new Set((blueprint.pages || []).map(function(p) { return p.handle; }));\nconst graphqlUrl = shopifyBase + '/graphql.json';\n\nfor (const menu of (blueprint.navigation || [])) {\n  const handle = menu.menu_handle || menu.handle || (menu.title || '').toLowerCase().replace(/[^a-z0-9]+/g, '-').replace(/^-|-$/g, '');\n\n  const gqlItems = (menu.items || []).map((item) => {\n    const linkType = (item.link_type || '').toLowerCase();\n    let mapped = mapLinkType(item.link_type, item.target);\n    // Safety net: page nav targets must resolve to a real published Shopify page.\n    // Blueprint pages are created with published:false in this same run — they won\\'t 404 forever\n    // but WILL 404 until manually published. Genuine ghost handles (not in blueprint AND not in\n    // existingPages) are resolved to the nearest published page as a last resort.\n    if (linkType === 'page') {\n      const target = item.target || '';\n      const existingPage = pagesByHandle[target];\n      const isBlueprintPage = blueprintPageHandles.has(target);\n      if (!existingPage && !isBlueprintPage) {\n        const publishedPages = existingPages.filter(function(p) { return p.published_at; });\n        if (publishedPages.length > 0) {\n          const resolved = publishedPages[0];\n          console.log('Nav safety-net: page target \"' + target + '\" is a ghost handle (not in store, not in blueprint) \u2014 resolved to published page \"' + resolved.handle + '\"');\n          mapped = { type: 'HTTP', url: '/pages/' + resolved.handle };\n        } else {\n          console.log('Nav safety-net: page target \"' + target + '\" not found and no published pages exist \u2014 falling back to home');\n          mapped = { type: 'FRONTPAGE', url: '/' };\n        }\n      }\n    }\n    return { title: item.label || item.title || item.target || '', type: mapped.type, url: mapped.url };\n  });\n\n  // Build inline GraphQL items string\n  const itemsStr = gqlItems.map(i =>\n    '{ title: ' + JSON.stringify(i.title) + ', type: ' + i.type + ', url: ' + JSON.stringify(i.url) + ' }'\n  ).join(', ');\n\n  if (menusByHandle[handle]) {\n    const existingGid = menusByHandle[handle].id;\n    const mutation = 'mutation { menuUpdate(id: ' + JSON.stringify(existingGid) + ', title: ' + JSON.stringify(menu.title) + ', items: [' + itemsStr + ']) { menu { id handle title items { id title type url } } userErrors { field message } } }';\n    actions.push({\n      resource: 'menu', action: 'create', _actual_action: 'update',\n      handle, shopify_id: existingGid,\n      url: graphqlUrl, body: { query: mutation },\n      blueprint_title: menu.title,\n    });\n  } else {\n    const mutation = 'mutation { menuCreate(title: ' + JSON.stringify(menu.title) + ', handle: ' + JSON.stringify(handle) + ', items: [' + itemsStr + ']) { menu { id handle title items { id title type url } } userErrors { field message } } }';\n    actions.push({\n      resource: 'menu', action: 'create', _actual_action: 'create',\n      handle, shopify_id: null,\n      url: graphqlUrl, body: { query: mutation },\n      blueprint_title: menu.title,\n    });\n  }\n}\n\nconsole.log(`Build Upsert Plan: planned actions=${actions.length} (page creates=${actions.filter(a=>a.resource==='page'&&a.action==='create').length}, page updates=${actions.filter(a=>a.resource==='page'&&a.action==='update').length}, menu creates=${actions.filter(a=>a.resource==='menu'&&a._actual_action==='create').length}, menu updates=${actions.filter(a=>a.resource==='menu'&&a._actual_action==='update').length})`);\n\nif (actions.length === 0) {\n  return [{ json: { action: 'noop', resource: 'none', handle: null, url: null, body: null, blueprint_title: null, shopify_id: null } }];\n}\n\nreturn actions.map(a => ({ json: a }));\n"
      },
      "id": "7b2a0001-0007-07b2-07b2-000000000006",
      "name": "Build Upsert Plan",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1250,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.action }}",
              "operation": "equal",
              "value2": "create"
            }
          ]
        }
      },
      "id": "7b2a0001-0007-07b2-07b2-000000000007",
      "name": "Create or Update?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1500,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.url }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "shopifyOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.body) }}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        }
      },
      "credentials": {
        "shopifyOAuth2Api": {
          "id": "CO1JGlTR5RJ9Cs6x",
          "name": "Shopify SuppliedTech Admin"
        }
      },
      "continueOnFail": true,
      "id": "7b2a0001-0007-07b2-07b2-000000000008",
      "name": "Create Resource",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1750,
        180
      ]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "={{ $json.url }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "shopifyOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.body) }}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        }
      },
      "credentials": {
        "shopifyOAuth2Api": {
          "id": "CO1JGlTR5RJ9Cs6x",
          "name": "Shopify SuppliedTech Admin"
        }
      },
      "continueOnFail": true,
      "id": "7b2a0001-0007-07b2-07b2-000000000009",
      "name": "Update Resource",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1750,
        420
      ]
    },
    {
      "parameters": {
        "mode": "append"
      },
      "id": "7b2a0001-0007-07b2-07b2-000000000010",
      "name": "Merge Action Results",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2,
      "position": [
        2000,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// build-shopify-pages-navigation — Compile Deployment Summary\n// Aggregates HTTP results from Create Resource and Update Resource nodes.\n// Handles REST responses (pages) and GraphQL responses (menus).\n\nconst results = $input.all();\nconst validated  = $node['Validate Pages/Nav Input'].json;\nconst projectId  = validated.project_id;\nconst shopDomain = validated.shop_domain;\nconst blueprint  = validated.store_blueprint;\n\nlet pagesCreated = 0, pagesUpdated = 0, navigationCreated = 0, navigationUpdated = 0;\nconst errors = [], warnings = [];\n\nfor (const item of results) {\n  const d = item.json;\n  if (d.action === 'noop') {\n    warnings.push('No pages/navigation actions were planned');\n    continue;\n  }\n  const statusCode = d.statusCode || 0;\n  const body       = d.body || d;\n\n  // GraphQL menu response (statusCode 200 but check userErrors)\n  if (body.data && (body.data.menuCreate || body.data.menuUpdate)) {\n    const result = body.data.menuCreate || body.data.menuUpdate;\n    const userErrors = result.userErrors || [];\n    if (userErrors.length > 0) {\n      errors.push({\n        resource: 'menu',\n        handle: (result.menu && result.menu.handle) || 'unknown',\n        status: 422,\n        message: userErrors.map(e => e.message).join('; '),\n      });\n    } else if (result.menu) {\n      if (body.data.menuCreate) navigationCreated++;\n      else navigationUpdated++;\n    }\n    continue;\n  }\n\n  // REST page response\n  if (statusCode >= 400 || d.error) {\n    const errMsg = (body.errors ? JSON.stringify(body.errors) : null) || d.message || `HTTP ${statusCode} error`;\n    errors.push({ resource: d._resource || 'unknown', handle: d._handle || 'unknown', status: statusCode, message: errMsg });\n    continue;\n  }\n  const isPage = !!(body.page);\n  if (statusCode === 201) { if (isPage) pagesCreated++; }\n  else if (statusCode === 200) { if (isPage) pagesUpdated++; }\n  else { warnings.push(`Unexpected HTTP ${statusCode} for ${isPage ? 'page' : 'resource'}`); }\n}\n\nconst totalActioned = pagesCreated + pagesUpdated + navigationCreated + navigationUpdated;\nconst totalErrors   = errors.length;\nconst terminalStatus = totalErrors > 0 && totalActioned === 0 ? 'PHASE_7B2_FAILED' : totalErrors > 0 ? 'PHASE_7B2_PARTIAL' : 'PHASE_7B2_COMPLETE';\n\nconsole.log(`Compile Deployment Summary: status=${terminalStatus}, pages_created=${pagesCreated}, pages_updated=${pagesUpdated}, navigation_created=${navigationCreated}, navigation_updated=${navigationUpdated}, errors=${totalErrors}`);\n\nreturn [{ json: {\n  status: terminalStatus, project_id: projectId, shop_url: shopDomain, completed_at: new Date().toISOString(),\n  pages_created: pagesCreated, pages_updated: pagesUpdated, navigation_created: navigationCreated, navigation_updated: navigationUpdated,\n  errors, warnings,\n  blueprint_summary: { pages_in_blueprint: (blueprint.pages || []).length, navigation_in_blueprint: (blueprint.navigation || []).length },\n  safety_notes: [\n    'No Shopify resources were deleted — only create and update operations were performed',\n    'All new pages were created with published: false — not visible until manually published',\n    'Navigation menus deployed via Shopify GraphQL Menu API (REST link_lists deprecated)',\n  ],\n} }];\n"
      },
      "id": "7b2a0001-0007-07b2-07b2-000000000011",
      "name": "Compile Deployment Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2250,
        300
      ]
    }
  ],
  "connections": {
    "Subworkflow Trigger": {
      "main": [
        [
          {
            "node": "Validate Pages/Nav Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Pages/Nav Input": {
      "main": [
        [
          {
            "node": "Fetch Existing Pages",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Existing Menus",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Existing Pages": {
      "main": [
        [
          {
            "node": "Merge Fetch Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Existing Menus": {
      "main": [
        [
          {
            "node": "Merge Fetch Results",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Fetch Results": {
      "main": [
        [
          {
            "node": "Build Upsert Plan",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Upsert Plan": {
      "main": [
        [
          {
            "node": "Create or Update?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create or Update?": {
      "main": [
        [
          {
            "node": "Create Resource",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update Resource",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Resource": {
      "main": [
        [
          {
            "node": "Merge Action Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Resource": {
      "main": [
        [
          {
            "node": "Merge Action Results",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Action Results": {
      "main": [
        [
          {
            "node": "Compile Deployment Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "any"
  },
  "_meta": {
    "storeOs": {
      "phase": "Phase 7B.2",
      "format": "n8n-executable",
      "outputSchema": "schemas/phase-7b/shopify-pages-navigation-deployment.schema.json",
      "cloudCompatibility": "FULL — no filesystem access, no AJV. All Shopify API calls use shopifyOAuth2Api credential injected by n8n.",
      "invocation": "Called as a subworkflow by orchestrate-phase1. Expects Subworkflow Trigger input: { project_id, runtime_config, store_blueprint, content_strategy }",
      "output": "{ status: 'PHASE_7B2_COMPLETE' | 'PHASE_7B2_PARTIAL' | 'PHASE_7B2_FAILED', project_id, shop_url, pages_created, pages_updated, navigation_created, navigation_updated, errors, warnings, blueprint_summary, safety_notes }",
      "safetyGuarantees": [
        "No Shopify resources are ever deleted — only create (POST) and update (PUT) operations",
        "Upsert by handle: existing handles are updated, new handles are created",
        "All new pages are created with published: false — not visible until manually published",
        "continueOnFail: true on HTTP nodes — errors are collected, not fatal",
        "neverError: true on HTTP nodes — HTTP 4xx/5xx return as items, not exceptions"
      ],
      "credentials": {
        "shopifyOAuth2Api": {
          "id": "CO1JGlTR5RJ9Cs6x",
          "name": "Shopify SuppliedTech Admin",
          "note": "Replace id with your n8n shopifyOAuth2Api credential ID if deploying to a different instance"
        }
      },
      "nodeCount": 11,
      "terminalStatuses": [
        "PHASE_7B2_COMPLETE",
        "PHASE_7B2_PARTIAL",
        "PHASE_7B2_FAILED"
      ]
    }
  }
}