workflows/n8n/build-theme-rules.n8n.json
{
  "name": "build-theme-rules",
  "_meta": {
    "phase": "Phase 10",
    "description": "Deterministic theme rules engine. Classifies store pattern from upstream artifacts and maps it to an explicit layout/section/trust/conversion ruleset. Output consumed by build-shopify-theme.",
    "contract": "workflows/contracts/build-theme-rules.contract.json",
    "schema": "schemas/phase-10/theme-rules.schema.json"
  },
  "nodes": [
    {
      "parameters": {},
      "id": "p10-0001-0010-0010-000000000001",
      "name": "Subworkflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "jsCode": "// build-theme-rules — Validate Inputs\n// Checks required artifacts and passes all upstream data through.\n\nconst input = $input.first().json;\n\nconst storeProfile     = input.store_profile     || null;\nconst brandPositioning = input.brand_positioning || null;\nconst projectId        = input.project_id        || (input.runtime_config && input.runtime_config.project_id) || null;\n\nif (!projectId) {\n  throw new Error('MISSING_INPUT: build-theme-rules requires project_id');\n}\nif (!storeProfile) {\n  throw new Error('MISSING_ARTIFACT: store_profile is required for store pattern classification');\n}\nif (!brandPositioning) {\n  throw new Error('MISSING_ARTIFACT: brand_positioning is required for store pattern classification');\n}\n\n// Optional upstream artifacts — all gracefully defaulted\nconst marketIntelligence = input.market_intelligence  || {};\nconst competitorClusters = input.competitor_clusters  || {};\nconst strategySynthesis  = input.strategy_synthesis   || {};\nconst offerArchitecture  = input.offer_architecture   || {};\nconst contentStrategy    = input.content_strategy     || {};\nconst storeBlueprint     = input.store_blueprint      || {};\nconst runtimeConfig      = input.runtime_config       || {};\n\nreturn [{\n  json: {\n    project_id:          projectId,\n    runtime_config:      runtimeConfig,\n    store_profile:       storeProfile,\n    brand_positioning:   brandPositioning,\n    market_intelligence: marketIntelligence,\n    competitor_clusters: competitorClusters,\n    strategy_synthesis:  strategySynthesis,\n    offer_architecture:  offerArchitecture,\n    content_strategy:    contentStrategy,\n    store_blueprint:     storeBlueprint,\n  },\n}];\n"
      },
      "id": "p10-0001-0010-0010-000000000002",
      "name": "Validate Inputs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [500, 300]
    },
    {
      "parameters": {
        "jsCode": "// build-theme-rules — Classify Store Pattern (Phase 10B)\n// Pure function: upstream artifact fields → one of 7 store patterns.\n// Priority-ordered classification. First match wins.\n//\n// Patterns:\n//   technical-b2b-specialist  — specialist + technical-trustworthy tone\n//   premium-minimalist        — luxury/premium price + premium/editorial tone\n//   lifestyle-emotional-dr    — high emotional intensity or warm-helpful tone\n//   value-led-general         — budget/mass-market price or value-leader role\n//   catalog-first-specialist  — broad catalog + category-specialist store type\n//   editorial-curator         — editorial-guide role or editorial-smart tone\n//   single-product-focused    — single-product catalog or single-hero assortment\n\nconst input = $input.first().json;\nconst sp = input.store_profile;\nconst bp = input.brand_positioning;\n\nconst toneStyle          = (bp.tone_of_voice && bp.tone_of_voice.style)              || 'clear-direct';\nconst emotionalIntensity = (bp.tone_of_voice && bp.tone_of_voice.emotional_intensity) || 'medium';\nconst brandRole          = bp.brand_role       || 'specialist';\nconst pricePositioning   = sp.price_positioning || 'mass-market';\nconst catalogType        = sp.catalog_type      || 'small-curated-catalog';\nconst assortmentShape    = sp.assortment_shape  || 'unknown';\nconst storeType          = sp.store_type        || 'multi-product-store';\n\nlet pattern  = null;\nlet rationale = null;\n\n// ── Priority 1: Single product — always wins ────────────────────────────\nif (catalogType === 'single-product' || assortmentShape === 'single-hero-product') {\n  pattern   = 'single-product-focused';\n  rationale = 'catalog_type=' + catalogType + ' / assortment_shape=' + assortmentShape + ' → single-product homepage: full hero, benefit stack, guarantee, cross-sell';\n}\n\n// ── Priority 2: Luxury/premium + premium/editorial tone ────────────────\nelse if (['luxury', 'premium'].includes(pricePositioning) && ['premium-confident', 'editorial-smart'].includes(toneStyle)) {\n  pattern   = 'premium-minimalist';\n  rationale = 'price_positioning=' + pricePositioning + ' + tone=' + toneStyle + ' → premium minimalist: generous whitespace, curated 2-col grid, subtle CTAs';\n}\n\n// ── Priority 3: Editorial guide role or editorial-smart tone ───────────\nelse if (brandRole === 'editorial-guide' || toneStyle === 'editorial-smart') {\n  pattern   = 'editorial-curator';\n  rationale = 'brand_role=' + brandRole + ' / tone=' + toneStyle + ' → editorial structure: content-first, 2-col grid, minimal trust signals';\n}\n\n// ── Priority 4: Specialist + technical-trustworthy → B2B specialist ────\nelse if (brandRole === 'specialist' && toneStyle === 'technical-trustworthy') {\n  pattern   = 'technical-b2b-specialist';\n  rationale = 'brand_role=specialist + tone=technical-trustworthy → B2B: hero → value-prop → collection → evidence trust';\n}\n\n// ── Priority 5: Budget/mass-market or value-leader ─────────────────────\nelse if (['budget', 'mass-market'].includes(pricePositioning) || brandRole === 'value-leader') {\n  pattern   = 'value-led-general';\n  rationale = 'price_positioning=' + pricePositioning + ' / brand_role=' + brandRole + ' → value-led: density-focused, assertive CTAs, guarantee trust';\n}\n\n// ── Priority 6: Broad catalog + category specialist ─────────────────────\nelse if (['broad-catalog', 'mixed-catalog'].includes(catalogType) && storeType === 'category-specialist') {\n  pattern   = 'catalog-first-specialist';\n  rationale = 'catalog_type=' + catalogType + ' + store_type=category-specialist → catalog-first: compact hero, 4-col grid, filter prominence';\n}\n\n// ── Priority 7: High emotional intensity or warm tone ──────────────────\nelse if (emotionalIntensity === 'high' || toneStyle === 'warm-helpful') {\n  pattern   = 'lifestyle-emotional-dr';\n  rationale = 'emotional_intensity=' + emotionalIntensity + ' / tone=' + toneStyle + ' → lifestyle DR: emotional hero → social proof → 4-col grid → benefits';\n}\n\n// ── Default fallback ────────────────────────────────────────────────────\nelse {\n  pattern   = 'technical-b2b-specialist';\n  rationale = 'Default fallback (no priority rule matched). Inputs: brand_role=' + brandRole + ', tone=' + toneStyle + ', price=' + pricePositioning + ', catalog=' + catalogType;\n}\n\nreturn [{\n  json: {\n    ...input,\n    store_pattern:     pattern,\n    pattern_rationale: rationale,\n    _classification_inputs: {\n      brand_role:          brandRole,\n      tone_style:          toneStyle,\n      emotional_intensity: emotionalIntensity,\n      price_positioning:   pricePositioning,\n      catalog_type:        catalogType,\n      assortment_shape:    assortmentShape,\n      store_type:          storeType,\n    },\n  },\n}];\n"
      },
      "id": "p10-0001-0010-0010-000000000003",
      "name": "Classify Store Pattern",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [750, 300]
    },
    {
      "parameters": {
        "jsCode": "// build-theme-rules — Map Pattern to Rules (Phase 10B lookup table)\n// Deterministic lookup: store_pattern → full rule set.\n// Every pattern defines: section stack order, section system config,\n// trust model, conversion model, merchandising model, visual system.\n\nconst input = $input.first().json;\nconst pattern = input.store_pattern;\n\n// ── Pattern rule table ────────────────────────────────────────────────────\nconst PATTERN_RULES = {\n\n  'technical-b2b-specialist': {\n    homepage_layout: {\n      section_stack: [\n        { section_type: 'hero',                order: 1, enabled: true,  variant: 'standard' },\n        { section_type: 'value-prop',          order: 2, enabled: true,  variant: 'icon-led' },\n        { section_type: 'featured-collection', order: 3, enabled: true,  variant: 'grid-3' },\n        { section_type: 'trust-social-proof',  order: 4, enabled: true,  variant: 'evidence-led' },\n      ],\n      visual_density:   'medium',\n      whitespace_level: 'balanced',\n    },\n    section_system: {\n      hero:               { variant: 'standard',    cta_prominence: 'prominent', copy_density: 'medium', media_type: 'image' },\n      featured_collection:{ enabled: true,  grid_columns: 3, products_to_show: 6, show_vendor: false },\n      value_prop:         { enabled: true,  column_count: 4, style: 'icon-led' },\n      trust_social_proof: { enabled: true,  proof_mode: 'evidence-led',     block_count: 4, placement: 'end-of-page' },\n    },\n    trust_model:         { primary_proof: 'evidence',        prominence: 'high',   placement: 'end-of-page' },\n    conversion_model:    { cta_style: 'balanced',   urgency_level: 'none',   bundle_promo: false },\n    merchandising_model: { primary_pattern: 'featured-collection', grid_columns: 3, collection_prominence: 'secondary' },\n    visual_system:       { density: 'medium', whitespace: 'balanced',   contrast: 'high-clarity' },\n    page_template_rules: { product_page: 'standard',    collection_page: 'grid-with-filter', about_page: 'team-expertise' },\n    media_placement_rules: { hero_media_type: 'image', product_image_priority: 'packshot',  lifestyle_image_prominence: 'secondary' },\n  },\n\n  'premium-minimalist': {\n    homepage_layout: {\n      section_stack: [\n        { section_type: 'hero',                order: 1, enabled: true,  variant: 'fullscreen' },\n        { section_type: 'featured-collection', order: 2, enabled: true,  variant: 'grid-2' },\n        { section_type: 'value-prop',          order: 3, enabled: true,  variant: 'text-led' },\n        { section_type: 'trust-social-proof',  order: 4, enabled: false, variant: 'minimal' },\n      ],\n      visual_density:   'low',\n      whitespace_level: 'generous',\n    },\n    section_system: {\n      hero:               { variant: 'fullscreen',  cta_prominence: 'subtle',    copy_density: 'low',    media_type: 'image' },\n      featured_collection:{ enabled: true,  grid_columns: 2, products_to_show: 4, show_vendor: false },\n      value_prop:         { enabled: true,  column_count: 3, style: 'text-led' },\n      trust_social_proof: { enabled: false, proof_mode: 'mixed',             block_count: 2, placement: 'end-of-page' },\n    },\n    trust_model:         { primary_proof: 'brand-authority', prominence: 'low',    placement: 'end-of-page' },\n    conversion_model:    { cta_style: 'subtle',     urgency_level: 'none',   bundle_promo: false },\n    merchandising_model: { primary_pattern: 'editorial-grid',     grid_columns: 2, collection_prominence: 'primary' },\n    visual_system:       { density: 'low',    whitespace: 'generous',  contrast: 'soft-editorial' },\n    page_template_rules: { product_page: 'editorial',   collection_page: 'editorial-grid',   about_page: 'brand-story' },\n    media_placement_rules: { hero_media_type: 'image', product_image_priority: 'lifestyle', lifestyle_image_prominence: 'primary' },\n  },\n\n  'lifestyle-emotional-dr': {\n    homepage_layout: {\n      section_stack: [\n        { section_type: 'hero',                order: 1, enabled: true,  variant: 'lifestyle' },\n        { section_type: 'trust-social-proof',  order: 2, enabled: true,  variant: 'social-proof-led' },\n        { section_type: 'featured-collection', order: 3, enabled: true,  variant: 'grid-4' },\n        { section_type: 'value-prop',          order: 4, enabled: true,  variant: 'benefit-led' },\n      ],\n      visual_density:   'high',\n      whitespace_level: 'tight',\n    },\n    section_system: {\n      hero:               { variant: 'lifestyle',   cta_prominence: 'assertive', copy_density: 'high',   media_type: 'image' },\n      featured_collection:{ enabled: true,  grid_columns: 4, products_to_show: 8, show_vendor: false },\n      value_prop:         { enabled: true,  column_count: 3, style: 'benefit-led' },\n      trust_social_proof: { enabled: true,  proof_mode: 'social-proof-led', block_count: 6, placement: 'after-hero' },\n    },\n    trust_model:         { primary_proof: 'social-proof',    prominence: 'high',   placement: 'after-hero' },\n    conversion_model:    { cta_style: 'assertive',  urgency_level: 'medium', bundle_promo: true },\n    merchandising_model: { primary_pattern: 'product-grid',          grid_columns: 4, collection_prominence: 'secondary' },\n    visual_system:       { density: 'high',   whitespace: 'tight',     contrast: 'punchy-commercial' },\n    page_template_rules: { product_page: 'conversion-focused', collection_page: 'grid-dense',        about_page: 'brand-story' },\n    media_placement_rules: { hero_media_type: 'image', product_image_priority: 'lifestyle', lifestyle_image_prominence: 'primary' },\n  },\n\n  'value-led-general': {\n    homepage_layout: {\n      section_stack: [\n        { section_type: 'hero',                order: 1, enabled: true,  variant: 'promotional' },\n        { section_type: 'featured-collection', order: 2, enabled: true,  variant: 'grid-4' },\n        { section_type: 'value-prop',          order: 3, enabled: true,  variant: 'benefit-led' },\n        { section_type: 'trust-social-proof',  order: 4, enabled: true,  variant: 'guarantee-led' },\n      ],\n      visual_density:   'high',\n      whitespace_level: 'tight',\n    },\n    section_system: {\n      hero:               { variant: 'promotional', cta_prominence: 'assertive', copy_density: 'high',   media_type: 'image' },\n      featured_collection:{ enabled: true,  grid_columns: 4, products_to_show: 8, show_vendor: false },\n      value_prop:         { enabled: true,  column_count: 3, style: 'benefit-led' },\n      trust_social_proof: { enabled: true,  proof_mode: 'guarantee-led',    block_count: 4, placement: 'end-of-page' },\n    },\n    trust_model:         { primary_proof: 'guarantee',       prominence: 'medium', placement: 'end-of-page' },\n    conversion_model:    { cta_style: 'assertive',  urgency_level: 'high',   bundle_promo: true },\n    merchandising_model: { primary_pattern: 'product-grid',          grid_columns: 4, collection_prominence: 'primary' },\n    visual_system:       { density: 'high',   whitespace: 'tight',     contrast: 'punchy-commercial' },\n    page_template_rules: { product_page: 'standard',    collection_page: 'grid-dense',        about_page: 'minimal' },\n    media_placement_rules: { hero_media_type: 'image', product_image_priority: 'packshot',  lifestyle_image_prominence: 'minimal' },\n  },\n\n  'catalog-first-specialist': {\n    homepage_layout: {\n      section_stack: [\n        { section_type: 'hero',                order: 1, enabled: true,  variant: 'compact' },\n        { section_type: 'featured-collection', order: 2, enabled: true,  variant: 'grid-4' },\n        { section_type: 'trust-social-proof',  order: 3, enabled: true,  variant: 'evidence-led' },\n        { section_type: 'value-prop',          order: 4, enabled: true,  variant: 'icon-led' },\n      ],\n      visual_density:   'high',\n      whitespace_level: 'tight',\n    },\n    section_system: {\n      hero:               { variant: 'compact',     cta_prominence: 'balanced',  copy_density: 'medium', media_type: 'image' },\n      featured_collection:{ enabled: true,  grid_columns: 4, products_to_show: 8, show_vendor: true },\n      value_prop:         { enabled: true,  column_count: 3, style: 'icon-led' },\n      trust_social_proof: { enabled: true,  proof_mode: 'evidence-led',     block_count: 4, placement: 'before-collection' },\n    },\n    trust_model:         { primary_proof: 'evidence',        prominence: 'medium', placement: 'before-collection' },\n    conversion_model:    { cta_style: 'balanced',   urgency_level: 'low',    bundle_promo: false },\n    merchandising_model: { primary_pattern: 'product-grid',          grid_columns: 4, collection_prominence: 'primary' },\n    visual_system:       { density: 'high',   whitespace: 'tight',     contrast: 'high-clarity' },\n    page_template_rules: { product_page: 'standard',    collection_page: 'grid-with-filter', about_page: 'team-expertise' },\n    media_placement_rules: { hero_media_type: 'image', product_image_priority: 'packshot',  lifestyle_image_prominence: 'minimal' },\n  },\n\n  'editorial-curator': {\n    homepage_layout: {\n      section_stack: [\n        { section_type: 'hero',                order: 1, enabled: true,  variant: 'editorial' },\n        { section_type: 'value-prop',          order: 2, enabled: true,  variant: 'editorial-text' },\n        { section_type: 'featured-collection', order: 3, enabled: true,  variant: 'grid-2' },\n        { section_type: 'trust-social-proof',  order: 4, enabled: false, variant: 'minimal' },\n      ],\n      visual_density:   'low',\n      whitespace_level: 'generous',\n    },\n    section_system: {\n      hero:               { variant: 'editorial',   cta_prominence: 'subtle',    copy_density: 'high',   media_type: 'image' },\n      featured_collection:{ enabled: true,  grid_columns: 2, products_to_show: 4, show_vendor: false },\n      value_prop:         { enabled: true,  column_count: 2, style: 'editorial-text' },\n      trust_social_proof: { enabled: false, proof_mode: 'mixed',             block_count: 2, placement: 'end-of-page' },\n    },\n    trust_model:         { primary_proof: 'taste-curation',  prominence: 'low',    placement: 'end-of-page' },\n    conversion_model:    { cta_style: 'subtle',     urgency_level: 'none',   bundle_promo: false },\n    merchandising_model: { primary_pattern: 'editorial-grid',     grid_columns: 2, collection_prominence: 'secondary' },\n    visual_system:       { density: 'low',    whitespace: 'generous',  contrast: 'soft-editorial' },\n    page_template_rules: { product_page: 'editorial',   collection_page: 'editorial-grid',   about_page: 'brand-story' },\n    media_placement_rules: { hero_media_type: 'image', product_image_priority: 'lifestyle', lifestyle_image_prominence: 'primary' },\n  },\n\n  'single-product-focused': {\n    homepage_layout: {\n      section_stack: [\n        { section_type: 'hero',                order: 1, enabled: true,  variant: 'fullscreen-product' },\n        { section_type: 'value-prop',          order: 2, enabled: true,  variant: 'benefit-led' },\n        { section_type: 'trust-social-proof',  order: 3, enabled: true,  variant: 'guarantee-led' },\n        { section_type: 'featured-collection', order: 4, enabled: true,  variant: 'grid-3' },\n      ],\n      visual_density:   'medium',\n      whitespace_level: 'balanced',\n    },\n    section_system: {\n      hero:               { variant: 'fullscreen-product', cta_prominence: 'assertive', copy_density: 'high', media_type: 'image' },\n      featured_collection:{ enabled: true,  grid_columns: 3, products_to_show: 3, show_vendor: false },\n      value_prop:         { enabled: true,  column_count: 3, style: 'benefit-led' },\n      trust_social_proof: { enabled: true,  proof_mode: 'guarantee-led',    block_count: 4, placement: 'before-collection' },\n    },\n    trust_model:         { primary_proof: 'guarantee',       prominence: 'high',   placement: 'before-collection' },\n    conversion_model:    { cta_style: 'assertive',  urgency_level: 'medium', bundle_promo: false },\n    merchandising_model: { primary_pattern: 'featured-accessories',  grid_columns: 3, collection_prominence: 'minimal' },\n    visual_system:       { density: 'medium', whitespace: 'balanced',   contrast: 'high-clarity' },\n    page_template_rules: { product_page: 'conversion-focused', collection_page: 'grid-with-filter', about_page: 'brand-story' },\n    media_placement_rules: { hero_media_type: 'image', product_image_priority: 'lifestyle', lifestyle_image_prominence: 'primary' },\n  },\n};\n\nconst rules = PATTERN_RULES[pattern] || PATTERN_RULES['technical-b2b-specialist'];\n\nreturn [{\n  json: {\n    ...input,\n    homepage_layout:      rules.homepage_layout,\n    section_system:       rules.section_system,\n    trust_model:          rules.trust_model,\n    conversion_model:     rules.conversion_model,\n    merchandising_model:  rules.merchandising_model,\n    visual_system_rules:  rules.visual_system,\n    page_template_rules:  rules.page_template_rules,\n    media_placement_rules:rules.media_placement_rules,\n  },\n}];\n"
      },
      "id": "p10-0001-0010-0010-000000000004",
      "name": "Map Pattern to Rules",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1000, 300]
    },
    {
      "parameters": {
        "jsCode": "// build-theme-rules — Enrich Rules with Content Strategy (Phase 10F)\n// Applies content_strategy messaging and store_blueprint hints to section stack.\n// Primary message → hero heading. Brand traits → value-prop content hint.\n// Blueprint section content overrides (heading_hint, cta_label, cta_target) propagated.\n\nconst input = $input.first().json;\nconst cs        = input.content_strategy  || {};\nconst blueprint = input.store_blueprint   || {};\nconst bp        = input.brand_positioning || {};\nconst sectionStack = input.homepage_layout.section_stack;\n\n// Build blueprint lookup by section_type for fallback hints\nconst blueprintByType = {};\nfor (const s of (blueprint.theme_sections || [])) {\n  const key = (s.section_type || '').toLowerCase();\n  blueprintByType[key] = s;\n}\n\n// Primary message from content_strategy\nconst primaryMessage = (cs.messaging_hierarchy && cs.messaging_hierarchy.primary_message) || null;\n\n// Brand traits for value-prop hint\nconst brandTraits = (bp.brand_traits && bp.brand_traits.length > 0)\n  ? bp.brand_traits.slice(0, 4).join(', ')\n  : null;\n\n// Trust style hint for trust section\nconst trustProofMode = (bp.trust_style && bp.trust_style.proof_mode) || 'evidence-led';\nconst trustHint = 'Trust signals: ' + trustProofMode.replace(/-/g, ' ');\n\n// Enrich each section in stack\nconst enrichedStack = sectionStack.map(section => {\n  const bpSection = blueprintByType[section.section_type] || {};\n\n  // Start with rule defaults, then overlay blueprint hints, then apply strategy-derived hints\n  let heading_hint = section.heading_hint || bpSection.heading_hint || null;\n  let content_hint = section.content_hint || bpSection.content_hint || null;\n  let cta_label    = section.cta_label    || bpSection.cta_label    || null;\n  let cta_target   = section.cta_target   || bpSection.cta_target   || null;\n\n  if (section.section_type === 'hero') {\n    // Primary message from content_strategy overrides blueprint heading\n    if (primaryMessage && !heading_hint) {\n      heading_hint = primaryMessage;\n    }\n    // Default CTA for hero\n    if (!cta_label) cta_label = 'Shop Now';\n    if (!cta_target) cta_target = '/collections/all';\n  }\n\n  if (section.section_type === 'value-prop') {\n    if (!content_hint && brandTraits) {\n      content_hint = 'Key values: ' + brandTraits;\n    }\n    if (!heading_hint) {\n      heading_hint = 'Why Choose Us';\n    }\n  }\n\n  if (section.section_type === 'trust-social-proof') {\n    if (!content_hint) {\n      content_hint = trustHint;\n    }\n    if (!heading_hint) {\n      heading_hint = 'Trusted by Customers';\n    }\n  }\n\n  if (section.section_type === 'featured-collection') {\n    if (!heading_hint) {\n      heading_hint = 'Featured Products';\n    }\n    if (!cta_label) cta_label = 'View All';\n    if (!cta_target) cta_target = '/collections/all';\n  }\n\n  return {\n    ...section,\n    heading_hint,\n    content_hint,\n    cta_label,\n    cta_target,\n  };\n});\n\nreturn [{\n  json: {\n    ...input,\n    homepage_layout: {\n      ...input.homepage_layout,\n      section_stack: enrichedStack,\n    },\n  },\n}];\n"
      },
      "id": "p10-0001-0010-0010-000000000005",
      "name": "Enrich Rules with Content Strategy",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1250, 300]
    },
    {
      "parameters": {
        "jsCode": "// build-theme-rules — Compile Theme Rules Artifact\n// Assembles the final theme_rules artifact with status, timestamps, and derived_from provenance.\n// Also passes through all upstream artifacts so the orchestrator chain can continue.\n\nconst input = $input.first().json;\nconst sp = input.store_profile     || {};\nconst bp = input.brand_positioning || {};\nconst cs = input.content_strategy  || {};\n\nconst themeRules = {\n  status:             'PHASE_10_COMPLETE',\n  project_id:         input.project_id,\n  completed_at:       new Date().toISOString(),\n  store_pattern:      input.store_pattern,\n  pattern_rationale:  input.pattern_rationale,\n  homepage_layout:    input.homepage_layout,\n  section_system:     input.section_system,\n  trust_model:        input.trust_model,\n  conversion_model:   input.conversion_model,\n  merchandising_model:input.merchandising_model,\n  visual_system:      input.visual_system_rules,\n  page_template_rules:  input.page_template_rules,\n  media_placement_rules:input.media_placement_rules,\n  derived_from: {\n    brand_role:        bp.brand_role         || null,\n    tone_of_voice:     (bp.tone_of_voice && bp.tone_of_voice.style) || null,\n    price_positioning: sp.price_positioning  || null,\n    store_type:        sp.store_type         || null,\n    catalog_type:      sp.catalog_type       || null,\n    trust_style:       (bp.trust_style && bp.trust_style.proof_mode) || null,\n    conversion_style:  (bp.conversion_style && bp.conversion_style.cta_style) || null,\n    primary_message:   (cs.messaging_hierarchy && cs.messaging_hierarchy.primary_message) || null,\n  },\n};\n\nconsole.log('build-theme-rules: pattern=' + themeRules.store_pattern + ' sections=' + themeRules.homepage_layout.section_stack.filter(s => s.enabled).length + ' enabled');\n\n// Return theme_rules embedded in the full artifact passthrough\n// Orchestrator reads theme_rules from this output and passes to build-shopify-theme\nreturn [{\n  json: {\n    project_id:          input.project_id,\n    runtime_config:      input.runtime_config,\n    store_profile:       input.store_profile,\n    brand_positioning:   input.brand_positioning,\n    market_intelligence: input.market_intelligence,\n    competitor_clusters: input.competitor_clusters,\n    strategy_synthesis:  input.strategy_synthesis,\n    offer_architecture:  input.offer_architecture,\n    content_strategy:    input.content_strategy,\n    store_blueprint:     input.store_blueprint,\n    theme_rules:         themeRules,\n  },\n}];\n"
      },
      "id": "p10-0001-0010-0010-000000000006",
      "name": "Compile Theme Rules",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1500, 300]
    }
  ],
  "connections": {
    "Subworkflow Trigger": {
      "main": [[{ "node": "Validate Inputs", "type": "main", "index": 0 }]]
    },
    "Validate Inputs": {
      "main": [[{ "node": "Classify Store Pattern", "type": "main", "index": 0 }]]
    },
    "Classify Store Pattern": {
      "main": [[{ "node": "Map Pattern to Rules", "type": "main", "index": 0 }]]
    },
    "Map Pattern to Rules": {
      "main": [[{ "node": "Enrich Rules with Content Strategy", "type": "main", "index": 0 }]]
    },
    "Enrich Rules with Content Strategy": {
      "main": [[{ "node": "Compile Theme Rules", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "any"
  }
}
