workflows/n8n/build-market-intelligence.n8n.json
{
  "name": "build-market-intelligence",
  "nodes": [
    {
      "parameters": {},
      "id": "f6a7b8c9-0006-0006-0006-000000000001",
      "name": "Subworkflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "jsCode": "// build-market-intelligence — Validate and Extract Signals\n// Validates required upstream inputs and extracts market signals for LLM prompt.\n//\n// CLOUD MODE: all data arrives via n8n item pipeline from orchestrator.\n//             shopify_import is passed inline (no disk read).\n// SELF-HOSTED: same pipeline. shopify_import may be absent if catalog context\n//              was not forwarded — the workflow degrades gracefully.\n//\n// Catalog context (shopify_import) is optional.\n// If absent, market_subcategories will be omitted from synthesis.\n\nlet cloudMode = false;\ntry { require('fs'); } catch (_e) { cloudMode = true; }\n\nconst input = $input.first().json;\nconst storeProfile = input.store_profile;\nconst intakePayload = input.normalized_intake_payload;\nconst shopifyImport = input.shopify_import || null; // optional\nconst runtimeConfig = input.runtime_config;\nconst projectId = input.project_id;\n\n// Propagate cloud_mode from upstream if set\nif (!cloudMode && runtimeConfig && runtimeConfig.cloud_mode) {\n  cloudMode = true;\n}\n\n// Required inputs\nif (!storeProfile || !storeProfile.store_id) {\n  throw new Error('MISSING_ARTIFACT: store_profile with store_id is required. Run build-store-profile first.');\n}\nif (!intakePayload) {\n  throw new Error('MISSING_ARTIFACT: normalized_intake_payload is required. Run intake-store-input first.');\n}\nif (!runtimeConfig) {\n  throw new Error('MISSING_RUNTIME_CONFIG: runtime_config is required.');\n}\nif (!projectId) {\n  throw new Error('MISSING_INPUT: project_id is required.');\n}\n\n// Required store_profile fields\nconst profileRequired = ['store_id', 'vertical', 'price_positioning', 'primary_market', 'store_type', 'catalog_type'];\nconst profileMissing = profileRequired.filter(f => !storeProfile[f]);\nif (profileMissing.length > 0) {\n  throw new Error(`MISSING_ARTIFACT: store_profile missing required fields: ${profileMissing.join(', ')}`);\n}\n\n// Catalog context — optional\nconst rawProducts = (shopifyImport && shopifyImport.raw_products) ? shopifyImport.raw_products : [];\nconst rawCollections = (shopifyImport && shopifyImport.raw_collections) ? shopifyImport.raw_collections : [];\nconst hasCatalogContext = rawProducts.length > 0 || rawCollections.length > 0;\n\nif (!hasCatalogContext) {\n  console.warn(\n    'CATALOG_CONTEXT_UNAVAILABLE: No Shopify product/collection data found in input. ' +\n    'Falling back to vertical-only synthesis. market_subcategories will be omitted.'\n  );\n}\n\n// Extract and deduplicate catalog signals (bounded to keep prompt lean)\nconst catalogContext = hasCatalogContext ? {\n  product_types: [...new Set(rawProducts.map(p => p.product_type).filter(Boolean))].slice(0, 10),\n  collection_titles: [...new Set(rawCollections.map(c => c.title).filter(Boolean))].slice(0, 10),\n  vendor_names: [...new Set(rawProducts.map(p => p.vendor).filter(Boolean))].slice(0, 10),\n} : null;\n\nconst marketSignals = {\n  // From store_profile\n  store_id: storeProfile.store_id,\n  store_name: storeProfile.store_name || storeProfile.store_id,\n  store_type: storeProfile.store_type,\n  vertical: storeProfile.vertical,\n  price_positioning: storeProfile.price_positioning,\n  primary_market: storeProfile.primary_market,\n  target_markets: storeProfile.target_markets || [storeProfile.primary_market],\n  primary_language: storeProfile.primary_language || 'en',\n  catalog_type: storeProfile.catalog_type,\n  brand_maturity: storeProfile.brand_maturity || 'new',\n  business_model: storeProfile.business_model || 'ecommerce',\n  // From intake\n  competitor_urls: intakePayload.competitor_urls || [],\n  seo_goal: intakePayload.seo_goal || null,\n  aeo_goal: intakePayload.aeo_goal || null,\n  knowledge_content_priority: intakePayload.knowledge_content_priority || null,\n  faq_intensity: intakePayload.faq_intensity || null,\n  special_notes: intakePayload.special_notes || null,\n  // Catalog context\n  catalog_context: catalogContext,\n  has_catalog_context: hasCatalogContext,\n};\n\nreturn [{\n  json: {\n    project_id: projectId,\n    runtime_config: runtimeConfig,\n    store_profile: storeProfile,\n    market_signals: marketSignals,\n    has_catalog_context: hasCatalogContext,\n    cloud_mode: cloudMode,\n  },\n}];\n"
      },
      "id": "f6a7b8c9-0006-0006-0006-000000000002",
      "name": "Validate and Extract Signals",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [500, 300]
    },
    {
      "parameters": {
        "jsCode": "// build-market-intelligence — Build LLM Prompt\n// Assembles the structured prompt for market intelligence synthesis.\n// Evidence boundary: internal signals only — no external market research.\n\nconst input = $input.first().json;\nconst signals = input.market_signals;\nconst hasCatalog = input.has_catalog_context;\n\n// Determine which optional fields to request\nconst optionalFields = [];\nif (signals.knowledge_content_priority && signals.knowledge_content_priority !== 'none') {\n  optionalFields.push('content_opportunities');\n}\nif (signals.seo_goal) {\n  optionalFields.push('seo_considerations');\n}\nif (signals.aeo_goal) {\n  optionalFields.push('aeo_considerations');\n}\n\nconst catalogLines = hasCatalog ? [\n  'CATALOG CONTEXT (use as evidence for market subcategories):',\n  '- Product types: ' + (signals.catalog_context.product_types.join(', ') || 'none'),\n  '- Collection titles: ' + (signals.catalog_context.collection_titles.join(', ') || 'none'),\n  '- Vendor names: ' + (signals.catalog_context.vendor_names.join(', ') || 'none'),\n].join('\\n') : 'CATALOG CONTEXT: Not available. Do NOT include market_subcategories in output.';\n\nconst competitorLine = (signals.competitor_urls && signals.competitor_urls.length > 0)\n  ? 'COMPETITOR URL HINTS (for archetype labeling only — do not crawl): ' + signals.competitor_urls.join(', ')\n  : 'COMPETITOR URLS: None provided. Classify competitor archetypes from vertical context only.';\n\nconst optionalSection = optionalFields.length > 0\n  ? 'OPTIONAL FIELDS TO INCLUDE IN OUTPUT: ' + optionalFields.join(', ')\n  : 'OPTIONAL FIELDS: Omit content_opportunities, seo_considerations, aeo_considerations.';\n\nconst synthesisNote = [\n  'SYNTHESIS-ONLY: Generated by LLM from internal store signals on ' + new Date().toISOString() + '.',\n  'Not validated against external market research.',\n  'Treat all values as planning hypotheses requiring human review.',\n  'Signals: vertical=' + signals.vertical + ', market=' + signals.primary_market + ', price_tier=' + signals.price_positioning + '.',\n].join(' ');\n\nconst schemaLines = [\n  '{',\n  '  \"market_category\": \"human-readable market category expanded from the vertical\",',\n  hasCatalog ? '  \"market_subcategories\": [\"subcategory strings inferred from product types and collection titles\"],' : '',\n  '  \"audience_segments\": [{\"segment_name\": \"string\", \"description\": \"string\", \"purchase_drivers\": [\"string\"], \"barriers\": [\"string\"]}],',\n  '  \"core_problems\": [\"string — problems this product category solves\"],',\n  '  \"purchase_motivators\": [\"string — key motivators in this vertical and price tier\"],',\n  '  \"search_intents\": [{\"intent_type\": \"informational|commercial|transactional|navigational|comparison\", \"description\": \"string\", \"example_queries\": [\"string\"]}],',\n  '  \"trust_factors\": [\"string — trust signals for this vertical and price positioning\"],',\n  '  \"competitor_types\": [{\"type_name\": \"string\", \"description\": \"string\", \"strengths\": [\"string\"], \"weaknesses\": [\"string\"]}],',\n  '  \"positioning_goals\": [\"string — strategic positioning objectives for this store\"],',\n  optionalFields.includes('content_opportunities') ? '  \"content_opportunities\": [\"string\"],' : '',\n  optionalFields.includes('seo_considerations') ? '  \"seo_considerations\": [\"string\"],' : '',\n  optionalFields.includes('aeo_considerations') ? '  \"aeo_considerations\": [\"string\"],' : '',\n  '  \"notes\": \"' + synthesisNote + '\"',\n  '}',\n].filter(l => l !== '').join('\\n');\n\nconst llmPrompt = [\n  'You are a market intelligence analyst for an e-commerce store.',\n  'Synthesize structured market intelligence exclusively from the internal store signals provided below.',\n  '',\n  'CONSTRAINTS:',\n  '- Do NOT invent statistics, market share figures, search volumes, or demographic data.',\n  '- All outputs are planning hypotheses — do not claim research certainty.',\n  '- search_intents[*].intent_type must be one of: informational, commercial, transactional, navigational, comparison',\n  '- Output valid JSON only. No markdown fences. No explanation outside the JSON object.',\n  '',\n  'STORE SIGNALS:',\n  '- Vertical: ' + signals.vertical,\n  '- Store type: ' + signals.store_type,\n  '- Price positioning: ' + signals.price_positioning,\n  '- Business model: ' + signals.business_model,\n  '- Brand maturity: ' + signals.brand_maturity,\n  '- Primary market: ' + signals.primary_market,\n  '- Target markets: ' + (signals.target_markets || []).join(', '),\n  '- SEO goal: ' + (signals.seo_goal || 'not specified'),\n  '- AEO goal: ' + (signals.aeo_goal || 'not specified'),\n  '- FAQ intensity: ' + (signals.faq_intensity || 'not specified'),\n  '- Special notes: ' + (signals.special_notes || 'none'),\n  '',\n  catalogLines,\n  '',\n  competitorLine,\n  '',\n  optionalSection,\n  '',\n  'OUTPUT JSON SCHEMA (produce exactly this structure, populated with synthesized values):',\n  schemaLines,\n].join('\\n');\n\nreturn [{\n  json: {\n    project_id: input.project_id,\n    runtime_config: input.runtime_config,\n    store_profile: input.store_profile,\n    market_signals: signals,\n    has_catalog_context: hasCatalog,\n    cloud_mode: input.cloud_mode,\n    optional_fields: optionalFields,\n    llm_prompt: llmPrompt,\n  },\n}];\n"
      },
      "id": "f6a7b8c9-0006-0006-0006-000000000003",
      "name": "Build LLM Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [750, 300]
    },
    {
      "parameters": {
        "resource": "chat",
        "operation": "complete",
        "chatModel": "gpt-4o",
        "prompt": {
          "messages": [
            {
              "role": "user",
              "content": "={{ $json.llm_prompt }}"
            }
          ]
        },
        "simplifyOutput": true,
        "options": {
          "temperature": 0.3,
          "maxTokens": 2000
        }
      },
      "credentials": {
        "openAiApi": {
          "id": "REPLACE_WITH_N8N_OPENAI_CREDENTIAL_ID",
          "name": "OpenAI account"
        }
      },
      "id": "f6a7b8c9-0006-0006-0006-000000000004",
      "name": "LLM Synthesis: Market Analysis",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1.1,
      "position": [1000, 300],
      "notes": "SETUP: Replace REPLACE_WITH_N8N_OPENAI_CREDENTIAL_ID with your n8n OpenAI credential ID. Find it in n8n > Settings > Credentials > your OpenAI credential > the numeric ID in the URL. The chatModel field defaults to gpt-4o — update if your runtime uses a different model."
    },
    {
      "parameters": {
        "jsCode": "// build-market-intelligence — Parse, Normalize, and Write\n// Parses the LLM response, validates structure, and writes the artifact.\n//\n// CLOUD MODE: AJV validation and filesystem write are skipped.\n//             market_intelligence is returned inline in output.\n// SELF-HOSTED: Validates against schemas/market-intelligence.schema.json via AJV.\n//              Writes atomically to projects/{project_id}/market-intelligence.json.\n//              Updates checkpoint.json if present. Quarantines on schema failure.\n\nlet fs, path;\nlet cloudMode = false;\ntry {\n  fs = require('fs');\n  path = require('path');\n} catch (_e) {\n  cloudMode = true;\n}\n\n// LLM response from OpenAI node\nconst llmOutput = $input.first().json;\n\n// Upstream context from Build LLM Prompt node\nconst upstream = $node['Build LLM Prompt'].json;\n\n// Propagate cloud_mode from upstream\nif (!cloudMode && upstream.cloud_mode) cloudMode = true;\nif (!cloudMode && upstream.runtime_config && upstream.runtime_config.cloud_mode) cloudMode = true;\n\nconst projectId = upstream.project_id;\nconst runtimeConfig = upstream.runtime_config;\nconst storeProfile = upstream.store_profile;\nconst optionalFields = upstream.optional_fields || [];\nconst hasCatalogContext = upstream.has_catalog_context || false;\n\n// Extract text from OpenAI node output (simplifyOutput: true → message.content)\nconst rawText = (llmOutput.message && llmOutput.message.content)\n  ? llmOutput.message.content\n  : (typeof llmOutput === 'string' ? llmOutput : JSON.stringify(llmOutput));\n\n// Parse LLM response\nlet marketIntelligence;\ntry {\n  let cleaned = rawText.trim();\n  // Strip markdown code fences if present\n  if (cleaned.startsWith('```')) {\n    cleaned = cleaned.replace(/^```(?:json)?\\s*/i, '').replace(/\\s*```$/, '').trim();\n  }\n  marketIntelligence = JSON.parse(cleaned);\n} catch (err) {\n  throw new Error(\n    'PARSE_ERROR: Failed to parse LLM response as JSON: ' + err.message +\n    '. Raw response (first 500 chars): ' + String(rawText).slice(0, 500)\n  );\n}\n\n// Validate required fields\nif (!marketIntelligence.market_category) {\n  throw new Error('MISSING_FIELD: LLM response missing required field: market_category.');\n}\n\nconst requiredArrayFields = ['audience_segments', 'core_problems', 'purchase_motivators', 'search_intents', 'trust_factors', 'competitor_types', 'positioning_goals'];\nfor (const field of requiredArrayFields) {\n  if (!marketIntelligence[field]) {\n    throw new Error('MISSING_FIELD: LLM response missing required field: ' + field);\n  }\n  if (!Array.isArray(marketIntelligence[field]) || marketIntelligence[field].length === 0) {\n    throw new Error('INVALID_FIELD: ' + field + ' must be a non-empty array. Got: ' + JSON.stringify(marketIntelligence[field]));\n  }\n}\n\n// Validate search_intents enum\nconst validIntentTypes = ['informational', 'commercial', 'transactional', 'navigational', 'comparison'];\nfor (const intent of marketIntelligence.search_intents) {\n  if (!validIntentTypes.includes(intent.intent_type)) {\n    throw new Error(\n      'SCHEMA_VIOLATION: search_intents[].intent_type \"' + intent.intent_type + '\" is not valid. ' +\n      'Must be one of: ' + validIntentTypes.join(', ')\n    );\n  }\n}\n\n// Validate audience_segments structure\nfor (const seg of marketIntelligence.audience_segments) {\n  if (!seg.segment_name || !seg.description) {\n    throw new Error('SCHEMA_VIOLATION: Each audience_segment must have segment_name and description.');\n  }\n  if (!seg.purchase_drivers || !Array.isArray(seg.purchase_drivers) || seg.purchase_drivers.length === 0) {\n    throw new Error('SCHEMA_VIOLATION: Each audience_segment must have purchase_drivers (non-empty array).');\n  }\n}\n\n// Validate competitor_types structure\nfor (const ct of marketIntelligence.competitor_types) {\n  if (!ct.type_name || !ct.description) {\n    throw new Error('SCHEMA_VIOLATION: Each competitor_type must have type_name and description.');\n  }\n}\n\n// Remove market_subcategories if catalog context was unavailable\nif (!hasCatalogContext && marketIntelligence.market_subcategories) {\n  console.warn('CATALOG_CONTEXT_UNAVAILABLE: Removing market_subcategories — no catalog context was available.');\n  delete marketIntelligence.market_subcategories;\n}\n\n// Remove optional fields if they were not requested\nfor (const f of ['content_opportunities', 'seo_considerations', 'aeo_considerations']) {\n  if (!optionalFields.includes(f) && marketIntelligence[f]) {\n    delete marketIntelligence[f];\n  }\n}\n\n// Ensure notes field has synthesis label\nif (!marketIntelligence.notes || !marketIntelligence.notes.includes('SYNTHESIS-ONLY')) {\n  marketIntelligence.notes = [\n    'SYNTHESIS-ONLY: This artifact was generated by LLM synthesis from internal store signals.',\n    'It has not been validated against external market research.',\n    'Treat all values as planning hypotheses requiring human review.',\n    'Generated: ' + new Date().toISOString() + '.',\n    'Signals: vertical=' + storeProfile.vertical + ', market=' + storeProfile.primary_market + ', price_tier=' + storeProfile.price_positioning + '.',\n  ].join(' ');\n}\n\nif (cloudMode) {\n  // CLOUD SKIP: No AJV schema validation. No filesystem write.\n  console.warn(\n    'CLOUD_MODE: build-market-intelligence skipping AJV validation and artifact write for project: ' + projectId + '. ' +\n    'market_intelligence returned inline.'\n  );\n  return [{\n    json: {\n      project_id: projectId,\n      artifact_name: 'market-intelligence',\n      artifact_path: null,\n      market_intelligence: marketIntelligence,\n      runtime_config: runtimeConfig,\n      status: 'SUCCESS',\n      cloud_mode: true,\n      cloud_warnings: [\n        'AJV schema validation skipped — no schema files accessible in n8n Cloud',\n        'Artifact write skipped — no filesystem in n8n Cloud',\n        'Checkpoint update skipped — no filesystem in n8n Cloud',\n      ],\n      notes: [\n        !hasCatalogContext ? 'WARNING: No catalog context available. Synthesis based on vertical signals only. market_subcategories omitted.' : null,\n      ].filter(Boolean),\n    },\n  }];\n}\n\n// SELF-HOSTED: AJV schema validation\nconst schemaPath = path.join(runtimeConfig.ajv_schema_path, 'market-intelligence.schema.json');\nif (!fs.existsSync(schemaPath)) {\n  throw new Error('SCHEMA_LOAD_ERROR: market-intelligence.schema.json not found at ' + schemaPath);\n}\nconst schema = JSON.parse(fs.readFileSync(schemaPath, 'utf8'));\n\nlet AjvClass;\ntry {\n  AjvClass = require('ajv/dist/2020');\n} catch {\n  try { AjvClass = require('ajv'); } catch (err) {\n    throw new Error('SCHEMA_LOAD_ERROR: AJV not available: ' + err.message);\n  }\n}\n\nconst ajv = new AjvClass({ allErrors: true, strict: false });\nconst validate = ajv.compile(schema);\nconst valid = validate(marketIntelligence);\n\nif (!valid) {\n  const quarantineDir = path.join(runtimeConfig.project_root, projectId, '.runtime', 'quarantine');\n  fs.mkdirSync(quarantineDir, { recursive: true });\n  const ts = new Date().toISOString().replace(/[:.]/g, '-');\n  const quarantinePath = path.join(quarantineDir, 'market-intelligence.' + ts + '.rejected.json');\n  fs.writeFileSync(quarantinePath, JSON.stringify({\n    quarantine_reason: 'SCHEMA_VIOLATION',\n    artifact_name: 'market-intelligence',\n    workflow_id: 'build-market-intelligence',\n    validation_errors: validate.errors,\n    timestamp: new Date().toISOString(),\n    project_id: projectId,\n    artifact_payload: marketIntelligence,\n  }, null, 2), 'utf8');\n  const errorSummary = (validate.errors || []).map(e => (e.instancePath || '(root)') + ' ' + e.message).join('; ');\n  throw new Error(\n    'SCHEMA_VIOLATION: market-intelligence failed validation. Quarantined to ' + quarantinePath + '. Errors: ' + errorSummary\n  );\n}\n\n// Atomic write\nconst projectDir = path.join(runtimeConfig.project_root, projectId);\nconst finalPath = path.join(projectDir, 'market-intelligence.json');\nconst tmpPath = path.join(projectDir, 'market-intelligence.tmp.json');\nfs.mkdirSync(projectDir, { recursive: true });\nfs.writeFileSync(tmpPath, JSON.stringify(marketIntelligence, null, 2), 'utf8');\nfs.renameSync(tmpPath, finalPath);\n\n// Update checkpoint\nconst checkpointPath = path.join(runtimeConfig.project_root, projectId, '.runtime', 'checkpoint.json');\nconst now = new Date().toISOString();\ntry {\n  const checkpoint = JSON.parse(fs.readFileSync(checkpointPath, 'utf8'));\n  checkpoint.completed_workflows.push({\n    workflow_id: 'build-market-intelligence',\n    completed_at: now,\n    output_artifact: 'market-intelligence.json',\n    status: 'SUCCESS',\n  });\n  checkpoint.last_updated_timestamp = now;\n  checkpoint.next_workflow = 'build-brand-positioning';\n  const cpTmp = checkpointPath + '.tmp';\n  fs.writeFileSync(cpTmp, JSON.stringify(checkpoint, null, 2), 'utf8');\n  fs.renameSync(cpTmp, checkpointPath);\n} catch { /* non-fatal */ }\n\nreturn [{\n  json: {\n    project_id: projectId,\n    artifact_name: 'market-intelligence',\n    artifact_path: finalPath,\n    market_intelligence: marketIntelligence,\n    runtime_config: runtimeConfig,\n    status: 'SUCCESS',\n    notes: [\n      !hasCatalogContext ? 'WARNING: No catalog context available. Synthesis based on vertical signals only.' : null,\n    ].filter(Boolean),\n  },\n}];\n"
      },
      "id": "f6a7b8c9-0006-0006-0006-000000000005",
      "name": "Parse Normalize and Write",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1250, 300]
    }
  ],
  "connections": {
    "Subworkflow Trigger": {
      "main": [
        [{ "node": "Validate and Extract Signals", "type": "main", "index": 0 }]
      ]
    },
    "Validate and Extract Signals": {
      "main": [
        [{ "node": "Build LLM Prompt", "type": "main", "index": 0 }]
      ]
    },
    "Build LLM Prompt": {
      "main": [
        [{ "node": "LLM Synthesis: Market Analysis", "type": "main", "index": 0 }]
      ]
    },
    "LLM Synthesis: Market Analysis": {
      "main": [
        [{ "node": "Parse Normalize and Write", "type": "main", "index": 0 }]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "_meta": {
    "storeOs": {
      "phase": "Phase 13",
      "format": "n8n-executable",
      "sourceSpec": "workflows/subflows/build-market-intelligence.json",
      "outputSchema": "schemas/market-intelligence.schema.json",
      "cloudCompatibility": "PARTIAL — signal extraction, prompt building, and LLM synthesis run in both modes. In cloud mode: (1) shopify_import is read from the n8n trigger input payload instead of disk, (2) AJV schema validation is skipped, (3) artifact write and checkpoint update are skipped. market_intelligence is returned inline.",
      "invocation": "Called as a subworkflow by orchestrate-phase1 (after build-store-profile). Expects Subworkflow Trigger input: { project_id, store_profile, normalized_intake_payload, runtime_config [, shopify_import (cloud/optional)] }",
      "output": "{ project_id, artifact_name, artifact_path, market_intelligence, runtime_config, status, notes [, cloud_mode, cloud_warnings] }",
      "setupRequired": [
        "Replace REPLACE_WITH_N8N_OPENAI_CREDENTIAL_ID in 'LLM Synthesis: Market Analysis' with your n8n OpenAI credential ID.",
        "Self-hosted: ensure STORE_OS_AJV_SCHEMA_PATH points to the schemas/ directory and ajv@8 is installed in n8n node_modules.",
        "Cloud mode: OpenAI credential must be configured in n8n. shopify_import must be forwarded inline from orchestrate-phase1's Prepare Market Intel Input node."
      ],
      "cloudSkipped": [
        "AJV schema validation — no local schema files in n8n Cloud",
        "Artifact write (market-intelligence.json) — no filesystem in n8n Cloud",
        "Checkpoint update — no filesystem in n8n Cloud"
      ],
      "notes": [
        "All LLM outputs are synthesis-based planning hypotheses — not confirmed market research.",
        "catalog_context (shopify_import) improves synthesis quality but is not required. Without it, market_subcategories is omitted.",
        "competitor_urls from intake are used as labeling hints for LLM archetype classification only — not crawled.",
        "media_opportunities is intentionally not synthesized here — deferred to build-media-plan.",
        "Temperature 0.3 for deterministic structured output. Max tokens 2000 covers all required schema fields."
      ]
    }
  }
}
