workflows/n8n/build-offer-architecture.n8n.json
{
  "_meta": {
    "workflow_name": "build-offer-architecture",
    "phase": "6a",
    "description": "Phase 6a: Synthesises offer architecture (core offer, pricing logic, bundles, upsell paths) from strategy_synthesis + brand_positioning.",
    "version": "1.0.0",
    "last_updated": "2026-04-07",
    "placeholder_ids": [
      "REPLACE_WITH_N8N_OPENAI_CREDENTIAL_ID"
    ]
  },
  "name": "build-offer-architecture",
  "nodes": [
    {
      "parameters": {},
      "id": "f0a1b2c3-0006-0006-0006-000000000001",
      "name": "Subworkflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        250,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "// build-offer-architecture \u2014 Validate Upstream Inputs\n// Checks all required upstream artifacts are present and well-formed.\n// This node receives the full pipeline context from the orchestrator.\n//\n// CLOUD MODE: all data arrives inline via n8n pipeline. No filesystem access.\n\nlet cloudMode = false;\ntry { require('fs'); } catch (_e) { cloudMode = true; }\n\nconst input = $input.first().json;\nconst strategySynthesis = input.strategy_synthesis;\nconst brandPositioning  = input.brand_positioning;\nconst marketIntelligence = input.market_intelligence;\nconst intakePayload     = input.normalized_intake_payload;\nconst runtimeConfig     = input.runtime_config;\nconst projectId         = input.project_id;\n\n// Propagate cloud_mode from upstream\nif (!cloudMode && runtimeConfig && runtimeConfig.cloud_mode) cloudMode = true;\n\n// Required presence checks\nif (!strategySynthesis) {\n  throw new Error('MISSING_ARTIFACT: strategy_synthesis is required. Run build-strategy-synthesis first.');\n}\nif (!strategySynthesis.growth_thesis) {\n  throw new Error('MISSING_ARTIFACT: strategy_synthesis.growth_thesis is required.');\n}\nif (!strategySynthesis.positioning_focus) {\n  throw new Error('MISSING_ARTIFACT: strategy_synthesis.positioning_focus is required.');\n}\nif (!Array.isArray(strategySynthesis.opportunity_priorities) || strategySynthesis.opportunity_priorities.length === 0) {\n  throw new Error('MISSING_ARTIFACT: strategy_synthesis.opportunity_priorities must be a non-empty array.');\n}\nif (!brandPositioning || !brandPositioning.value_proposition) {\n  throw new Error('MISSING_ARTIFACT: brand_positioning with value_proposition is required. Run build-brand-positioning first.');\n}\nif (!intakePayload) {\n  throw new Error('MISSING_ARTIFACT: normalized_intake_payload is required. Run intake-store-input first.');\n}\nif (!intakePayload.price_positioning) {\n  throw new Error('MISSING_ARTIFACT: normalized_intake_payload.price_positioning is required.');\n}\nif (!intakePayload.vertical) {\n  throw new Error('MISSING_ARTIFACT: normalized_intake_payload.vertical is required.');\n}\nif (!runtimeConfig) {\n  throw new Error('MISSING_RUNTIME_CONFIG: runtime_config is required.');\n}\nif (!projectId) {\n  throw new Error('MISSING_INPUT: project_id is required.');\n}\n\nconsole.log('build-offer-architecture: inputs validated. cloud=' + cloudMode + ' project=' + projectId);\n\nreturn [{\n  json: {\n    project_id:                 projectId,\n    runtime_config:             runtimeConfig,\n    strategy_synthesis:         strategySynthesis,\n    brand_positioning:          brandPositioning,\n    market_intelligence:        marketIntelligence || null,\n    normalized_intake_payload:  intakePayload,\n    cloud_mode:                 cloudMode,\n  },\n}];\n"
      },
      "id": "f0a1b2c3-0006-0006-0006-000000000002",
      "name": "Validate Upstream Inputs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        500,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "// build-offer-architecture \u2014 Build LLM Synthesis Prompt\n// Extracts signals from strategy_synthesis + brand_positioning + market_intelligence\n// and assembles a structured prompt for offer architecture generation.\n//\n// Evidence boundary:\n//   - LLM inference from internal signals only.\n//   - No external research, no crawling.\n//   - All outputs are planning hypotheses requiring human verification.\n\nconst input = $input.first().json;\nconst ss    = input.strategy_synthesis;\nconst bp    = input.brand_positioning;\nconst mi    = input.market_intelligence || {};\nconst ip    = input.normalized_intake_payload;\nconst cloudMode = input.cloud_mode || false;\n\n// \u2500\u2500\u2500 Extract Strategy Synthesis signals \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\nconst growthThesis = ss.growth_thesis || {};\nconst growthStatement = typeof growthThesis === 'string' ? growthThesis\n  : (growthThesis.statement || JSON.stringify(growthThesis));\nconst growthRationale = typeof growthThesis === 'object' ? (growthThesis.rationale || '') : '';\n\nconst positioningFocus = ss.positioning_focus || {};\nconst positioningAngle = typeof positioningFocus === 'string' ? positioningFocus\n  : (positioningFocus.primary_angle || JSON.stringify(positioningFocus));\n\nconst opportunities = (ss.opportunity_priorities || []).slice(0, 4).map(function(o) {\n  return typeof o === 'string' ? o : (o.opportunity || JSON.stringify(o));\n});\nconst risks = (ss.risk_priorities || []).slice(0, 3).map(function(r) {\n  return typeof r === 'string' ? r : (r.risk || JSON.stringify(r));\n});\nconst offerImplications = (ss.offer_implications || []).slice(0, 4);\nconst moatHypotheses = (ss.moat_hypotheses || []).slice(0, 3).map(function(m) {\n  return typeof m === 'string' ? m : (m.hypothesis || JSON.stringify(m));\n});\n\n// \u2500\u2500\u2500 Extract Brand Positioning signals \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\nconst valueProposition  = bp.value_proposition || '';\nconst positioningStmt   = bp.positioning_statement || '';\nconst differentiators   = (bp.differentiators || []).slice(0, 5);\nconst brandRole         = bp.brand_role || 'specialist';\nconst messagingPillars  = (bp.messaging_pillars || []).slice(0, 3).map(function(p) {\n  return typeof p === 'string' ? p : (p.pillar_name + (p.description ? ': ' + p.description.slice(0, 80) : ''));\n});\n\n// \u2500\u2500\u2500 Extract intake signals \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\nconst pricePositioning  = ip.price_positioning || 'unknown';\nconst vertical          = ip.vertical || 'unknown';\nconst primaryMarket     = ip.primary_market || 'unknown';\nconst storeType         = ip.store_type || 'unknown';\nconst projectName       = ip.project_name || ip.project_id || 'unknown';\n\n// \u2500\u2500\u2500 Extract Market Intelligence signals (optional) \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\nconst priceBandLogic    = mi.price_band_logic || null;\nconst purchaseMotivators = (mi.purchase_motivators || []).slice(0, 3).map(function(m) {\n  return typeof m === 'string' ? m : (m.motivator || JSON.stringify(m));\n});\nconst audienceSegments  = (mi.audience_segments || []).slice(0, 2).map(function(s) {\n  return typeof s === 'string' ? s : ((s.segment_name || 'segment') + (s.description ? ': ' + String(s.description).slice(0, 80) : ''));\n});\n\n// \u2500\u2500\u2500 Build prompt \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\nconst prompt = [\n  'You are a senior e-commerce strategist building the offer architecture for a new Shopify store.',\n  'Based on the strategic intelligence below, generate a structured offer architecture.',\n  '',\n  '## Store Context',\n  'Project: ' + projectName,\n  'Vertical: ' + vertical,\n  'Price positioning: ' + pricePositioning,\n  'Store type: ' + storeType,\n  'Market: ' + primaryMarket,\n  '',\n  '## Strategic Intelligence',\n  '### Growth Thesis',\n  growthStatement,\n  growthRationale ? ('Rationale: ' + growthRationale) : '',\n  '',\n  '### Positioning Focus',\n  positioningAngle,\n  '',\n  '### Brand Value Proposition',\n  valueProposition,\n  positioningStmt ? ('Positioning: ' + positioningStmt) : '',\n  '',\n  '### Key Differentiators',\n  differentiators.slice(0, 5).map(function(d, i) { return (i+1) + '. ' + (typeof d === 'string' ? d : JSON.stringify(d)); }).join('\\n'),\n  '',\n  opportunities.length ? ('### Opportunities to Exploit\\n' + opportunities.map(function(o, i) { return (i+1) + '. ' + o; }).join('\\n')) : '',\n  risks.length ? ('### Risks to Mitigate\\n' + risks.map(function(r, i) { return (i+1) + '. ' + r; }).join('\\n')) : '',\n  offerImplications.length ? ('### Strategic Offer Implications\\n' + offerImplications.map(function(i) { return '- ' + i; }).join('\\n')) : '',\n  moatHypotheses.length ? ('### Moat Hypotheses\\n' + moatHypotheses.map(function(m) { return '- ' + m; }).join('\\n')) : '',\n  messagingPillars.length ? ('### Brand Messaging Pillars\\n' + messagingPillars.map(function(p) { return '- ' + p; }).join('\\n')) : '',\n  purchaseMotivators.length ? ('### Purchase Motivators\\n' + purchaseMotivators.map(function(m) { return '- ' + m; }).join('\\n')) : '',\n  priceBandLogic ? ('### Price Band Context\\n' + (typeof priceBandLogic === 'string' ? priceBandLogic : JSON.stringify(priceBandLogic))) : '',\n  audienceSegments.length ? ('### Audience Segments\\n' + audienceSegments.map(function(s) { return '- ' + s; }).join('\\n')) : '',\n  '',\n  '## Output Requirements',\n  'Return a JSON object with exactly this structure (no markdown fences):',\n  '{',\n  '  \"core_offer\": {',\n  '    \"headline\": \"One-line offer statement for the store\",',\n  '    \"value_proposition\": \"Why this offer wins for the target buyer\",',\n  '    \"target_buyer\": \"Specific buyer persona or segment description\",',\n  '    \"proof_points\": [\"Evidence point 1\", \"Evidence point 2\", \"Evidence point 3\"]',\n  '  },',\n  '  \"pricing_logic\": {',\n  '    \"tier\": \"' + pricePositioning + '\",',\n  '    \"anchor_strategy\": \"How price anchoring is used\",',\n  '    \"price_range_signal\": \"Indicative price range language for this category\",',\n  '    \"bulk_pricing\": true/false,',\n  '    \"subscription_model\": true/false',\n  '  },',\n  '  \"bundle_opportunities\": [',\n  '    { \"name\": \"Bundle name\", \"rationale\": \"Why this bundle works\", \"components\": [\"Product A\", \"Product B\"], \"estimated_uplift\": \"e.g. +15% AOV\" }',\n  '  ],',\n  '  \"upsell_paths\": [',\n  '    { \"from\": \"Entry product/category\", \"to\": \"Upsell target\", \"trigger\": \"When/why this upsell appears\" }',\n  '  ],',\n  '  \"offer_narrative\": \"1-3 paragraph narrative synthesising the offer architecture for content and GTM use.\",',\n  '  \"offer_gaps\": [\"Gap or unknown that needs merchant input\"],',\n  '  \"validation_questions\": [\"Question requiring merchant validation before launch\"]',\n  '}',\n  '',\n  'Rules:',\n  '- pricing_logic.tier must be exactly: \"' + pricePositioning + '\"',\n  '- bundle_opportunities: at least 1 item, at most 5',\n  '- upsell_paths: at least 1 item, at most 5',\n  '- proof_points: at least 2 items',\n  '- offer_narrative: 2-4 sentences minimum',\n  '- All values must be grounded in the provided strategic intelligence',\n  '- Return pure JSON only, no markdown fences, no commentary outside the JSON',\n].filter(function(l) { return l !== null && l !== undefined; }).join('\\n');\n\nreturn [{\n  json: {\n    llm_prompt:                 prompt,\n    project_id:                 input.project_id,\n    runtime_config:             input.runtime_config,\n    strategy_synthesis:         ss,\n    brand_positioning:          bp,\n    market_intelligence:        mi,\n    normalized_intake_payload:  ip,\n    cloud_mode:                 cloudMode,\n    price_positioning:          pricePositioning,\n  },\n}];\n"
      },
      "id": "f0a1b2c3-0006-0006-0006-000000000003",
      "name": "Build LLM Synthesis Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        750,
        400
      ]
    },
    {
      "parameters": {
        "resource": "chat",
        "operation": "complete",
        "chatModel": "gpt-4o",
        "prompt": {
          "messages": [
            {
              "role": "user",
              "content": "={{ $json.llm_prompt }}"
            }
          ]
        },
        "simplifyOutput": true,
        "options": {
          "temperature": 0.3,
          "maxTokens": 3000
        }
      },
      "credentials": {
        "openAiApi": {
          "id": "REPLACE_WITH_N8N_OPENAI_CREDENTIAL_ID",
          "name": "OpenAI account"
        }
      },
      "id": "f0a1b2c3-0006-0006-0006-000000000004",
      "name": "LLM Synthesis: Offer Architecture",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [
        1000,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "// build-offer-architecture \u2014 Parse, Validate, and Write\n//\n// Steps:\n//   1. Parse LLM JSON object response\n//   2. Inline schema validation (required fields, structure checks)\n//   3. Return offer_architecture inline with runtime envelope\n//\n// CLOUD MODE: fully compatible. No AJV, no filesystem write.\n// SELF-HOSTED: same path (artifact write planned for future phase).\n\nfunction buildRunId() {\n  const ts = new Date().toISOString().replace(/[-:T.Z]/g, '').slice(0, 14);\n  const rand = Math.random().toString(36).slice(2, 6);\n  return 'run-' + ts + '-' + rand;\n}\n\nlet cloudMode = false;\ntry { require('fs'); } catch (_e) { cloudMode = true; }\n\nconst llmOutput = $input.first().json;\nconst upstream  = $node['Build LLM Synthesis Prompt'].json;\n\nif (!cloudMode && upstream.cloud_mode) cloudMode = true;\nif (!cloudMode && upstream.runtime_config && upstream.runtime_config.cloud_mode) cloudMode = true;\n\nconst projectId         = upstream.project_id;\nconst runtimeConfig     = upstream.runtime_config;\nconst strategySynthesis = upstream.strategy_synthesis;\nconst brandPositioning  = upstream.brand_positioning;\nconst pricePositioning  = upstream.price_positioning;\n\n// \u2500\u2500\u2500 Step 1: Parse LLM response \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\nconst rawText = (llmOutput.message && llmOutput.message.content)\n  ? llmOutput.message.content\n  : (typeof llmOutput === 'string' ? llmOutput : JSON.stringify(llmOutput));\n\nlet offerArch;\ntry {\n  let cleaned = rawText.trim();\n  if (cleaned.startsWith('```')) {\n    cleaned = cleaned.replace(/^```(?:json)?\\s*/i, '').replace(/\\s*```$/, '').trim();\n  }\n  const parsed = JSON.parse(cleaned);\n  if (parsed && typeof parsed === 'object' && !Array.isArray(parsed)) {\n    offerArch = parsed;\n  } else {\n    throw new Error('Expected a JSON object at root, got: ' + typeof parsed);\n  }\n} catch (err) {\n  throw new Error(\n    'LLM_PARSE_ERROR: Failed to parse LLM response as JSON object: ' + err.message +\n    '. Raw response (first 500 chars): ' + String(rawText).slice(0, 500)\n  );\n}\n\n// \u2500\u2500\u2500 Step 2: Inline schema validation \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\nconst cloudWarnings = [];\n\n// Required top-level fields\nconst REQUIRED = ['core_offer', 'pricing_logic', 'bundle_opportunities', 'upsell_paths', 'offer_narrative'];\nfor (const f of REQUIRED) {\n  if (!offerArch[f]) {\n    throw new Error('SCHEMA_VIOLATION: offer_architecture.' + f + ' is required.');\n  }\n}\n\n// core_offer required subfields\nconst CORE_OFFER_REQUIRED = ['headline', 'value_proposition', 'target_buyer'];\nfor (const f of CORE_OFFER_REQUIRED) {\n  if (!offerArch.core_offer[f]) {\n    throw new Error('SCHEMA_VIOLATION: offer_architecture.core_offer.' + f + ' is required.');\n  }\n}\nif (!Array.isArray(offerArch.core_offer.proof_points) || offerArch.core_offer.proof_points.length < 2) {\n  throw new Error('SCHEMA_VIOLATION: offer_architecture.core_offer.proof_points must have at least 2 items.');\n}\n\n// pricing_logic required subfields\nif (!offerArch.pricing_logic.tier) {\n  throw new Error('SCHEMA_VIOLATION: offer_architecture.pricing_logic.tier is required.');\n}\nif (!offerArch.pricing_logic.anchor_strategy) {\n  throw new Error('SCHEMA_VIOLATION: offer_architecture.pricing_logic.anchor_strategy is required.');\n}\nconst PRICE_TIER_ENUM = ['budget', 'mass-market', 'mass-premium', 'premium', 'luxury'];\nif (!PRICE_TIER_ENUM.includes(offerArch.pricing_logic.tier)) {\n  // Attempt auto-correct from intake price_positioning\n  if (pricePositioning && PRICE_TIER_ENUM.includes(pricePositioning)) {\n    console.warn('SCHEMA_WARN: pricing_logic.tier \"' + offerArch.pricing_logic.tier + '\" is not valid \u2014 corrected to \"' + pricePositioning + '\"');\n    cloudWarnings.push('pricing_logic.tier auto-corrected from \"' + offerArch.pricing_logic.tier + '\" to \"' + pricePositioning + '\"');\n    offerArch.pricing_logic.tier = pricePositioning;\n  } else {\n    throw new Error('SCHEMA_VIOLATION: pricing_logic.tier \"' + offerArch.pricing_logic.tier + '\" is not valid. Must be one of: ' + PRICE_TIER_ENUM.join(', '));\n  }\n}\n\n// bundle_opportunities: array, min 1\nif (!Array.isArray(offerArch.bundle_opportunities) || offerArch.bundle_opportunities.length < 1) {\n  throw new Error('SCHEMA_VIOLATION: offer_architecture.bundle_opportunities must be a non-empty array.');\n}\nfor (let i = 0; i < offerArch.bundle_opportunities.length; i++) {\n  const b = offerArch.bundle_opportunities[i];\n  if (!b.name || !b.rationale) {\n    throw new Error('SCHEMA_VIOLATION: bundle_opportunities[' + i + '] must have name and rationale.');\n  }\n}\n\n// upsell_paths: array, min 1\nif (!Array.isArray(offerArch.upsell_paths) || offerArch.upsell_paths.length < 1) {\n  throw new Error('SCHEMA_VIOLATION: offer_architecture.upsell_paths must be a non-empty array.');\n}\nfor (let i = 0; i < offerArch.upsell_paths.length; i++) {\n  const u = offerArch.upsell_paths[i];\n  if (!u.from || !u.to || !u.trigger) {\n    throw new Error('SCHEMA_VIOLATION: upsell_paths[' + i + '] must have from, to, and trigger.');\n  }\n}\n\n// offer_narrative: non-empty string\nif (typeof offerArch.offer_narrative !== 'string' || offerArch.offer_narrative.trim().length < 50) {\n  throw new Error('SCHEMA_VIOLATION: offer_architecture.offer_narrative must be a non-empty string (min 50 chars).');\n}\n\n// \u2500\u2500\u2500 Step 3: Build runtime envelope \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\nconst runId       = buildRunId();\nconst executionTs = new Date().toISOString();\n\nconst outputSummary = {\n  bundle_count:          offerArch.bundle_opportunities.length,\n  upsell_path_count:     offerArch.upsell_paths.length,\n  proof_point_count:     (offerArch.core_offer.proof_points || []).length,\n  offer_gap_count:       (offerArch.offer_gaps || []).length,\n  validation_q_count:    (offerArch.validation_questions || []).length,\n  pricing_tier:          offerArch.pricing_logic.tier,\n  bulk_pricing:          offerArch.pricing_logic.bulk_pricing || false,\n  subscription_model:    offerArch.pricing_logic.subscription_model || false,\n};\n\nconst envelope = {\n  run_id:     runId,\n  phase:      'offer-architecture',\n  project_id: projectId,\n  timestamp:  executionTs,\n  cloud_mode: cloudMode,\n  validation: {\n    result:    'PASS',\n    errors:    [],\n    warnings:  cloudWarnings,\n  },\n  diagnostics: {\n    output_summary: outputSummary,\n  },\n  lineage: {\n    depends_on: ['build-strategy-synthesis', 'build-brand-positioning'],\n    produced_by: 'build-offer-architecture',\n  },\n};\n\n// \u2500\u2500\u2500 Return \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\nreturn [{\n  json: {\n    project_id:       projectId,\n    artifact_name:    'offer-architecture',\n    artifact_path:    null,\n    offer_architecture: offerArch,\n    runtime_config:   runtimeConfig,\n    status:           'SUCCESS',\n    cloud_mode:       cloudMode,\n    cloud_warnings:   cloudWarnings,\n    notes:            [],\n    envelope:         envelope,\n  },\n}];\n"
      },
      "id": "f0a1b2c3-0006-0006-0006-000000000005",
      "name": "Parse Validate Write",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1250,
        400
      ]
    }
  ],
  "connections": {
    "Subworkflow Trigger": {
      "main": [
        [
          {
            "node": "Validate Upstream Inputs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Upstream Inputs": {
      "main": [
        [
          {
            "node": "Build LLM Synthesis Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build LLM Synthesis Prompt": {
      "main": [
        [
          {
            "node": "LLM Synthesis: Offer Architecture",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LLM Synthesis: Offer Architecture": {
      "main": [
        [
          {
            "node": "Parse Validate Write",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "any"
  },
  "staticData": null,
  "tags": [
    {
      "name": "store-os"
    },
    {
      "name": "phase-6"
    }
  ],
  "pinData": {}
}