workflows/n8n/build-store-profile.n8n.json
{
  "name": "build-store-profile",
  "nodes": [
    {
      "parameters": {},
      "id": "d4e5f6a7-0004-0004-0004-000000000001",
      "name": "Subworkflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "jsCode": "// build-store-profile — Read Upstream Artifacts\n// Reads shopify-import.json from disk and retrieves intake payload from input.\n// Validates all required upstream inputs are present.\n\nconst fs   = require('fs');\nconst path = require('path');\n\nconst input             = $input.first().json;\nconst runtimeConfig     = input.runtime_config;\nconst intakePayload     = input.normalized_intake_payload;\nconst projectId         = input.project_id;\n\nif (!runtimeConfig || !intakePayload || !projectId) {\n  throw new Error(\n    'MISSING_RUNTIME_CONFIG: build-store-profile requires runtime_config, normalized_intake_payload, and project_id'\n  );\n}\n\nconst projectRoot = runtimeConfig.project_root;\n\n// ── Validate intake fields required by this workflow ─────────────────────\nconst intakeRequired = ['project_id', 'primary_market', 'primary_language', 'primary_currency', 'vertical', 'price_positioning'];\nconst intakeMissing  = intakeRequired.filter((f) => !intakePayload[f]);\nif (intakeMissing.length > 0) {\n  throw new Error(`MISSING_ARTIFACT: intake_payload is missing required fields: ${intakeMissing.join(', ')}`);\n}\n\n// ── Read shopify-import.json ──────────────────────────────────────────────\nconst shopifyImportPath = path.join(projectRoot, projectId, 'shopify-import.json');\n\nif (!fs.existsSync(shopifyImportPath)) {\n  throw new Error(`MISSING_ARTIFACT: shopify-import.json not found at ${shopifyImportPath}`);\n}\n\nlet shopifyImport;\ntry {\n  shopifyImport = JSON.parse(fs.readFileSync(shopifyImportPath, 'utf8'));\n} catch (err) {\n  throw new Error(`PARSE_ERROR: Failed to parse shopify-import.json: ${err.message}`);\n}\n\n// ── project_id consistency check ──────────────────────────────────────────\nif (shopifyImport.project_id !== projectId) {\n  throw new Error(\n    `PROJECT_ID_MISMATCH: shopify-import.json project_id \"${shopifyImport.project_id}\" does not match runtime project_id \"${projectId}\"`\n  );\n}\n\n// ── Validate shopify-import has required data ─────────────────────────────\nconst rawShopData    = shopifyImport.raw_shop_data || {};\nconst importSummary  = shopifyImport.import_summary || {};\n\nif (!rawShopData.shop_name) {\n  throw new Error('MISSING_ARTIFACT: shopify-import.json raw_shop_data.shop_name is empty');\n}\nif (!rawShopData.shop_domain) {\n  throw new Error('MISSING_ARTIFACT: shopify-import.json raw_shop_data.shop_domain is empty');\n}\n\nreturn [{\n  json: {\n    project_id:      projectId,\n    runtime_config:  runtimeConfig,\n    intake_payload:  intakePayload,\n    shopify_import:  shopifyImport,\n    raw_shop_data:   rawShopData,\n    import_summary:  importSummary,\n  },\n}];\n"
      },
      "id": "d4e5f6a7-0004-0004-0004-000000000002",
      "name": "Read Upstream Artifacts",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [500, 300]
    },
    {
      "parameters": {
        "jsCode": "// build-store-profile — Map Fields and Validate\n// Maps intake + Shopify data to store-profile schema fields.\n// Derives catalog_type from active product count.\n// Validates assembled object against schemas/store-profile.schema.json.\n// Writes store-profile.json atomically on success; quarantines on failure.\n\nconst fs   = require('fs');\nconst path = require('path');\n\nconst input          = $input.first().json;\nconst intakePayload  = input.intake_payload;\nconst rawShopData    = input.raw_shop_data;\nconst importSummary  = input.import_summary;\nconst runtimeConfig  = input.runtime_config;\nconst projectId      = input.project_id;\nconst projectRoot    = runtimeConfig.project_root;\n\n// ── Derive catalog_type from active product count ─────────────────────────\nconst activeCount = typeof importSummary.active_product_count === 'number'\n  ? importSummary.active_product_count\n  : 0;\n\nlet catalogType;\nif (activeCount === 0) {\n  catalogType = 'small-curated-catalog'; // provisional — no products yet\n} else if (activeCount === 1) {\n  catalogType = 'single-product';\n} else if (activeCount <= 15) {\n  catalogType = 'small-curated-catalog';\n} else if (activeCount <= 200) {\n  catalogType = 'broad-catalog';\n} else {\n  catalogType = 'mixed-catalog';\n}\n\n// ── Map publish_mode → operating_mode ────────────────────────────────────\nconst OPERATING_MODE_MAP = {\n  'no-publish':       'draft-first',\n  'draft-only':       'draft-first',\n  'draft-and-review': 'staging-first',\n};\nconst operatingMode = OPERATING_MODE_MAP[intakePayload.publish_mode] || 'draft-first';\n\n// ── Assemble store-profile (only schema-defined fields) ───────────────────\n// store-profile.schema.json uses additionalProperties: false.\n// Do NOT add fields not defined in the schema.\nconst storeProfile = {\n  store_id:         projectId,\n  store_name:       rawShopData.shop_name,\n  store_type:       intakePayload.store_type       || 'multi-product-store',\n  platform:         'shopify',\n  business_model:   intakePayload.business_model   || 'ecommerce',\n  primary_market:   intakePayload.primary_market,\n  target_markets:   intakePayload.target_markets   || [intakePayload.primary_market],\n  primary_language: intakePayload.primary_language,\n  languages:        intakePayload.languages        || [intakePayload.primary_language],\n  primary_currency: intakePayload.primary_currency,\n  currencies:       intakePayload.currencies       || [intakePayload.primary_currency],\n  vertical:         intakePayload.vertical,\n  price_positioning:intakePayload.price_positioning,\n  catalog_type:     catalogType,\n  brand_maturity:   'new',\n  operating_mode:   operatingMode,\n  domain:           rawShopData.shop_domain,\n};\n\n// Add optional notes field only if special_notes is present\nif (intakePayload.special_notes) {\n  storeProfile.notes = intakePayload.special_notes;\n}\n\n// ── AJV schema validation ─────────────────────────────────────────────────\nconst schemaPath = path.join(runtimeConfig.ajv_schema_path, 'store-profile.schema.json');\n\nif (!fs.existsSync(schemaPath)) {\n  throw new Error(`SCHEMA_LOAD_ERROR: store-profile.schema.json not found at ${schemaPath}`);\n}\n\nconst schema = JSON.parse(fs.readFileSync(schemaPath, 'utf8'));\n\nlet AjvClass;\ntry {\n  AjvClass = require('ajv/dist/2020');\n} catch {\n  try {\n    AjvClass = require('ajv');\n  } catch (err) {\n    throw new Error(\n      `SCHEMA_LOAD_ERROR: AJV not available in n8n environment: ${err.message}. ` +\n      'Install ajv@8 in the n8n node_modules directory.'\n    );\n  }\n}\n\nconst ajv      = new AjvClass({ allErrors: true, strict: false });\nconst validate = ajv.compile(schema);\nconst valid    = validate(storeProfile);\n\nif (!valid) {\n  // ── Quarantine rejected artifact ────────────────────────────────────────\n  const quarantineDir = path.join(projectRoot, projectId, '.runtime', 'quarantine');\n  fs.mkdirSync(quarantineDir, { recursive: true });\n  const ts           = new Date().toISOString().replace(/[:.]/g, '-');\n  const quarantinePath = path.join(quarantineDir, `store-profile.${ts}.rejected.json`);\n  const quarantinePayload = {\n    quarantine_reason: 'SCHEMA_VIOLATION',\n    artifact_name:     'store-profile',\n    workflow_id:       'build-store-profile',\n    validation_errors: validate.errors,\n    timestamp:         new Date().toISOString(),\n    project_id:        projectId,\n    artifact_payload:  storeProfile,\n  };\n  fs.writeFileSync(quarantinePath, JSON.stringify(quarantinePayload, null, 2), 'utf8');\n\n  const errorSummary = (validate.errors || [])\n    .map((e) => `${e.instancePath || '(root)'} ${e.message}`)\n    .join('; ');\n  throw new Error(\n    `SCHEMA_VIOLATION: store-profile failed validation. Quarantined to ${quarantinePath}. ` +\n    `Errors: ${errorSummary}`\n  );\n}\n\n// ── Atomic write ──────────────────────────────────────────────────────────\nconst projectDir  = path.join(projectRoot, projectId);\nconst finalPath   = path.join(projectDir, 'store-profile.json');\nconst tmpPath     = path.join(projectDir, 'store-profile.tmp.json');\n\nfs.mkdirSync(projectDir, { recursive: true });\nfs.writeFileSync(tmpPath, JSON.stringify(storeProfile, null, 2), 'utf8');\nfs.renameSync(tmpPath, finalPath);\n\n// ── Update checkpoint ─────────────────────────────────────────────────────\nconst checkpointPath = path.join(projectRoot, projectId, '.runtime', 'checkpoint.json');\nconst now = new Date().toISOString();\ntry {\n  const checkpoint = JSON.parse(fs.readFileSync(checkpointPath, 'utf8'));\n  checkpoint.completed_workflows.push({\n    workflow_id:     'build-store-profile',\n    completed_at:    now,\n    output_artifact: 'store-profile.json',\n    status:          'SUCCESS',\n  });\n  checkpoint.last_updated_timestamp = now;\n  checkpoint.next_workflow          = 'build-market-intelligence';\n  const cpTmp = checkpointPath + '.tmp';\n  fs.writeFileSync(cpTmp, JSON.stringify(checkpoint, null, 2), 'utf8');\n  fs.renameSync(cpTmp, checkpointPath);\n} catch { /* checkpoint update failure is non-fatal in Phase 12 — log it but don't halt */ }\n\n// ── Append to execution log ───────────────────────────────────────────────\nconst logPath = path.join(projectRoot, projectId, '.runtime', 'execution-log.json');\ntry {\n  const logData = fs.existsSync(logPath)\n    ? JSON.parse(fs.readFileSync(logPath, 'utf8'))\n    : { entries: [] };\n  logData.entries.push({\n    timestamp:        now,\n    execution_run_id: 'run-unknown',\n    level:            'INFO',\n    event_type:       'ARTIFACT_WRITE',\n    workflow_id:      'build-store-profile',\n    artifact:         'store-profile.json',\n    message:          `store-profile.json written. catalog_type=${catalogType}, active_products=${activeCount}`,\n  });\n  const logTmp = logPath + '.tmp';\n  fs.writeFileSync(logTmp, JSON.stringify(logData, null, 2), 'utf8');\n  fs.renameSync(logTmp, logPath);\n} catch { /* log write failure is non-fatal */ }\n\nreturn [{\n  json: {\n    project_id:    projectId,\n    artifact_path: finalPath,\n    artifact_name: 'store-profile',\n    store_profile: storeProfile,\n    runtime_config:runtimeConfig,\n    status:        'SUCCESS',\n    notes: [\n      activeCount === 0\n        ? 'WARNING: No active products found in Shopify import. catalog_type defaulted to small-curated-catalog.'\n        : null,\n      importSummary.pagination_note || null,\n    ].filter(Boolean),\n  },\n}];\n"
      },
      "id": "d4e5f6a7-0004-0004-0004-000000000003",
      "name": "Map Validate and Write",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [750, 300]
    }
  ],
  "connections": {
    "Subworkflow Trigger": {
      "main": [
        [{ "node": "Read Upstream Artifacts", "type": "main", "index": 0 }]
      ]
    },
    "Read Upstream Artifacts": {
      "main": [
        [{ "node": "Map Validate and Write", "type": "main", "index": 0 }]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "_meta": {
    "storeOs": {
      "phase": "Phase 12",
      "format": "n8n-executable",
      "sourceSpec": "workflows/subflows/build-store-profile.json",
      "outputSchema": "schemas/store-profile.schema.json",
      "invocation": "Called as a subworkflow by orchestrate-phase1. Expects Subworkflow Trigger input: { project_id, normalized_intake_payload, runtime_config }",
      "output": "{ project_id, artifact_path, artifact_name, store_profile, runtime_config, status, notes }",
      "notes": [
        "brand_maturity defaults to 'new' — no reliable signal available at intake time.",
        "catalog_type is derived from active_product_count heuristic — user should verify.",
        "operating_mode is mapped from publish_mode: no-publish/draft-only → draft-first, draft-and-review → staging-first.",
        "AJV dependency: requires ajv@8 available in n8n's node_modules. Try ajv/dist/2020 first, falls back to ajv."
      ]
    }
  }
}
