workflows/n8n/build-competitor-clusters.n8n.json
{
  "name": "build-competitor-clusters",
  "nodes": [
    {
      "parameters": {},
      "id": "g8b9c0d1-0008-0008-0008-000000000001",
      "name": "Subworkflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        250,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "// build-competitor-clusters — Validate Upstream Inputs\n// Checks all required upstream artifacts are present and well-formed.\n// Resolves operating mode based on intake.competitor_urls.\n//\n// CLOUD MODE: all data arrives inline via n8n pipeline.\n//             No filesystem access required.\n\nlet cloudMode = false;\ntry { require('fs'); } catch (_e) { cloudMode = true; }\n\nconst input = $input.first().json;\nconst storeProfile = input.store_profile;\nconst marketIntelligence = input.market_intelligence;\nconst intakePayload = input.normalized_intake_payload;\nconst runtimeConfig = input.runtime_config;\nconst projectId = input.project_id;\n\n// Propagate cloud_mode from upstream\nif (!cloudMode && runtimeConfig && runtimeConfig.cloud_mode) cloudMode = true;\n\n// Required presence checks\nif (!storeProfile || !storeProfile.store_id) {\n  throw new Error('MISSING_ARTIFACT: store_profile with store_id is required. Run build-store-profile first.');\n}\nif (!marketIntelligence) {\n  throw new Error('MISSING_ARTIFACT: market_intelligence is required. Run build-market-intelligence first.');\n}\nif (!intakePayload) {\n  throw new Error('MISSING_ARTIFACT: normalized_intake_payload is required. Run intake-store-input first.');\n}\nif (!runtimeConfig) {\n  throw new Error('MISSING_RUNTIME_CONFIG: runtime_config is required.');\n}\nif (!projectId) {\n  throw new Error('MISSING_INPUT: project_id is required.');\n}\n\n// Required store_profile fields\nconst profileRequired = ['store_id', 'vertical', 'price_positioning'];\nconst profileMissing = profileRequired.filter(function(f) { return !storeProfile[f]; });\nif (profileMissing.length > 0) {\n  throw new Error('MISSING_ARTIFACT: store_profile missing required fields: ' + profileMissing.join(', '));\n}\n\n// Required market_intelligence fields\nif (!marketIntelligence.market_category || !String(marketIntelligence.market_category).trim()) {\n  throw new Error('MISSING_ARTIFACT: market_intelligence.market_category is required and must be non-empty.');\n}\nif (!Array.isArray(marketIntelligence.competitor_types) || marketIntelligence.competitor_types.length === 0) {\n  throw new Error('MISSING_ARTIFACT: market_intelligence.competitor_types must be a non-empty array.');\n}\nif (!Array.isArray(marketIntelligence.positioning_goals) || marketIntelligence.positioning_goals.length === 0) {\n  throw new Error('MISSING_ARTIFACT: market_intelligence.positioning_goals must be a non-empty array.');\n}\n\n// competitor_urls: may be absent, null, or empty — all valid (archetype mode)\nconst rawUrls = intakePayload.competitor_urls;\nconst competitorUrls = Array.isArray(rawUrls)\n  ? rawUrls.filter(function(u) { return u && typeof u === 'string' && u.trim(); })\n  : [];\n\n// Resolve operating mode\nlet mode;\nif (competitorUrls.length >= 2) {\n  mode = 'url-seeded';\n} else if (competitorUrls.length === 1) {\n  mode = 'hybrid';\n} else {\n  mode = 'archetype';\n}\n\nconsole.log('build-competitor-clusters: mode=' + mode + ', competitor_urls_count=' + competitorUrls.length);\n\nreturn [{\n  json: {\n    project_id: projectId,\n    runtime_config: runtimeConfig,\n    store_profile: storeProfile,\n    market_intelligence: marketIntelligence,\n    normalized_intake_payload: intakePayload,\n    brand_positioning: input.brand_positioning || null,\n    competitor_urls: competitorUrls,\n    mode: mode,\n    cloud_mode: cloudMode,\n  },\n}];\n"
      },
      "id": "g8b9c0d1-0008-0008-0008-000000000002",
      "name": "Validate Upstream Inputs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        500,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "// build-competitor-clusters — Build LLM Clustering Prompt\n// Assembles the structured LLM prompt based on operating mode:\n//   url-seeded  (>=2 URLs): group user-provided URLs into 2–4 clusters\n//   hybrid      (1 URL):    1 URL-seeded cluster + 1–2 archetype clusters\n//   archetype   (0 URLs):   2–3 pure archetype clusters with ARCHETYPE-PLACEHOLDER\n//\n// Evidence boundary: no live crawling, no external APIs.\n// All cluster content is LLM inference — not verified competitor research.\n// Phase 16: Expanded cluster schema to request new optional fields.\n\nconst input = $input.first().json;\nconst storeProfile = input.store_profile;\nconst mi = input.market_intelligence;\nconst competitorUrls = input.competitor_urls || [];\nconst mode = input.mode;\nconst cloudMode = input.cloud_mode || false;\n\n// Store context\nconst vertical = storeProfile.vertical || 'unknown';\nconst pricePositioning = storeProfile.price_positioning || 'unknown';\nconst primaryMarket = storeProfile.primary_market || 'unknown';\nconst marketCategory = mi.market_category || 'unknown';\nconst positioningGoals = (mi.positioning_goals || []).slice(0, 3).join('; ');\n\n// Competitor types from market intelligence — primary clustering seed\nconst competitorTypesBlock = (mi.competitor_types || []).slice(0, 6).map(function(ct) {\n  const strengths = (ct.strengths || []).slice(0, 2).join(', ');\n  const weaknesses = (ct.weaknesses || []).slice(0, 2).join(', ');\n  return '  - ' + ct.type_name + ': ' + (ct.description || '') +\n    (strengths ? ' | Strengths: ' + strengths : '') +\n    (weaknesses ? ' | Weaknesses: ' + weaknesses : '');\n}).join('\\n');\n\n// Enums (must match schemas/competitor-cluster.schema.json exactly)\nconst CLUSTER_ROLE_ENUM = [\n  'premium-brand-cluster', 'value-cluster', 'editorial-cluster',\n  'marketplace-like-cluster', 'trend-driven-cluster',\n  'problem-solver-cluster', 'specialist-cluster'\n];\nconst PATTERN_TYPE_ENUM = [\n  'layout', 'navigation', 'pdp-structure', 'collection-strategy',\n  'seo-pattern', 'aeo-pattern', 'trust-pattern', 'media-pattern',\n  'motion-pattern', 'offer-pattern', 'copy-pattern'\n];\n\n// Mode-specific instructions\nlet modeInstruction;\nif (mode === 'url-seeded') {\n  modeInstruction = [\n    'MODE: URL-SEEDED',\n    'User-provided competitor URLs (use as naming/labeling hints ONLY — do NOT fetch, crawl, or research):',\n    competitorUrls.map(function(u, i) { return '  ' + (i + 1) + '. ' + u; }).join('\\n'),\n    '',\n    'Group these URLs into 2–4 clusters based on their apparent type, using the competitor_types above as a reference framework.',\n    'Each cluster\\'s competitor_examples must only include URLs from the list above — do NOT invent or add URLs.',\n    'If a URL cannot be confidently assigned to a known archetype, place it in the most fitting cluster and note the uncertainty in that cluster\\'s notes field.',\n  ].join('\\n');\n} else if (mode === 'hybrid') {\n  modeInstruction = [\n    'MODE: HYBRID (exactly 1 URL provided)',\n    'User-provided competitor URL (use as naming/labeling hint ONLY — do NOT fetch, crawl, or research):',\n    '  1. ' + competitorUrls[0],\n    '',\n    'Generate:',\n    '  - 1 URL-seeded cluster for this URL (competitor_examples: use only the URL above)',\n    '  - 1–2 archetype clusters for the remaining competitive landscape',\n    '    (competitor_examples: url must be \"ARCHETYPE-PLACEHOLDER\" for all archetype cluster entries)',\n    '',\n    'Label each cluster with its mode in the notes field: URL-SEEDED or ARCHETYPE-MODE.',\n  ].join('\\n');\n} else {\n  modeInstruction = [\n    'MODE: ARCHETYPE',\n    'No competitor URLs were provided by the user.',\n    'Generate 2–3 representative archetype clusters based on the competitor_types below.',\n    'For ALL competitor_examples entries, set url to \"ARCHETYPE-PLACEHOLDER\".',\n    'Clearly indicate in each entry\\'s notes that it is a hypothetical archetype, not a real competitor.',\n  ].join('\\n');\n}\n\nconst prompt = [\n  'You are a commerce strategy analyst. Generate a JSON array of competitor clusters for a ' + vertical + ' store.',\n  '',\n  'STORE CONTEXT:',\n  '- Vertical: ' + vertical,\n  '- Price positioning: ' + pricePositioning,\n  '- Primary market: ' + primaryMarket,\n  '- Market category: ' + marketCategory,\n  '- Positioning goals: ' + positioningGoals,\n  '',\n  'MARKET INTELLIGENCE — COMPETITOR TYPES (primary clustering seed):',\n  competitorTypesBlock,\n  '',\n  modeInstruction,\n  '',\n  'OUTPUT REQUIREMENTS:',\n  'Return a JSON array at the root level (no wrapper object). Each element is a competitor cluster with ALL of these required fields:',\n  '',\n  '1. cluster_name (string) — descriptive name for this cluster archetype',\n  '2. cluster_role (string) — MUST be exactly one of: ' + CLUSTER_ROLE_ENUM.join(', '),\n  '3. description (string) — this cluster\\'s market role and target audience',\n  '4. competitor_examples (array, minItems: 1) — each item: { \"name\": string, \"url\": string, \"notes\"?: string, \"competitor_type_classification\"?: string, \"price_tier\"?: string, \"brand_style_note\"?: string }',\n  '   - URL-seeded clusters: url must be from the user-provided list ONLY',\n  '   - Archetype/hybrid-archetype clusters: url must be \"ARCHETYPE-PLACEHOLDER\"',\n  '5. shared_strengths (array of strings, minItems: 1) — inferred typical strengths of this cluster',\n  '6. shared_weaknesses (array of strings, minItems: 1) — inferred typical weaknesses',\n  '7. shared_patterns (array, minItems: 1) — each item: { \"pattern_type\": string, \"description\": string, \"why_it_works\": string, \"risk_if_overused\"?: string }',\n  '   - pattern_type MUST be exactly one of: ' + PATTERN_TYPE_ENUM.join(', '),\n  '8. non_copyable_elements (array of strings, minItems: 1) — elements this cluster relies on that the store should NOT copy',\n  '9. adaptation_opportunities (array of strings, minItems: 1) — how to adapt strengths without inheriting weaknesses',\n  '',\n  'OPTIONAL per cluster (include when meaningful):',\n  '- competitor_type_classification: \"direct|indirect|substitute|aspirational|mixed\"',\n  '- price_tier: \"budget|mass-market|mass-premium|premium|luxury|mixed|unknown\"',\n  '- brand_style: brief string describing this cluster\\'s visual/brand style',\n  '- product_breadth: \"single-product|narrow|moderate|broad|marketplace-scale\"',\n  '- trust_signals_used: array of strings (trust signal types this cluster relies on)',\n  '- strategic_summary: 1-2 sentence string — what this cluster means for the store\\'s strategy',\n  '- seo_relevance (string[]), aeo_relevance (string[]), recommended_use_cases (string[]), notes (string)',\n  '',\n  'For competitor_examples items, you may also include:',\n  '- competitor_type_classification: string (e.g. \"direct\", \"indirect\")',\n  '- price_tier: string (e.g. \"premium\", \"mass-market\")',\n  '- brand_style_note: string (brief note on this specific example\\'s brand style)',\n  '',\n  'EVIDENCE BOUNDARY:',\n  '- All analysis is LLM inference — NOT verified competitor research.',\n  '- Do not invent traffic figures, conversion rates, revenue, or factual competitive metrics.',\n  '- Do not add URLs not explicitly provided by the user.',\n  '- Do not fetch, crawl, or research any URL.',\n  '',\n  'Return ONLY valid JSON — no markdown code fences, no preamble, no explanation.',\n].join('\\n');\n\nreturn [{\n  json: {\n    llm_prompt: prompt,\n    project_id: input.project_id,\n    runtime_config: input.runtime_config,\n    store_profile: storeProfile,\n    market_intelligence: mi,\n    competitor_urls: competitorUrls,\n    mode: mode,\n    cloud_mode: cloudMode,\n  },\n}];\n"
      },
      "id": "g8b9c0d1-0008-0008-0008-000000000003",
      "name": "Build LLM Clustering Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        750,
        400
      ]
    },
    {
      "parameters": {
        "resource": "chat",
        "operation": "complete",
        "chatModel": "gpt-4o",
        "prompt": {
          "messages": [
            {
              "role": "user",
              "content": "={{ $json.llm_prompt }}"
            }
          ]
        },
        "simplifyOutput": true,
        "options": {
          "temperature": 0.3,
          "maxTokens": 3000
        }
      },
      "credentials": {
        "openAiApi": {
          "id": "REPLACE_WITH_N8N_OPENAI_CREDENTIAL_ID",
          "name": "OpenAI account"
        }
      },
      "id": "g8b9c0d1-0008-0008-0008-000000000004",
      "name": "LLM Synthesis: Competitor Clusters",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [
        1000,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "// build-competitor-clusters — Parse, Apply Evidence Boundaries, Validate, and Write\n// Phase 16: Added runtime envelope. New optional cluster fields passed through.\n//\n// Steps:\n//   1. Parse LLM JSON array response\n//   2. Apply evidence boundary enforcement per cluster (ARCHETYPE-PLACEHOLDER / URL stripping)\n//   3. Inline schema validation (both modes — enum checks, required fields, minItems)\n//   4. AJV full schema validation (self-hosted only)\n//   5. Write competitor-clusters.json artifact (self-hosted only)\n//   6. Return competitor_clusters inline (both modes) with envelope\n//\n// CLOUD MODE: steps 4 and 5 are skipped. Inline validation (step 3) always runs.\n\nfunction buildRunId() {\n  const ts = new Date().toISOString().replace(/[-:T.Z]/g, '').slice(0, 14);\n  const rand = Math.random().toString(36).slice(2, 6);\n  return 'run-' + ts + '-' + rand;\n}\n\nlet fs, path;\nlet cloudMode = false;\ntry {\n  fs = require('fs');\n  path = require('path');\n} catch (_e) {\n  cloudMode = true;\n}\n\nconst llmOutput = $input.first().json;\nconst upstream = $node['Build LLM Clustering Prompt'].json;\n\nif (!cloudMode && upstream.cloud_mode) cloudMode = true;\nif (!cloudMode && upstream.runtime_config && upstream.runtime_config.cloud_mode) cloudMode = true;\n\nconst projectId = upstream.project_id;\nconst runtimeConfig = upstream.runtime_config;\nconst storeProfile = upstream.store_profile;\nconst competitorUrls = upstream.competitor_urls || [];\nconst mode = upstream.mode;\n\n// Extract text from OpenAI node (simplifyOutput: true → message.content)\nconst rawText = (llmOutput.message && llmOutput.message.content)\n  ? llmOutput.message.content\n  : (typeof llmOutput === 'string' ? llmOutput : JSON.stringify(llmOutput));\n\n// ─── Step 1: Parse LLM response ───────────────────────────────────────────────\nlet clusters;\ntry {\n  let cleaned = rawText.trim();\n  if (cleaned.startsWith('```')) {\n    cleaned = cleaned.replace(/^```(?:json)?\\s*/i, '').replace(/\\s*```$/, '').trim();\n  }\n  const parsed = JSON.parse(cleaned);\n  if (Array.isArray(parsed)) {\n    clusters = parsed;\n  } else if (parsed && Array.isArray(parsed.clusters)) {\n    // Handle wrapped { clusters: [...] } — extract array\n    clusters = parsed.clusters;\n  } else if (parsed && typeof parsed === 'object') {\n    // Single object — wrap in array\n    clusters = [parsed];\n  } else {\n    throw new Error('Unexpected response shape.');\n  }\n} catch (err) {\n  throw new Error(\n    'PARSE_ERROR: Failed to parse LLM response as JSON array: ' + err.message +\n    '. Raw response (first 500 chars): ' + String(rawText).slice(0, 500)\n  );\n}\n\nif (!Array.isArray(clusters) || clusters.length === 0) {\n  throw new Error('PARSE_ERROR: LLM returned empty or non-array competitor clusters. Cannot proceed.');\n}\n\n// ─── Step 2: Apply evidence boundary enforcement per cluster ───────────────────\nconst now = new Date().toISOString();\n\nclusters = clusters.map(function(cluster, idx) {\n  // Determine per-cluster mode (relevant in hybrid mode)\n  let clusterMode = mode;\n  if (mode === 'hybrid') {\n    const exampleUrls = (cluster.competitor_examples || []).map(function(e) { return e.url || ''; });\n    const hasUserUrl = competitorUrls.some(function(u) { return exampleUrls.includes(u); });\n    clusterMode = hasUserUrl ? 'url-seeded' : 'archetype';\n  }\n\n  // Enforce ARCHETYPE-PLACEHOLDER in archetype clusters\n  if (clusterMode === 'archetype') {\n    cluster.competitor_examples = (cluster.competitor_examples || []).map(function(ex) {\n      if (ex.url && ex.url !== 'ARCHETYPE-PLACEHOLDER' && !competitorUrls.includes(ex.url)) {\n        console.warn('ARCHETYPE_ENFORCED [cluster ' + idx + ']: Replaced invented URL \"' + ex.url + '\" with ARCHETYPE-PLACEHOLDER');\n        return {\n          name: ex.name || ('Typical ' + (cluster.cluster_role || 'competitor') + ' in ' + (storeProfile.vertical || 'this vertical')),\n          url: 'ARCHETYPE-PLACEHOLDER',\n          notes: (ex.notes ? ex.notes + ' ' : '') + 'ARCHETYPE-MODE: No real competitor URL provided. Hypothetical archetype example.',\n          competitor_type_classification: ex.competitor_type_classification || undefined,\n          price_tier: ex.price_tier || undefined,\n          brand_style_note: ex.brand_style_note || undefined,\n        };\n      }\n      return ex;\n    });\n    // Guarantee at least one entry\n    if (!cluster.competitor_examples || cluster.competitor_examples.length === 0) {\n      cluster.competitor_examples = [{\n        name: 'Typical ' + (cluster.cluster_role || 'competitor') + ' in ' + (storeProfile.vertical || 'this vertical'),\n        url: 'ARCHETYPE-PLACEHOLDER',\n        notes: 'ARCHETYPE-MODE: No real competitor URL provided. Hypothetical archetype example.',\n      }];\n    }\n  }\n\n  // Strip invented URLs in url-seeded clusters\n  if (clusterMode === 'url-seeded') {\n    cluster.competitor_examples = (cluster.competitor_examples || []).filter(function(ex) {\n      if (ex.url === 'ARCHETYPE-PLACEHOLDER') return true;\n      if (competitorUrls.includes(ex.url)) return true;\n      console.warn('URL_SEEDED_ENFORCED [cluster ' + idx + ']: Removed invented URL \"' + ex.url + '\"');\n      return false;\n    });\n    // Fallback if all examples were stripped\n    if (cluster.competitor_examples.length === 0) {\n      cluster.competitor_examples = [{\n        name: 'User-provided competitor',\n        url: competitorUrls[0] || 'ARCHETYPE-PLACEHOLDER',\n        notes: 'URL-SEEDED: URL provided by user via intake.',\n      }];\n    }\n  }\n\n  // Set evidence boundary notes field\n  const clusterLabel = clusterMode === 'url-seeded' ? 'URL-SEEDED' : 'ARCHETYPE-MODE';\n  cluster.notes = [\n    'COMPETITOR CLUSTER — ' + clusterLabel + ': All strength, weakness, pattern, and opportunity analysis is LLM inference.',\n    'No live competitor research was performed.',\n    'Treat all values as planning hypotheses requiring human verification.',\n    'Generated: ' + now,\n    cluster.notes ? 'Context: ' + cluster.notes : null,\n  ].filter(Boolean).join(' | ');\n\n  return cluster;\n});\n\n// ─── Step 3: Inline schema validation (runs in both modes) ────────────────────\nconst CLUSTER_ROLE_ENUM = [\n  'premium-brand-cluster', 'value-cluster', 'editorial-cluster',\n  'marketplace-like-cluster', 'trend-driven-cluster',\n  'problem-solver-cluster', 'specialist-cluster'\n];\nconst PATTERN_TYPE_ENUM = [\n  'layout', 'navigation', 'pdp-structure', 'collection-strategy',\n  'seo-pattern', 'aeo-pattern', 'trust-pattern', 'media-pattern',\n  'motion-pattern', 'offer-pattern', 'copy-pattern'\n];\nconst REQUIRED_CLUSTER_FIELDS = [\n  'cluster_name', 'cluster_role', 'description', 'competitor_examples',\n  'shared_strengths', 'shared_weaknesses', 'shared_patterns',\n  'non_copyable_elements', 'adaptation_opportunities'\n];\nconst ARRAY_FIELDS = [\n  'competitor_examples', 'shared_strengths', 'shared_weaknesses',\n  'shared_patterns', 'non_copyable_elements', 'adaptation_opportunities'\n];\n\nconst validationErrors = [];\n\nclusters.forEach(function(cluster, idx) {\n  const label = 'Cluster[' + idx + '] (' + (cluster.cluster_name || 'unnamed') + ')';\n\n  // Required fields\n  REQUIRED_CLUSTER_FIELDS.forEach(function(f) {\n    if (cluster[f] === undefined || cluster[f] === null || cluster[f] === '') {\n      validationErrors.push(label + ': missing required field \"' + f + '\"');\n    }\n  });\n\n  // cluster_role enum\n  if (cluster.cluster_role && !CLUSTER_ROLE_ENUM.includes(cluster.cluster_role)) {\n    validationErrors.push(label + ': cluster_role \"' + cluster.cluster_role + '\" not in enum. Must be one of: ' + CLUSTER_ROLE_ENUM.join(', '));\n  }\n\n  // Array fields minItems: 1\n  ARRAY_FIELDS.forEach(function(f) {\n    if (!Array.isArray(cluster[f]) || cluster[f].length === 0) {\n      validationErrors.push(label + ': \"' + f + '\" must be a non-empty array (minItems: 1)');\n    }\n  });\n\n  // competitor_examples items: name + url required\n  if (Array.isArray(cluster.competitor_examples)) {\n    cluster.competitor_examples.forEach(function(ex, ei) {\n      if (!ex.name || typeof ex.name !== 'string' || !ex.name.trim()) {\n        validationErrors.push(label + '.competitor_examples[' + ei + ']: missing required field \"name\"');\n      }\n      if (!ex.url || typeof ex.url !== 'string' || !ex.url.trim()) {\n        validationErrors.push(label + '.competitor_examples[' + ei + ']: missing required field \"url\"');\n      }\n    });\n  }\n\n  // shared_patterns items: pattern_type enum + required sub-fields\n  if (Array.isArray(cluster.shared_patterns)) {\n    cluster.shared_patterns.forEach(function(p, pi) {\n      const pLabel = label + '.shared_patterns[' + pi + ']';\n      if (!p.pattern_type || !PATTERN_TYPE_ENUM.includes(p.pattern_type)) {\n        validationErrors.push(pLabel + ': pattern_type \"' + p.pattern_type + '\" not in enum. Must be one of: ' + PATTERN_TYPE_ENUM.join(', '));\n      }\n      if (!p.description || typeof p.description !== 'string' || !p.description.trim()) {\n        validationErrors.push(pLabel + ': missing required field \"description\"');\n      }\n      if (!p.why_it_works || typeof p.why_it_works !== 'string' || !p.why_it_works.trim()) {\n        validationErrors.push(pLabel + ': missing required field \"why_it_works\"');\n      }\n    });\n  }\n});\n\nif (validationErrors.length > 0) {\n  throw new Error('SCHEMA_VALIDATION_FAILED: ' + validationErrors.join(' | '));\n}\n\n// ─── Step 4: AJV full validation — self-hosted only ──────────────────────────\nconst cloudWarnings = [];\nif (!cloudMode) {\n  try {\n    const Ajv = require('ajv/dist/ajv.js') || require('ajv');\n    const ajv = new Ajv({ allErrors: true, strict: false });\n    const schemaFile = path.join(runtimeConfig.ajv_schema_path, 'competitor-cluster.schema.json');\n    const schema = JSON.parse(fs.readFileSync(schemaFile, 'utf8'));\n    const validate = ajv.compile(schema);\n    clusters.forEach(function(cluster, idx) {\n      const valid = validate(cluster);\n      if (!valid) {\n        const errs = (validate.errors || []).map(function(e) { return e.instancePath + ' ' + e.message; }).join('; ');\n        throw new Error('AJV_VALIDATION_FAILED at cluster[' + idx + ']: ' + errs);\n      }\n    });\n  } catch (e) {\n    if (e.message && e.message.startsWith('AJV_VALIDATION_FAILED')) throw e;\n    cloudWarnings.push('AJV schema validation skipped: ' + e.message);\n  }\n} else {\n  cloudWarnings.push('AJV schema validation skipped — cloud mode (no local schema files). Inline validation passed.');\n}\n\n// ─── Step 5: Write artifact — self-hosted only ───────────────────────────────\nlet artifactPath = null;\nif (!cloudMode) {\n  try {\n    const projectDir = path.join(runtimeConfig.project_root, projectId);\n    if (!fs.existsSync(projectDir)) fs.mkdirSync(projectDir, { recursive: true });\n    artifactPath = path.join(projectDir, 'competitor-clusters.json');\n    fs.writeFileSync(artifactPath, JSON.stringify(clusters, null, 2), 'utf8');\n  } catch (e) {\n    cloudWarnings.push('Artifact write skipped: ' + e.message);\n  }\n} else {\n  cloudWarnings.push('Artifact write skipped — cloud mode (no filesystem).');\n}\n\nconst clusterCount = clusters.length;\nconsole.log('build-competitor-clusters: completed. mode=' + mode + ', clusters=' + clusterCount + ', cloud=' + cloudMode);\n\n// ─── Build runtime envelope ───────────────────────────────────────────────────\nconst runId = buildRunId();\nconst executionTs = new Date().toISOString();\n\nconst envelope = {\n  runtime: {\n    run_id: runId,\n    phase_id: 'build-competitor-clusters',\n    execution_ts: executionTs,\n    cloud_mode: cloudMode,\n    env: cloudMode ? 'cloud-smoke' : (runtimeConfig.env || 'dev'),\n    schema_version: '1.0'\n  },\n  store: {\n    project_id: projectId,\n    artifact_name: 'competitor-clusters',\n    artifact_path: artifactPath\n  },\n  status: {\n    code: 'SUCCESS',\n    completed_at: executionTs,\n    fatal_errors: [],\n    warnings: cloudWarnings,\n    retryable: false\n  },\n  diagnostics: {\n    input_summary: {\n      project_id: projectId,\n      vertical: storeProfile.vertical,\n      primary_market: storeProfile.primary_market,\n      price_positioning: storeProfile.price_positioning,\n      mode: mode,\n      competitor_urls_count: competitorUrls.length\n    },\n    output_summary: {\n      cluster_count: clusterCount,\n      mode: mode,\n      has_new_optional_fields: clusters.some(function(c) { return c.strategic_summary || c.competitor_type_classification; })\n    },\n    validation: {\n      schema_ref: 'schemas/competitor-cluster.schema.json',\n      result: cloudMode ? 'SKIPPED' : (cloudWarnings.some(function(w) { return w.includes('AJV schema validation skipped'); }) ? 'SKIPPED' : 'PASS'),\n      errors: [],\n      warnings: cloudMode ? ['AJV validation skipped — cloud mode'] : []\n    },\n    lineage: {\n      upstream_phases: ['resolve-runtime-config', 'intake-store-input', 'build-store-profile', 'build-market-intelligence', 'build-brand-positioning'],\n      upstream_artifacts: ['store_profile', 'market_intelligence', 'normalized_intake_payload']\n    },\n    missing_data: []\n  }\n};\n\nreturn [{\n  json: {\n    project_id: projectId,\n    artifact_name: 'competitor-clusters',\n    artifact_path: artifactPath,\n    competitor_clusters: clusters,\n    cluster_count: clusterCount,\n    mode: mode,\n    runtime_config: runtimeConfig,\n    status: 'SUCCESS',\n    cloud_mode: cloudMode,\n    cloud_warnings: cloudWarnings,\n    notes: [],\n    envelope: envelope,\n  },\n}];\n"
      },
      "id": "g8b9c0d1-0008-0008-0008-000000000005",
      "name": "Parse Apply Evidence and Validate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1250,
        400
      ]
    }
  ],
  "connections": {
    "Subworkflow Trigger": {
      "main": [
        [
          {
            "node": "Validate Upstream Inputs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Upstream Inputs": {
      "main": [
        [
          {
            "node": "Build LLM Clustering Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build LLM Clustering Prompt": {
      "main": [
        [
          {
            "node": "LLM Synthesis: Competitor Clusters",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LLM Synthesis: Competitor Clusters": {
      "main": [
        [
          {
            "node": "Parse Apply Evidence and Validate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "_meta": {
    "storeOs": {
      "phase": "Phase 16",
      "format": "n8n-executable",
      "sourceSpec": "workflows/subflows/build-competitor-clusters.json",
      "outputSchema": "schemas/competitor-cluster.schema.json (applied per-item in output array)",
      "cloudCompatibility": "PARTIAL — validate, prompt-build, and LLM synthesis run in both modes. In cloud mode: (1) AJV schema validation is skipped (replaced by inline enum/structure checks in Node 5), (2) artifact write (competitor-clusters.json) is skipped, (3) competitor_clusters returned inline. Inline validation (enum + required fields + minItems) always runs.",
      "invocation": "Called as a subworkflow by orchestrate-phase1 (after build-brand-positioning). Expects Subworkflow Trigger input: { project_id, runtime_config, store_profile, market_intelligence, brand_positioning, normalized_intake_payload }",
      "output": "{ project_id, artifact_name, artifact_path, competitor_clusters, cluster_count, mode, runtime_config, status, cloud_mode, cloud_warnings, notes, envelope }",
      "operatingModes": {
        "url-seeded": ">=2 competitor_urls in intake — LLM groups provided URLs into 2–4 clusters. No invented URLs allowed.",
        "hybrid": "Exactly 1 competitor_url — 1 URL-seeded cluster + 1–2 archetype clusters for remaining landscape.",
        "archetype": "0 competitor_urls — 2–3 pure archetype clusters using ARCHETYPE-PLACEHOLDER."
      },
      "evidenceBoundary": "No live competitor crawling, no external competitive intelligence APIs. All strengths, weaknesses, patterns, and opportunities are LLM inference. competitor_urls from intake are used as naming/labeling hints only. Cluster outputs are planning hypotheses requiring human review.",
      "setupRequired": [
        "Replace REPLACE_WITH_N8N_OPENAI_CREDENTIAL_ID in 'LLM Synthesis: Competitor Clusters' with your n8n OpenAI credential ID.",
        "Self-hosted: ensure STORE_OS_AJV_SCHEMA_PATH points to the schemas/ directory containing competitor-cluster.schema.json and ajv@8 is installed in n8n node_modules.",
        "Cloud mode: OpenAI credential must be configured in n8n. competitor_clusters is returned inline — no disk write."
      ],
      "cloudSkipped": [
        "AJV schema validation — no local schema files in n8n Cloud (replaced by inline enum/structure checks in Node 5)",
        "Artifact write (competitor-clusters.json) — no filesystem in n8n Cloud"
      ],
      "downstreamConsumer": "build-pattern-manifest (out of scope for Phase 2 — documented for future reference)",
      "notes": [
        "Phase 16: Added runtime envelope. Expanded cluster prompt schema to request competitor_type_classification, price_tier, brand_style, product_breadth, trust_signals_used, strategic_summary. Also expanded competitor_examples items with optional classification fields."
      ]
    }
  }
}
