workflows/n8n/build-gtm-plan.n8n.json
{
  "_meta": {
    "workflow_name": "build-gtm-plan",
    "phase": "6c",
    "description": "Phase 6c: Synthesises go-to-market plan (launch sequence, channel strategy, acquisition priorities, campaign angles, funnel recommendations, KPIs) from content_strategy + offer_architecture + strategy_synthesis.",
    "version": "1.0.0",
    "last_updated": "2026-04-07",
    "placeholder_ids": [
      "REPLACE_WITH_N8N_OPENAI_CREDENTIAL_ID"
    ]
  },
  "name": "build-gtm-plan",
  "nodes": [
    {
      "parameters": {},
      "id": "a1b2c3d4-006c-006c-006c-000000000001",
      "name": "Subworkflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        250,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "// build-gtm-plan \u2014 Validate Upstream Inputs\n// Checks all required upstream artifacts are present and well-formed.\n//\n// CLOUD MODE: all data arrives inline via n8n pipeline. No filesystem access.\n\nlet cloudMode = false;\ntry { require('fs'); } catch (_e) { cloudMode = true; }\n\nconst input = $input.first().json;\nconst contentStrategy   = input.content_strategy;\nconst offerArchitecture = input.offer_architecture;\nconst strategySynthesis = input.strategy_synthesis;\nconst marketIntelligence = input.market_intelligence;\nconst intakePayload     = input.normalized_intake_payload;\nconst runtimeConfig     = input.runtime_config;\nconst projectId         = input.project_id;\n\nif (!cloudMode && runtimeConfig && runtimeConfig.cloud_mode) cloudMode = true;\n\n// Required presence checks\nif (!contentStrategy) {\n  throw new Error('MISSING_ARTIFACT: content_strategy is required. Run build-content-strategy first.');\n}\nif (!contentStrategy.messaging_hierarchy || !contentStrategy.messaging_hierarchy.primary_message) {\n  throw new Error('MISSING_ARTIFACT: content_strategy.messaging_hierarchy.primary_message is required.');\n}\nif (!offerArchitecture) {\n  throw new Error('MISSING_ARTIFACT: offer_architecture is required. Run build-offer-architecture first.');\n}\nif (!offerArchitecture.core_offer || !offerArchitecture.core_offer.headline) {\n  throw new Error('MISSING_ARTIFACT: offer_architecture.core_offer.headline is required.');\n}\nif (!strategySynthesis) {\n  throw new Error('MISSING_ARTIFACT: strategy_synthesis is required. Run build-strategy-synthesis first.');\n}\nif (!intakePayload) {\n  throw new Error('MISSING_ARTIFACT: normalized_intake_payload is required. Run intake-store-input first.');\n}\nif (!runtimeConfig) {\n  throw new Error('MISSING_RUNTIME_CONFIG: runtime_config is required.');\n}\nif (!projectId) {\n  throw new Error('MISSING_INPUT: project_id is required.');\n}\n\nconsole.log('build-gtm-plan: inputs validated. cloud=' + cloudMode + ' project=' + projectId);\n\nreturn [{\n  json: {\n    project_id:                projectId,\n    runtime_config:            runtimeConfig,\n    content_strategy:          contentStrategy,\n    offer_architecture:        offerArchitecture,\n    strategy_synthesis:        strategySynthesis,\n    market_intelligence:       marketIntelligence || null,\n    normalized_intake_payload: intakePayload,\n    cloud_mode:                cloudMode,\n  },\n}];\n"
      },
      "id": "a1b2c3d4-006c-006c-006c-000000000002",
      "name": "Validate Upstream Inputs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        500,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "// build-gtm-plan \u2014 Build LLM Synthesis Prompt\n// Extracts signals from content_strategy + offer_architecture + strategy_synthesis\n// and assembles a structured prompt for GTM plan generation.\n//\n// Evidence boundary: LLM inference from internal signals only.\n// All outputs are planning hypotheses requiring human verification.\n\nconst input     = $input.first().json;\nconst cs        = input.content_strategy;\nconst oa        = input.offer_architecture;\nconst ss        = input.strategy_synthesis;\nconst mi        = input.market_intelligence || {};\nconst ip        = input.normalized_intake_payload;\nconst cloudMode = input.cloud_mode || false;\n\n// \u2500\u2500\u2500 Extract Content Strategy signals \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\nconst mh              = cs.messaging_hierarchy || {};\nconst primaryMessage  = mh.primary_message || '';\nconst supportMsgs     = (mh.supporting_messages || []).slice(0, 4);\nconst proofStatements = (mh.proof_statements || []).slice(0, 3);\nconst pillars         = (cs.content_pillars || []).slice(0, 4).map(function(p) {\n  return p.pillar + (p.rationale ? ': ' + p.rationale.slice(0, 80) : '');\n});\nconst ev              = cs.editorial_voice || {};\nconst tone            = ev.tone || 'technical-trustworthy';\nconst ps              = cs.page_strategy || {};\nconst homepageAngle   = ps.homepage_angle || '';\nconst seo             = cs.seo_content_plan || {};\nconst kwClusters      = (seo.primary_keyword_clusters || []).slice(0, 4);\nconst faqClusters     = (seo.faq_topic_clusters || []).slice(0, 3);\n\n// \u2500\u2500\u2500 Extract Offer Architecture signals \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\nconst coreOffer       = oa.core_offer || {};\nconst offerHeadline   = coreOffer.headline || '';\nconst targetBuyer     = coreOffer.target_buyer || '';\nconst pricingTier     = (oa.pricing_logic || {}).tier || 'unknown';\nconst bulkPricing     = (oa.pricing_logic || {}).bulk_pricing || false;\nconst anchorStrategy  = (oa.pricing_logic || {}).anchor_strategy || '';\nconst offerNarrative  = oa.offer_narrative || '';\nconst bundles         = (oa.bundle_opportunities || []).slice(0, 3).map(function(b) { return b.name; });\nconst upsellPaths     = (oa.upsell_paths || []).slice(0, 3).map(function(u) {\n  return u.from + ' -> ' + u.to;\n});\n\n// \u2500\u2500\u2500 Extract Strategy Synthesis signals \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\nconst positioningFocus = ss.positioning_focus || {};\nconst posAngle         = typeof positioningFocus === 'string' ? positioningFocus\n  : (positioningFocus.primary_angle || JSON.stringify(positioningFocus));\nconst opportunities    = (ss.opportunity_priorities || []).slice(0, 4).map(function(o) {\n  return typeof o === 'string' ? o : (o.opportunity || JSON.stringify(o));\n});\nconst risks            = (ss.risk_priorities || []).slice(0, 3).map(function(r) {\n  return typeof r === 'string' ? r : (r.risk || JSON.stringify(r));\n});\nconst growthThesis     = ss.growth_thesis || {};\nconst growthStatement  = typeof growthThesis === 'string' ? growthThesis : (growthThesis.statement || '');\nconst gtmImplications  = (ss.gtm_implications || []).slice(0, 4);\n\n// \u2500\u2500\u2500 Extract intake signals \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\nconst vertical         = ip.vertical || 'unknown';\nconst pricePositioning = ip.price_positioning || 'unknown';\nconst primaryMarket    = ip.primary_market || 'DE';\nconst primaryLanguage  = ip.primary_language || 'de';\nconst projectName      = ip.project_name || ip.project_id || 'the store';\n\n// \u2500\u2500\u2500 Extract market intelligence (optional) \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\nconst audienceSegments = (mi.audience_segments || []).slice(0, 3).map(function(s) {\n  return typeof s === 'string' ? s : ((s.segment_name || 'segment') + (s.description ? ': ' + String(s.description).slice(0, 80) : ''));\n});\nconst competitorTypes  = (mi.competitor_types || []).slice(0, 3).map(function(c) {\n  return typeof c === 'string' ? c : JSON.stringify(c);\n});\nconst trustFactors     = (mi.trust_factors || []).slice(0, 3).map(function(t) {\n  return typeof t === 'string' ? t : (t.factor || JSON.stringify(t));\n});\nconst purchaseMotivators = (mi.purchase_motivators || []).slice(0, 3).map(function(m) {\n  return typeof m === 'string' ? m : (m.motivator || JSON.stringify(m));\n});\n\n// \u2500\u2500\u2500 Build prompt using array accumulation \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\nvar lines = [];\n\nlines.push('You are a senior go-to-market strategist building the GTM plan for a new Shopify store.');\nlines.push('Based on the strategic, offer, and content intelligence below, generate a practical and execution-oriented GTM plan.');\nlines.push('');\nlines.push('## Store Context');\nlines.push('Project: ' + projectName);\nlines.push('Vertical: ' + vertical);\nlines.push('Price positioning: ' + pricePositioning + (bulkPricing ? ' (bulk pricing available)' : ''));\nlines.push('Primary market: ' + primaryMarket);\nlines.push('Primary language: ' + primaryLanguage);\nlines.push('');\nlines.push('## Core Offer');\nlines.push('Headline: ' + offerHeadline);\nlines.push('Target buyer: ' + targetBuyer);\nlines.push('Pricing tier: ' + pricingTier);\nif (anchorStrategy) lines.push('Anchor strategy: ' + anchorStrategy);\nif (offerNarrative) lines.push('Offer narrative: ' + offerNarrative.slice(0, 300));\nif (bundles.length > 0) lines.push('Bundles: ' + bundles.join(', '));\nif (upsellPaths.length > 0) lines.push('Upsell paths: ' + upsellPaths.join(', '));\nlines.push('');\nlines.push('## Messaging');\nlines.push('Primary message: ' + primaryMessage);\nif (supportMsgs.length > 0) lines.push('Supporting messages: ' + supportMsgs.join(' | '));\nif (proofStatements.length > 0) lines.push('Proof statements: ' + proofStatements.join(' | '));\nif (homepageAngle) lines.push('Homepage angle: ' + homepageAngle);\nlines.push('Editorial tone: ' + tone);\nlines.push('');\nlines.push('## Strategic Intelligence');\nlines.push('Positioning focus: ' + posAngle);\nif (growthStatement) lines.push('Growth thesis: ' + growthStatement.slice(0, 300));\nif (pillars.length > 0) {\n  lines.push('Content pillars:');\n  pillars.forEach(function(p) { lines.push('  - ' + p); });\n}\nif (kwClusters.length > 0) lines.push('Primary keyword clusters: ' + kwClusters.join(', '));\nif (faqClusters.length > 0) lines.push('FAQ clusters: ' + faqClusters.join(', '));\nif (opportunities.length > 0) {\n  lines.push('');\n  lines.push('Key opportunities:');\n  opportunities.forEach(function(o, i) { lines.push((i+1) + '. ' + o); });\n}\nif (risks.length > 0) {\n  lines.push('');\n  lines.push('Key risks:');\n  risks.forEach(function(r, i) { lines.push((i+1) + '. ' + r); });\n}\nif (gtmImplications.length > 0) {\n  lines.push('');\n  lines.push('GTM implications from strategy:');\n  gtmImplications.forEach(function(g) { lines.push('  - ' + (typeof g === 'string' ? g : JSON.stringify(g))); });\n}\nif (audienceSegments.length > 0) {\n  lines.push('');\n  lines.push('Audience segments:');\n  audienceSegments.forEach(function(s) { lines.push('  - ' + s); });\n}\nif (competitorTypes.length > 0) lines.push('Competitor types: ' + competitorTypes.join(', '));\nif (trustFactors.length > 0) lines.push('Trust factors: ' + trustFactors.join(', '));\nif (purchaseMotivators.length > 0) lines.push('Purchase motivators: ' + purchaseMotivators.join(', '));\nlines.push('');\nlines.push('## Output Requirements');\nlines.push('Return a JSON object with exactly this structure (pure JSON, no markdown fences):');\nlines.push('{');\nlines.push('  \"launch_sequence\": {');\nlines.push('    \"phase_1\": {');\nlines.push('      \"name\": \"Phase name (e.g. Foundation)\",');\nlines.push('      \"duration\": \"e.g. Weeks 1-4\",');\nlines.push('      \"objectives\": [\"objective 1\", \"objective 2\"],');\nlines.push('      \"key_actions\": [\"action 1\", \"action 2\", \"action 3\"],');\nlines.push('      \"success_metrics\": [\"metric 1\", \"metric 2\"]');\nlines.push('    },');\nlines.push('    \"phase_2\": {');\nlines.push('      \"name\": \"Phase name (e.g. Launch & Acquire)\",');\nlines.push('      \"duration\": \"e.g. Weeks 5-12\",');\nlines.push('      \"objectives\": [\"objective 1\", \"objective 2\"],');\nlines.push('      \"key_actions\": [\"action 1\", \"action 2\"],');\nlines.push('      \"success_metrics\": [\"metric 1\", \"metric 2\"]');\nlines.push('    },');\nlines.push('    \"phase_3\": {');\nlines.push('      \"name\": \"Phase name (e.g. Scale)\",');\nlines.push('      \"duration\": \"e.g. Month 4+\",');\nlines.push('      \"objectives\": [\"objective 1\"],');\nlines.push('      \"key_actions\": [\"action 1\"],');\nlines.push('      \"success_metrics\": [\"metric 1\"]');\nlines.push('    }');\nlines.push('  },');\nlines.push('  \"channel_strategy\": [');\nlines.push('    {');\nlines.push('      \"channel\": \"Channel name (e.g. Organic Search / SEO)\",');\nlines.push('      \"priority\": \"primary\",');\nlines.push('      \"rationale\": \"Why this channel fits\",');\nlines.push('      \"estimated_impact\": \"Expected contribution\",');\nlines.push('      \"budget_signal\": \"Relative budget allocation signal\"');\nlines.push('    }');\nlines.push('  ],');\nlines.push('  \"acquisition_priorities\": [');\nlines.push('    {');\nlines.push('      \"tactic\": \"Tactic name\",');\nlines.push('      \"rationale\": \"Why prioritised\",');\nlines.push('      \"timeline\": \"When to execute\",');\nlines.push('      \"owner\": \"Who is responsible (e.g. Marketing team)\"');\nlines.push('    }');\nlines.push('  ],');\nlines.push('  \"campaign_angles\": [');\nlines.push('    { \"angle\": \"Campaign angle\", \"rationale\": \"Why it works\", \"channel_fit\": [\"SEO\", \"Email\"] }');\nlines.push('  ],');\nlines.push('  \"funnel_recommendations\": {');\nlines.push('    \"top_of_funnel\": \"Strategy for awareness\",');\nlines.push('    \"mid_funnel\": \"Strategy for consideration and engagement\",');\nlines.push('    \"bottom_funnel\": \"Strategy for conversion\"');\nlines.push('  },');\nlines.push('  \"kpis\": [');\nlines.push('    { \"kpi\": \"KPI name\", \"target\": \"Target value\", \"timeframe\": \"When to measure\" }');\nlines.push('  ],');\nlines.push('  \"test_plan\": [');\nlines.push('    { \"test\": \"What to test\", \"hypothesis\": \"Expected outcome\", \"success_criteria\": \"How to measure\" }');\nlines.push('  ],');\nlines.push('  \"execution_risks\": [');\nlines.push('    { \"risk\": \"Risk description\", \"likelihood\": \"high/medium/low\", \"mitigation\": \"How to mitigate\" }');\nlines.push('  ],');\nlines.push('  \"gtm_narrative\": \"2-4 paragraph executive summary of the GTM plan.\",');\nlines.push('  \"risk_flags\": [\"Risk or assumption that could derail the plan\"],');\nlines.push('  \"validation_questions\": [\"Question needing merchant input before launch\"]');\nlines.push('}');\nlines.push('');\nlines.push('Rules:');\nlines.push('- channel_strategy: minimum 2 channels, include at least one primary');\nlines.push('- priority values must be exactly: primary, secondary, or exploratory');\nlines.push('- acquisition_priorities: minimum 2 tactics');\nlines.push('- campaign_angles: minimum 2 angles grounded in the messaging above');\nlines.push('- kpis: minimum 3 KPIs with specific targets');\nlines.push('- test_plan: minimum 2 tests');\nlines.push('- execution_risks: minimum 2 risks');\nlines.push('- gtm_narrative: minimum 2 paragraphs, must reference the specific offer and audience');\nlines.push('- All recommendations grounded in the strategic intelligence above');\nlines.push('- Return pure JSON only \u2014 no markdown, no commentary outside the JSON');\n\nconst prompt = lines.join('\\n');\n\nreturn [{\n  json: {\n    llm_prompt:                prompt,\n    project_id:                input.project_id,\n    runtime_config:            input.runtime_config,\n    content_strategy:          cs,\n    offer_architecture:        oa,\n    strategy_synthesis:        ss,\n    normalized_intake_payload: ip,\n    cloud_mode:                cloudMode,\n  },\n}];\n"
      },
      "id": "a1b2c3d4-006c-006c-006c-000000000003",
      "name": "Build LLM Synthesis Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        750,
        400
      ]
    },
    {
      "parameters": {
        "resource": "chat",
        "operation": "complete",
        "model": "gpt-4o-mini",
        "prompt": {
          "messages": [
            {
              "role": "user",
              "content": "={{ $json.llm_prompt }}"
            }
          ]
        },
        "simplifyOutput": true,
        "options": {
          "temperature": 0.3,
          "maxTokens": 4096
        }
      },
      "credentials": {
        "openAiApi": {
          "id": "REPLACE_WITH_N8N_OPENAI_CREDENTIAL_ID",
          "name": "OpenAI account"
        }
      },
      "id": "a1b2c3d4-006c-006c-006c-000000000004",
      "name": "LLM Synthesis: GTM Plan",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [
        1000,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "// build-gtm-plan \u2014 Parse, Validate, and Write\n//\n// Steps:\n//   1. Parse LLM JSON object response\n//   2. Inline schema validation (required fields, structure checks)\n//   3. Return gtm_plan inline with runtime envelope\n//\n// CLOUD MODE: fully compatible. No AJV, no filesystem write.\n\nfunction buildRunId() {\n  const ts = new Date().toISOString().replace(/[-:T.Z]/g, '').slice(0, 14);\n  const rand = Math.random().toString(36).slice(2, 6);\n  return 'run-' + ts + '-' + rand;\n}\n\nlet cloudMode = false;\ntry { require('fs'); } catch (_e) { cloudMode = true; }\n\nconst llmOutput = $input.first().json;\nconst upstream  = $node['Build LLM Synthesis Prompt'].json;\n\nif (!cloudMode && upstream.cloud_mode) cloudMode = true;\nif (!cloudMode && upstream.runtime_config && upstream.runtime_config.cloud_mode) cloudMode = true;\n\nconst projectId     = upstream.project_id;\nconst runtimeConfig = upstream.runtime_config;\n\n// \u2500\u2500\u2500 Step 1: Parse LLM response \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\nconst rawText = (llmOutput.message && llmOutput.message.content)\n  ? llmOutput.message.content\n  : (typeof llmOutput === 'string' ? llmOutput : JSON.stringify(llmOutput));\n\nlet gtmPlan;\ntry {\n  let cleaned = rawText.trim();\n  if (cleaned.startsWith('```')) {\n    cleaned = cleaned.replace(/^```(?:json)?\\s*/i, '').replace(/\\s*```$/, '').trim();\n  }\n  const parsed = JSON.parse(cleaned);\n  if (parsed && typeof parsed === 'object' && !Array.isArray(parsed)) {\n    gtmPlan = parsed;\n  } else {\n    throw new Error('Expected a JSON object at root, got: ' + typeof parsed);\n  }\n} catch (err) {\n  throw new Error(\n    'LLM_PARSE_ERROR: Failed to parse LLM response as JSON object: ' + err.message +\n    '. Raw response (first 500 chars): ' + String(rawText).slice(0, 500)\n  );\n}\n\n// \u2500\u2500\u2500 Step 2: Inline schema validation \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\nconst cloudWarnings = [];\n\n// Required top-level fields\nconst REQUIRED = ['launch_sequence', 'channel_strategy', 'acquisition_priorities', 'gtm_narrative'];\nfor (const f of REQUIRED) {\n  if (!gtmPlan[f]) {\n    throw new Error('SCHEMA_VIOLATION: gtm_plan.' + f + ' is required.');\n  }\n}\n\n// launch_sequence required sub-phases\nif (!gtmPlan.launch_sequence.phase_1) {\n  throw new Error('SCHEMA_VIOLATION: launch_sequence.phase_1 is required.');\n}\nif (!gtmPlan.launch_sequence.phase_2) {\n  throw new Error('SCHEMA_VIOLATION: launch_sequence.phase_2 is required.');\n}\nfor (const phase of ['phase_1', 'phase_2']) {\n  const p = gtmPlan.launch_sequence[phase];\n  if (!p.name || !Array.isArray(p.objectives) || p.objectives.length === 0) {\n    throw new Error('SCHEMA_VIOLATION: launch_sequence.' + phase + ' must have name and objectives.');\n  }\n}\n\n// channel_strategy: array, min 1, valid priority enum\nif (!Array.isArray(gtmPlan.channel_strategy) || gtmPlan.channel_strategy.length < 1) {\n  throw new Error('SCHEMA_VIOLATION: channel_strategy must be a non-empty array.');\n}\nconst PRIORITY_ENUM = ['primary', 'secondary', 'exploratory'];\nfor (let i = 0; i < gtmPlan.channel_strategy.length; i++) {\n  const c = gtmPlan.channel_strategy[i];\n  if (!c.channel || !c.rationale) {\n    throw new Error('SCHEMA_VIOLATION: channel_strategy[' + i + '] must have channel and rationale.');\n  }\n  if (!PRIORITY_ENUM.includes(c.priority)) {\n    // Auto-correct unknown priority to secondary\n    console.warn('SCHEMA_WARN: channel_strategy[' + i + '].priority \"' + c.priority + '\" not valid \u2014 set to secondary');\n    cloudWarnings.push('channel_strategy[' + i + '].priority auto-corrected to secondary');\n    c.priority = 'secondary';\n  }\n}\n\n// acquisition_priorities: array, min 1\nif (!Array.isArray(gtmPlan.acquisition_priorities) || gtmPlan.acquisition_priorities.length < 1) {\n  throw new Error('SCHEMA_VIOLATION: acquisition_priorities must be a non-empty array.');\n}\nfor (let i = 0; i < gtmPlan.acquisition_priorities.length; i++) {\n  const a = gtmPlan.acquisition_priorities[i];\n  if (!a.tactic || !a.rationale) {\n    throw new Error('SCHEMA_VIOLATION: acquisition_priorities[' + i + '] must have tactic and rationale.');\n  }\n}\n\n// gtm_narrative: non-empty string, min 100 chars\nif (typeof gtmPlan.gtm_narrative !== 'string' || gtmPlan.gtm_narrative.trim().length < 100) {\n  throw new Error('SCHEMA_VIOLATION: gtm_narrative must be a non-empty string (min 100 chars).');\n}\n\n// kpis: validate if present\nif (gtmPlan.kpis && Array.isArray(gtmPlan.kpis)) {\n  for (let i = 0; i < gtmPlan.kpis.length; i++) {\n    const k = gtmPlan.kpis[i];\n    if (!k.kpi || !k.target) {\n      throw new Error('SCHEMA_VIOLATION: kpis[' + i + '] must have kpi and target.');\n    }\n  }\n}\n\n// \u2500\u2500\u2500 Step 3: Build runtime envelope \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\nconst runId       = buildRunId();\nconst executionTs = new Date().toISOString();\n\nconst ch = gtmPlan.channel_strategy || [];\nconst primaryChannels = ch.filter(function(c) { return c.priority === 'primary'; }).map(function(c) { return c.channel; });\n\nconst outputSummary = {\n  channel_count:           ch.length,\n  primary_channel_count:   primaryChannels.length,\n  primary_channels:        primaryChannels,\n  acquisition_tactic_count: (gtmPlan.acquisition_priorities || []).length,\n  campaign_angle_count:    (gtmPlan.campaign_angles || []).length,\n  kpi_count:               (gtmPlan.kpis || []).length,\n  test_count:              (gtmPlan.test_plan || []).length,\n  execution_risk_count:    (gtmPlan.execution_risks || []).length,\n  launch_phases:           Object.keys(gtmPlan.launch_sequence || {}).length,\n};\n\nconst envelope = {\n  run_id:     runId,\n  phase:      'gtm-plan',\n  project_id: projectId,\n  timestamp:  executionTs,\n  cloud_mode: cloudMode,\n  validation: {\n    result:    'PASS',\n    errors:    [],\n    warnings:  cloudWarnings,\n  },\n  diagnostics: {\n    output_summary: outputSummary,\n  },\n  lineage: {\n    depends_on: ['build-content-strategy', 'build-offer-architecture', 'build-strategy-synthesis'],\n    produced_by: 'build-gtm-plan',\n  },\n};\n\nreturn [{\n  json: {\n    project_id:    projectId,\n    artifact_name: 'gtm-plan',\n    artifact_path: null,\n    gtm_plan:      gtmPlan,\n    runtime_config: runtimeConfig,\n    status:        'SUCCESS',\n    cloud_mode:    cloudMode,\n    cloud_warnings: cloudWarnings,\n    notes:         [],\n    envelope:      envelope,\n  },\n}];\n"
      },
      "id": "a1b2c3d4-006c-006c-006c-000000000005",
      "name": "Parse Validate Write",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1250,
        400
      ]
    }
  ],
  "connections": {
    "Subworkflow Trigger": {
      "main": [
        [
          {
            "node": "Validate Upstream Inputs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Upstream Inputs": {
      "main": [
        [
          {
            "node": "Build LLM Synthesis Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build LLM Synthesis Prompt": {
      "main": [
        [
          {
            "node": "LLM Synthesis: GTM Plan",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LLM Synthesis: GTM Plan": {
      "main": [
        [
          {
            "node": "Parse Validate Write",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "any"
  },
  "staticData": null,
  "tags": [
    {
      "name": "store-os"
    },
    {
      "name": "phase-6"
    }
  ],
  "pinData": {}
}