workflows/n8n/build-store-blueprint.n8n.json
{
  "_meta": {
    "workflow_name": "build-store-blueprint",
    "phase": "7a",
    "description": "Phase 7A: Synthesises a structured Shopify store blueprint (products, collections, pages, navigation, theme sections, assets) from all upstream Phase 6 artifacts.",
    "version": "1.0.0",
    "last_updated": "2026-04-07",
    "placeholder_ids": [
      "REPLACE_WITH_N8N_OPENAI_CREDENTIAL_ID"
    ]
  },
  "name": "build-store-blueprint",
  "nodes": [
    {
      "parameters": {},
      "id": "e1f2a3b4-0007-007a-007a-000000000001",
      "name": "Subworkflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        250,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "// build-store-blueprint \u2014 Validate Upstream Inputs\n// Checks all required Phase 6 artifacts are present before LLM synthesis.\n// CLOUD MODE: all data arrives inline via n8n pipeline.\n\nlet cloudMode = false;\ntry { require('fs'); } catch (_e) { cloudMode = true; }\n\nconst input = $input.first().json;\nconst strategySynthesis  = input.strategy_synthesis;\nconst offerArchitecture  = input.offer_architecture;\nconst contentStrategy    = input.content_strategy;\nconst gtmPlan            = input.gtm_plan;\nconst runtimeConfig      = input.runtime_config;\nconst projectId          = input.project_id;\n\nif (!cloudMode && runtimeConfig && runtimeConfig.cloud_mode) cloudMode = true;\n\nif (!strategySynthesis || !strategySynthesis.growth_thesis) {\n  throw new Error('MISSING_ARTIFACT: strategy_synthesis.growth_thesis is required. Run build-strategy-synthesis first.');\n}\nif (!offerArchitecture || !offerArchitecture.core_offer || !offerArchitecture.core_offer.headline) {\n  throw new Error('MISSING_ARTIFACT: offer_architecture.core_offer.headline is required. Run build-offer-architecture first.');\n}\nif (!contentStrategy || !contentStrategy.messaging_hierarchy || !contentStrategy.messaging_hierarchy.primary_message) {\n  throw new Error('MISSING_ARTIFACT: content_strategy.messaging_hierarchy.primary_message is required. Run build-content-strategy first.');\n}\nif (!gtmPlan || !gtmPlan.gtm_narrative) {\n  throw new Error('MISSING_ARTIFACT: gtm_plan.gtm_narrative is required. Run build-gtm-plan first.');\n}\nif (!runtimeConfig) {\n  throw new Error('MISSING_RUNTIME_CONFIG: runtime_config is required.');\n}\nif (!projectId) {\n  throw new Error('MISSING_INPUT: project_id is required.');\n}\n\nconsole.log('build-store-blueprint: inputs validated. cloud=' + cloudMode + ' project=' + projectId);\n\nreturn [{\n  json: {\n    project_id:           projectId,\n    runtime_config:       runtimeConfig,\n    strategy_synthesis:   strategySynthesis,\n    offer_architecture:   offerArchitecture,\n    content_strategy:     contentStrategy,\n    gtm_plan:             gtmPlan,\n    cloud_mode:           cloudMode,\n  },\n}];\n"
      },
      "id": "e1f2a3b4-0007-007a-007a-000000000002",
      "name": "Validate Upstream Inputs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        500,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "// build-store-blueprint \u2014 Build LLM Synthesis Prompt\n// Assembles the LLM prompt from upstream artifacts.\n\nconst input = $input.first().json;\nconst ss  = input.strategy_synthesis;\nconst oa  = input.offer_architecture;\nconst cs  = input.content_strategy;\nconst gp  = input.gtm_plan;\nconst rc  = input.runtime_config;\n\n// Context assembly\nconst growthThesis     = ss.growth_thesis || '';\nconst positionFocus    = (typeof ss.positioning_focus === 'object') ? (ss.positioning_focus.primary_angle || JSON.stringify(ss.positioning_focus)) : (ss.positioning_focus || '');\nconst offerHeadline    = (oa.core_offer || {}).headline || '';\nconst targetBuyer      = (oa.core_offer || {}).target_buyer || '';\nconst pricingTier      = (oa.pricing_logic || {}).tier || '';\nconst bundleCount      = (oa.bundle_opportunities || []).length;\nconst primaryMessage   = (cs.messaging_hierarchy || {}).primary_message || '';\nconst contentPillars   = (cs.content_pillars || []).map(function(p) { return p.pillar || ''; }).join(', ');\nconst seoKeywords      = ((cs.seo_content_plan || {}).primary_keyword_clusters || []).map(function(k) { return k.cluster || k; }).join(', ');\nconst gtmNarrative     = gp.gtm_narrative || '';\nconst channels         = (gp.channel_strategy || []).map(function(c) { return c.channel || c; }).join(', ');\n\nvar lines = [];\nlines.push('You are a Shopify store architect. Your task is to produce a detailed, structured store blueprint for a Shopify store.');\nlines.push('');\nlines.push('The blueprint must be pure planning output \u2014 no Shopify API calls, no live data. This is the architectural plan from which the store will be built.');\nlines.push('');\nlines.push('## Strategic Context');\nlines.push('Growth thesis: ' + growthThesis);\nlines.push('Positioning focus: ' + positionFocus);\nlines.push('Offer headline: ' + offerHeadline);\nlines.push('Target buyer: ' + targetBuyer);\nlines.push('Pricing tier: ' + pricingTier);\nlines.push('Bundles planned: ' + bundleCount);\nlines.push('Primary message: ' + primaryMessage);\nlines.push('Content pillars: ' + contentPillars);\nlines.push('SEO keyword clusters: ' + seoKeywords);\nlines.push('GTM narrative: ' + gtmNarrative);\nlines.push('Primary channels: ' + channels);\nlines.push('');\nlines.push('## Output Requirements');\nlines.push('Return a JSON object that strictly matches this schema. Do NOT add any fields not listed.');\nlines.push('');\nlines.push('```json');\nlines.push('{');\nlines.push('  \"products\": [');\nlines.push('    {');\nlines.push('      \"title\": \"string\",');\nlines.push('      \"product_type\": \"string\",');\nlines.push('      \"handle\": \"string (url-slug)\",');\nlines.push('      \"description_hint\": \"string (1-2 sentence positioning note)\",');\nlines.push('      \"price_range\": \"string (e.g. \u20ac29-\u20ac49)\",');\nlines.push('      \"tags\": [\"string\"],');\nlines.push('      \"collections\": [\"collection-handle\"]');\nlines.push('    }');\nlines.push('  ],');\nlines.push('  \"collections\": [');\nlines.push('    {');\nlines.push('      \"handle\": \"string\",');\nlines.push('      \"title\": \"string\",');\nlines.push('      \"description\": \"string\",');\nlines.push('      \"seo_rationale\": \"string\",');\nlines.push('      \"sort_order\": \"best-selling|manual|created-desc|price-asc|price-desc|alpha-asc|alpha-desc\"');\nlines.push('    }');\nlines.push('  ],');\nlines.push('  \"pages\": [');\nlines.push('    {');\nlines.push('      \"handle\": \"string\",');\nlines.push('      \"title\": \"string\",');\nlines.push('      \"purpose\": \"string\",');\nlines.push('      \"content_direction\": \"string\",');\nlines.push('      \"seo_focus\": \"string\"');\nlines.push('    }');\nlines.push('  ],');\nlines.push('  \"navigation\": [');\nlines.push('    {');\nlines.push('      \"menu_handle\": \"main-menu|footer-menu\",');\nlines.push('      \"title\": \"string\",');\nlines.push('      \"items\": [');\nlines.push('        {');\nlines.push('          \"label\": \"string\",');\nlines.push('          \"link_type\": \"collection|page|product|blog|url|search\",');\nlines.push('          \"target\": \"string (handle or url)\"');\nlines.push('        }');\nlines.push('      ]');\nlines.push('    }');\nlines.push('  ],');\nlines.push('  \"theme_sections\": [');\nlines.push('    {');\nlines.push('      \"page\": \"homepage|collection|product|about|faq\",');\nlines.push('      \"section_type\": \"string (e.g. hero, featured-collection, testimonials, rich-text, faq)\",');\nlines.push('      \"order\": 1,');\nlines.push('      \"heading_hint\": \"string\",');\nlines.push('      \"content_hint\": \"string\",');\nlines.push('      \"cta_label\": \"string\",');\nlines.push('      \"cta_target\": \"string\"');\nlines.push('    }');\nlines.push('  ],');\nlines.push('  \"assets\": [');\nlines.push('    {');\nlines.push('      \"asset_type\": \"logo|favicon|hero-image|collection-banner|product-image|icon|background|other\",');\nlines.push('      \"purpose\": \"string\",');\nlines.push('      \"dimensions\": \"string (e.g. 1920x600)\",');\nlines.push('      \"notes\": \"string\"');\nlines.push('    }');\nlines.push('  ],');\nlines.push('  \"blueprint_narrative\": \"string (2-3 sentence executive summary)\",');\nlines.push('  \"open_questions\": [\"string\"]');\nlines.push('}');\nlines.push('```');\nlines.push('');\nlines.push('## Rules');\nlines.push('- products: include 3-6 representative products that reflect the offer architecture and pricing tier');\nlines.push('- collections: include 2-4 collections that serve SEO and merchandising goals');\nlines.push('- pages: include at minimum about, faq, contact');\nlines.push('- navigation: include main-menu and footer-menu');\nlines.push('- theme_sections: include at minimum 4 homepage sections (hero, featured-collection, value-prop, trust/social-proof)');\nlines.push('- assets: include at minimum logo, favicon, hero-image');\nlines.push('- All handles must be lowercase-hyphenated slugs');\nlines.push('- sort_order must be one of the allowed enum values');\nlines.push('- link_type must be one of the allowed enum values');\nlines.push('- asset_type must be one of the allowed enum values');\nlines.push('- Return ONLY the JSON object, no markdown fences, no commentary');\n\nconst prompt = lines.join('\\n');\nreturn [{ json: { llm_prompt: prompt, project_id: input.project_id, runtime_config: input.runtime_config, cloud_mode: input.cloud_mode } }];\n"
      },
      "id": "e1f2a3b4-0007-007a-007a-000000000003",
      "name": "Build LLM Synthesis Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        750,
        400
      ]
    },
    {
      "parameters": {
        "resource": "chat",
        "operation": "complete",
        "chatModel": "gpt-4o",
        "prompt": {
          "messages": [
            {
              "role": "user",
              "content": "={{ $json.llm_prompt }}"
            }
          ]
        },
        "simplifyOutput": true,
        "options": {
          "temperature": 0.3,
          "maxTokens": 4000
        },
        "messages": {
          "values": []
        }
      },
      "id": "e1f2a3b4-0007-007a-007a-000000000004",
      "name": "LLM Synthesis: Store Blueprint",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [
        1000,
        400
      ],
      "credentials": {
        "openAiApi": {
          "id": "REPLACE_WITH_N8N_OPENAI_CREDENTIAL_ID",
          "name": "OpenAI store-os"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// build-store-blueprint \u2014 Parse Validate Write\n// Parses LLM output, validates structure, returns artifact inline (cloud mode).\n// Cloud mode: inline return. Self-hosted: disk write.\n\nfunction buildRunId() {\n  var ts = new Date().toISOString().replace(/[-:T.Z]/g, '').slice(0, 14);\n  var rand = Math.random().toString(36).slice(2, 6);\n  return 'run-' + ts + '-' + rand;\n}\n\nlet cloudMode = false;\ntry { require('fs'); } catch (_e) { cloudMode = true; }\n\n// LLM output arrives as $input; prompt context comes from the prompt builder node\nconst llmOutput = $input.first().json;\nconst upstream  = $node['Build LLM Synthesis Prompt'].json;\n\nif (!cloudMode && upstream.cloud_mode) cloudMode = true;\nif (!cloudMode && upstream.runtime_config && upstream.runtime_config.cloud_mode) cloudMode = true;\n\nconst projectId     = upstream.project_id;\nconst runtimeConfig = upstream.runtime_config;\nconst executionTs   = new Date().toISOString();\nconst runId         = buildRunId();\n\n// \u2500\u2500 Step 1: Parse LLM response \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\nconst rawText = (llmOutput.message && llmOutput.message.content)\n  ? llmOutput.message.content\n  : (typeof llmOutput === 'string' ? llmOutput : JSON.stringify(llmOutput));\n\nvar blueprint;\ntry {\n  var cleaned = rawText.trim();\n  if (cleaned.startsWith('```')) {\n    cleaned = cleaned.replace(/^```(?:json)?\\s*/i, '').replace(/\\s*```$/, '').trim();\n  }\n  var parsed = JSON.parse(cleaned);\n  if (parsed && typeof parsed === 'object' && !Array.isArray(parsed)) {\n    blueprint = parsed;\n  } else {\n    throw new Error('LLM returned non-object JSON: ' + typeof parsed);\n  }\n} catch (e) {\n  throw new Error('PARSE_ERROR: LLM output is not valid JSON. ' + e.message + ' | Raw (200): ' + rawText.slice(0, 200));\n}\n\n// \u2500\u2500 Step 2: Validation \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\n\nvar requiredArrays = ['products', 'collections', 'pages', 'navigation', 'theme_sections', 'assets'];\nfor (var i = 0; i < requiredArrays.length; i++) {\n  var key = requiredArrays[i];\n  if (!Array.isArray(blueprint[key])) {\n    throw new Error('SCHEMA_VIOLATION: ' + key + ' must be an array. Got: ' + typeof blueprint[key]);\n  }\n}\n\nif (blueprint.products.length < 1) {\n  throw new Error('SCHEMA_VIOLATION: products must have at least 1 item.');\n}\nfor (var p = 0; p < blueprint.products.length; p++) {\n  var prod = blueprint.products[p];\n  if (!prod.title)        throw new Error('SCHEMA_VIOLATION: products[' + p + '].title is required.');\n  if (!prod.product_type) throw new Error('SCHEMA_VIOLATION: products[' + p + '].product_type is required.');\n}\n\nif (blueprint.collections.length < 1) {\n  throw new Error('SCHEMA_VIOLATION: collections must have at least 1 item.');\n}\nvar VALID_SORT_ORDERS = ['best-selling', 'manual', 'created-desc', 'price-asc', 'price-desc', 'alpha-asc', 'alpha-desc'];\nfor (var c = 0; c < blueprint.collections.length; c++) {\n  var coll = blueprint.collections[c];\n  if (!coll.handle) throw new Error('SCHEMA_VIOLATION: collections[' + c + '].handle is required.');\n  if (!coll.title)  throw new Error('SCHEMA_VIOLATION: collections[' + c + '].title is required.');\n  if (coll.sort_order && !VALID_SORT_ORDERS.includes(coll.sort_order)) {\n    console.warn('Auto-correcting collections[' + c + '].sort_order to best-selling');\n    coll.sort_order = 'best-selling';\n  }\n}\n\nvar VALID_LINK_TYPES = ['collection', 'page', 'product', 'blog', 'url', 'search'];\nfor (var pg = 0; pg < blueprint.pages.length; pg++) {\n  var page = blueprint.pages[pg];\n  if (!page.handle)  throw new Error('SCHEMA_VIOLATION: pages[' + pg + '].handle is required.');\n  if (!page.title)   throw new Error('SCHEMA_VIOLATION: pages[' + pg + '].title is required.');\n  if (!page.purpose) throw new Error('SCHEMA_VIOLATION: pages[' + pg + '].purpose is required.');\n}\n\nfor (var n = 0; n < blueprint.navigation.length; n++) {\n  var nav = blueprint.navigation[n];\n  if (!nav.menu_handle) throw new Error('SCHEMA_VIOLATION: navigation[' + n + '].menu_handle is required.');\n  if (!nav.title)       throw new Error('SCHEMA_VIOLATION: navigation[' + n + '].title is required.');\n  if (!Array.isArray(nav.items)) throw new Error('SCHEMA_VIOLATION: navigation[' + n + '].items must be an array.');\n  for (var ni = 0; ni < nav.items.length; ni++) {\n    var item = nav.items[ni];\n    if (item.link_type && !VALID_LINK_TYPES.includes(item.link_type)) {\n      console.warn('Auto-correcting nav item link_type \"' + item.link_type + '\" to url');\n      item.link_type = 'url';\n    }\n  }\n}\n\nif (blueprint.theme_sections.length < 1) {\n  throw new Error('SCHEMA_VIOLATION: theme_sections must have at least 1 item.');\n}\nfor (var ts = 0; ts < blueprint.theme_sections.length; ts++) {\n  var section = blueprint.theme_sections[ts];\n  if (!section.page)         throw new Error('SCHEMA_VIOLATION: theme_sections[' + ts + '].page is required.');\n  if (!section.section_type) throw new Error('SCHEMA_VIOLATION: theme_sections[' + ts + '].section_type is required.');\n  if (typeof section.order !== 'number') { section.order = ts + 1; }\n}\n\nvar VALID_ASSET_TYPES = ['logo', 'favicon', 'hero-image', 'collection-banner', 'product-image', 'icon', 'background', 'other'];\nfor (var a = 0; a < blueprint.assets.length; a++) {\n  var asset = blueprint.assets[a];\n  if (!asset.asset_type) throw new Error('SCHEMA_VIOLATION: assets[' + a + '].asset_type is required.');\n  if (!VALID_ASSET_TYPES.includes(asset.asset_type)) {\n    console.warn('Auto-correcting assets[' + a + '].asset_type to other');\n    asset.asset_type = 'other';\n  }\n  if (!asset.purpose) throw new Error('SCHEMA_VIOLATION: assets[' + a + '].purpose is required.');\n}\n\nif (blueprint.blueprint_narrative && typeof blueprint.blueprint_narrative !== 'string') {\n  blueprint.blueprint_narrative = String(blueprint.blueprint_narrative);\n}\n\n// Strip extra fields\nvar ALLOWED_KEYS = ['products', 'collections', 'pages', 'navigation', 'theme_sections', 'assets', 'blueprint_narrative', 'open_questions'];\nvar extraKeys = Object.keys(blueprint).filter(function(k) { return !ALLOWED_KEYS.includes(k); });\nfor (var ek = 0; ek < extraKeys.length; ek++) {\n  delete blueprint[extraKeys[ek]];\n}\n\n// \u2500\u2500 Step 3: Disk write (self-hosted only) \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\nvar cloudWarnings = [];\nif (!cloudMode) {\n  try {\n    var fs   = require('fs');\n    var path = require('path');\n    var root = runtimeConfig.project_root || '/tmp/store-os/projects';\n    var projectDir = path.join(root, projectId);\n    if (!fs.existsSync(projectDir)) fs.mkdirSync(projectDir, { recursive: true });\n    var outPath = path.join(projectDir, 'store-blueprint.json');\n    fs.writeFileSync(outPath, JSON.stringify(blueprint, null, 2));\n    console.log('Wrote store-blueprint.json to ' + outPath);\n  } catch (writeErr) {\n    cloudWarnings.push('Disk write failed: ' + writeErr.message);\n  }\n} else {\n  cloudWarnings.push('Cloud mode: artifact returned inline, not written to disk.');\n}\n\n// \u2500\u2500 Output summary \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\nvar outputSummary = {\n  products_count:       blueprint.products.length,\n  collections_count:    blueprint.collections.length,\n  pages_count:          blueprint.pages.length,\n  navigation_menus:     blueprint.navigation.length,\n  theme_sections_count: blueprint.theme_sections.length,\n  assets_count:         blueprint.assets.length,\n};\n\nvar envelope = {\n  run_id:     runId,\n  phase:      'store-blueprint',\n  project_id: projectId,\n  timestamp:  executionTs,\n  cloud_mode: cloudMode,\n  validation: { result: 'PASS', errors: [], warnings: cloudWarnings },\n  diagnostics: { output_summary: outputSummary },\n  lineage: {\n    depends_on:  ['build-gtm-plan', 'build-content-strategy', 'build-offer-architecture', 'build-strategy-synthesis'],\n    produced_by: 'build-store-blueprint',\n  },\n};\n\nreturn [{\n  json: {\n    project_id:      projectId,\n    artifact_name:   'store-blueprint',\n    artifact_path:   null,\n    store_blueprint: blueprint,\n    runtime_config:  runtimeConfig,\n    status:          'SUCCESS',\n    cloud_mode:      cloudMode,\n    cloud_warnings:  cloudWarnings,\n    notes:           [],\n    envelope:        envelope,\n  },\n}];\n"
      },
      "id": "e1f2a3b4-0007-007a-007a-000000000005",
      "name": "Parse Validate Write",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1250,
        400
      ]
    }
  ],
  "connections": {
    "Subworkflow Trigger": {
      "main": [
        [
          {
            "node": "Validate Upstream Inputs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Upstream Inputs": {
      "main": [
        [
          {
            "node": "Build LLM Synthesis Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build LLM Synthesis Prompt": {
      "main": [
        [
          {
            "node": "LLM Synthesis: Store Blueprint",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LLM Synthesis: Store Blueprint": {
      "main": [
        [
          {
            "node": "Parse Validate Write",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "any"
  },
  "staticData": null,
  "tags": [],
  "pinData": {}
}