workflows/n8n/build-brand-positioning.n8n.json
{
  "name": "build-brand-positioning",
  "nodes": [
    {
      "parameters": {},
      "id": "f7a8b9c0-0007-0007-0007-000000000001",
      "name": "Subworkflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "jsCode": "// build-brand-positioning — Validate and Extract Brand Signals\n// Validates required upstream inputs and extracts brand signals for LLM prompt.\n//\n// CLOUD MODE: all data arrives via n8n item pipeline from orchestrator.\n//             market_intelligence is passed inline (no disk read).\n// SELF-HOSTED: same pipeline. market_intelligence is also passed inline\n//              from orchestrator (forwarded from build-market-intelligence output).\n//\n// Intake-provided brand preferences (brand_role, tone_of_voice, trust_style,\n// conversion_style, objection_handling_style) are treated as HARD CONSTRAINTS\n// and must not be overridden by LLM synthesis.\n\nlet cloudMode = false;\ntry { require('fs'); } catch (_e) { cloudMode = true; }\n\nconst input = $input.first().json;\nconst storeProfile = input.store_profile;\nconst marketIntelligence = input.market_intelligence;\nconst intakePayload = input.normalized_intake_payload;\nconst runtimeConfig = input.runtime_config;\nconst projectId = input.project_id;\n\n// Propagate cloud_mode from upstream if set\nif (!cloudMode && runtimeConfig && runtimeConfig.cloud_mode) {\n  cloudMode = true;\n}\n\n// Required inputs\nif (!storeProfile || !storeProfile.store_id) {\n  throw new Error('MISSING_ARTIFACT: store_profile with store_id is required. Run build-store-profile first.');\n}\nif (!marketIntelligence) {\n  throw new Error('MISSING_ARTIFACT: market_intelligence is required. Run build-market-intelligence first.');\n}\nif (!intakePayload) {\n  throw new Error('MISSING_ARTIFACT: normalized_intake_payload is required. Run intake-store-input first.');\n}\nif (!runtimeConfig) {\n  throw new Error('MISSING_RUNTIME_CONFIG: runtime_config is required.');\n}\nif (!projectId) {\n  throw new Error('MISSING_INPUT: project_id is required.');\n}\n\n// Required store_profile fields\nconst profileRequired = ['store_id', 'vertical', 'price_positioning', 'primary_market', 'store_type'];\nconst profileMissing = profileRequired.filter(f => !storeProfile[f]);\nif (profileMissing.length > 0) {\n  throw new Error(`MISSING_ARTIFACT: store_profile missing required fields: ${profileMissing.join(', ')}`);\n}\n\n// Required market_intelligence fields\nconst miRequired = ['audience_segments', 'core_problems', 'purchase_motivators', 'trust_factors', 'competitor_types', 'positioning_goals'];\nconst miMissing = miRequired.filter(f => !marketIntelligence[f] || !Array.isArray(marketIntelligence[f]) || marketIntelligence[f].length === 0);\nif (miMissing.length > 0) {\n  throw new Error(`MISSING_ARTIFACT: market_intelligence missing required fields: ${miMissing.join(', ')}`);\n}\n\n// Simple string sanitizer — strip dangerous chars, trim, enforce max length\nconst sanitize = (v, maxLen) => {\n  const limit = maxLen || 500;\n  if (!v || typeof v !== 'string') return null;\n  return v.replace(/[<>`]/g, '').trim().slice(0, limit) || null;\n};\n\n// Extract brand signals from intake\n// Classified as DIRECT (user decision, must not be overridden) or HINT (synthesis guidance)\nconst brandSignals = {\n  // DIRECT fields — user decisions passed through exactly\n  brand_role:           intakePayload.brand_role || null,\n  tone_of_voice_style:  intakePayload.tone_of_voice || null,      // maps to tone_of_voice.style\n  trust_proof_mode:     intakePayload.trust_style || null,        // maps to trust_style.proof_mode\n  conversion_cta_style: intakePayload.conversion_style || null,   // maps to conversion_style.cta_style\n  objection_handling:   intakePayload.objection_handling_style || null,\n\n  // HINT fields — synthesis guidance\n  must_feel_like:       sanitize(intakePayload.must_feel_like),\n  must_not_feel_like:   sanitize(intakePayload.must_not_feel_like),\n  desired_style_hints:  Array.isArray(intakePayload.desired_style_hints) ? intakePayload.desired_style_hints : [],\n  forbidden_styles:     Array.isArray(intakePayload.forbidden_styles) ? intakePayload.forbidden_styles : [],\n  special_notes:        sanitize(intakePayload.special_notes),\n  seo_goal:             intakePayload.seo_goal || null,\n  aeo_goal:             intakePayload.aeo_goal || null,\n};\n\n// Log provenance: which fields are direct vs will be synthesized\nconst directFields = [];\nconst synthesizeFields = [];\nif (brandSignals.brand_role) directFields.push('brand_role'); else synthesizeFields.push('brand_role');\nif (brandSignals.tone_of_voice_style) directFields.push('tone_of_voice.style'); else synthesizeFields.push('tone_of_voice.style');\nif (brandSignals.trust_proof_mode) directFields.push('trust_style.proof_mode'); else synthesizeFields.push('trust_style.proof_mode');\nif (brandSignals.conversion_cta_style) directFields.push('conversion_style.cta_style'); else synthesizeFields.push('conversion_style.cta_style');\nif (brandSignals.objection_handling) directFields.push('objection_handling_style'); else synthesizeFields.push('objection_handling_style');\n\nconsole.log('DIRECT fields from intake: ' + (directFields.join(', ') || 'none'));\nconsole.log('SYNTHESIZE fields (LLM will generate): ' + synthesizeFields.join(', '));\n\nreturn [{\n  json: {\n    project_id: projectId,\n    runtime_config: runtimeConfig,\n    store_profile: storeProfile,\n    market_intelligence: marketIntelligence,\n    brand_signals: brandSignals,\n    direct_fields: directFields,\n    synthesize_fields: synthesizeFields,\n    cloud_mode: cloudMode,\n  },\n}];\n"
      },
      "id": "f7a8b9c0-0007-0007-0007-000000000002",
      "name": "Validate and Extract Brand Signals",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [500, 300]
    },
    {
      "parameters": {
        "jsCode": "// build-brand-positioning — Build LLM Prompt\n// Assembles the structured prompt for brand positioning synthesis.\n// Evidence boundary: intake signals + store profile + market intelligence only.\n// DIRECT intake fields are enforced as hard constraints in the prompt.\n// LLM synthesizes all remaining fields.\n\nconst input = $input.first().json;\nconst signals = input.brand_signals;\nconst profile = input.store_profile;\nconst mi = input.market_intelligence;\nconst directFields = input.direct_fields || [];\n\n// Build direct-field constraint section for the prompt\nconst directConstraints = [];\nif (signals.brand_role) {\n  directConstraints.push('  - brand_role: \"' + signals.brand_role + '\" (DIRECT from user — do NOT change)');\n}\nif (signals.tone_of_voice_style) {\n  directConstraints.push('  - tone_of_voice.style: \"' + signals.tone_of_voice_style + '\" (DIRECT from user — do NOT change)');\n}\nif (signals.trust_proof_mode) {\n  directConstraints.push('  - trust_style.proof_mode: \"' + signals.trust_proof_mode + '\" (DIRECT from user — do NOT change)');\n}\nif (signals.conversion_cta_style) {\n  directConstraints.push('  - conversion_style.cta_style: \"' + signals.conversion_cta_style + '\" (DIRECT from user — do NOT change)');\n}\nif (signals.objection_handling) {\n  directConstraints.push('  - objection_handling_style: \"' + signals.objection_handling + '\" (DIRECT from user — do NOT change)');\n}\n\n// Build synthesis hints section\nconst hintLines = [];\nif (signals.must_feel_like) hintLines.push('- Must feel like: \"' + signals.must_feel_like + '\"');\nif (signals.must_not_feel_like) hintLines.push('- Must NOT feel like: \"' + signals.must_not_feel_like + '\"');\nif (signals.desired_style_hints && signals.desired_style_hints.length > 0) {\n  hintLines.push('- Desired style hints: ' + signals.desired_style_hints.join(', '));\n}\nif (signals.forbidden_styles && signals.forbidden_styles.length > 0) {\n  hintLines.push('- Forbidden styles: ' + signals.forbidden_styles.join(', '));\n}\nif (signals.special_notes) hintLines.push('- Special notes: \"' + signals.special_notes + '\"');\nif (signals.seo_goal) hintLines.push('- SEO goal: ' + signals.seo_goal);\nif (signals.aeo_goal) hintLines.push('- AEO goal: ' + signals.aeo_goal);\n\n// Market intelligence context (bounded for prompt efficiency)\nconst audienceSegmentNames = (mi.audience_segments || []).map(function(s) { return s.segment_name; }).slice(0, 3).join(', ');\nconst coreProblems = (mi.core_problems || []).slice(0, 4).join('; ');\nconst purchaseMotivators = (mi.purchase_motivators || []).slice(0, 4).join('; ');\nconst trustFactors = (mi.trust_factors || []).slice(0, 4).join('; ');\nconst competitorWeaknesses = (mi.competitor_types || [])\n  .map(function(ct) { return ct.weaknesses ? ct.type_name + ': ' + (ct.weaknesses || []).slice(0, 2).join(', ') : null; })\n  .filter(Boolean).slice(0, 3).join(' | ');\nconst positioningGoals = (mi.positioning_goals || []).slice(0, 3).join('; ');\n\nconst synthesisNote = [\n  'BRAND POSITIONING — SYNTHESIS ARTIFACT: Generated by LLM from internal store signals on ' + new Date().toISOString() + '.',\n  'Direct fields from user intake: ' + (directFields.length > 0 ? directFields.join(', ') : 'none') + '.',\n  'All other fields are LLM-synthesized from store profile and market intelligence context.',\n  'Human review is required before these values are used to drive copy generation or design decisions.',\n].join(' ');\n\nconst directConstraintSection = directConstraints.length > 0\n  ? 'DIRECT USER CONSTRAINTS (output these field values exactly as specified — do NOT change them):\\n' + directConstraints.join('\\n')\n  : 'NO DIRECT USER CONSTRAINTS: synthesize all positioning fields from store and market context.';\n\nconst schemaTemplate = [\n  '{',\n  '  \"brand_role\": \"one of: specialist | curator | problem-solver | premium-innovator | editorial-guide | value-leader\",',\n  '  \"value_proposition\": \"short concrete statement of the store unique offer (1-2 sentences)\",',\n  '  \"positioning_statement\": \"single sentence describing strategic position relative to competitor types\",',\n  '  \"differentiators\": [\"specific differentiator strings grounded in market context — min 1 required\"],',\n  '  \"brand_traits\": [\"adjective or short phrase — min 2 required\"],',\n  '  \"tone_of_voice\": {',\n  '    \"style\": \"one of: clear-direct | premium-confident | warm-helpful | editorial-smart | playful-bold | technical-trustworthy\",',\n  '    \"clarity_level\": \"one of: very-clear | balanced | more-expressive\",',\n  '    \"emotional_intensity\": \"one of: low | medium | high\"',\n  '  },',\n  '  \"trust_style\": {',\n  '    \"proof_mode\": \"one of: evidence-led | social-proof-led | authority-led | guarantee-led | mixed\",',\n  '    \"reassurance_level\": \"one of: light | moderate | strong\"',\n  '  },',\n  '  \"conversion_style\": {',\n  '    \"cta_style\": \"one of: subtle | balanced | assertive\",',\n  '    \"sales_pressure\": \"one of: low | medium | high\"',\n  '  },',\n  '  \"objection_handling_style\": \"one of: minimal | balanced | detailed (include if relevant)\",',\n  '  \"visual_positioning_hint\": \"brief visual orientation string (include if meaningful)\",',\n  '  \"media_style_hint\": \"brief media style string (include if meaningful)\",',\n  signals.seo_goal ? '  \"seo_tone_hint\": \"brief SEO tone guidance\",' : '',\n  signals.aeo_goal ? '  \"aeo_tone_hint\": \"brief AEO tone guidance\",' : '',\n  '  \"forbidden_impressions\": [\"impression strings to avoid\"],',\n  '  \"notes\": \"' + synthesisNote + '\"',\n  '}',\n].filter(function(l) { return l !== ''; }).join('\\n');\n\nconst llmPrompt = [\n  'You are a brand strategist for an e-commerce store.',\n  'Synthesize a structured brand positioning artifact exclusively from the store signals and market intelligence provided below.',\n  '',\n  'CONSTRAINTS:',\n  '- Output valid JSON only. No markdown fences. No explanation outside the JSON object.',\n  '- All outputs are planning hypotheses for human review — do not claim certainty.',\n  '- Do NOT invent statistics, market share figures, or demographic data.',\n  '- Enum values must exactly match one of the listed options for each field.',\n  '',\n  directConstraintSection,\n  '',\n  'STORE SIGNALS:',\n  '- Vertical: ' + profile.vertical,\n  '- Store type: ' + profile.store_type,\n  '- Price positioning: ' + profile.price_positioning,\n  '- Brand maturity: ' + (profile.brand_maturity || 'new'),\n  '- Primary market: ' + profile.primary_market,\n  '- Catalog type: ' + (profile.catalog_type || 'general'),\n  '- Business model: ' + (profile.business_model || 'ecommerce'),\n  '',\n  'MARKET INTELLIGENCE CONTEXT (LLM-synthesized — use as strategic input):',\n  '- Market category: ' + (mi.market_category || 'unknown'),\n  '- Audience segments: ' + (audienceSegmentNames || 'not specified'),\n  '- Core problems solved: ' + (coreProblems || 'not specified'),\n  '- Purchase motivators: ' + (purchaseMotivators || 'not specified'),\n  '- Trust factors: ' + (trustFactors || 'not specified'),\n  '- Competitor weaknesses (differentiate from): ' + (competitorWeaknesses || 'none specified'),\n  '- Positioning goals: ' + (positioningGoals || 'not specified'),\n  '',\n  hintLines.length > 0 ? 'SYNTHESIS HINTS FROM USER:\\n' + hintLines.join('\\n') : 'SYNTHESIS HINTS: None provided.',\n  '',\n  'SYNTHESIS GUIDANCE:',\n  '- value_proposition: ground in audience core_problems and purchase_motivators',\n  '- positioning_statement: one sentence on strategic position vs competitor types',\n  '- differentiators: derive from competitor_types weaknesses + price_positioning + vertical strengths — avoid generic platitudes',\n  '- brand_traits: adjectives or short phrases consistent with brand_role and tone_of_voice style',\n  '- tone_of_voice.clarity_level defaults: clear-direct→very-clear, premium-confident→balanced, warm-helpful→balanced, editorial-smart→more-expressive, playful-bold→more-expressive, technical-trustworthy→very-clear',\n  '- tone_of_voice.emotional_intensity defaults: premium-confident→medium, playful-bold→high, clear-direct→low, technical-trustworthy→low, warm-helpful→medium, editorial-smart→medium',\n  '- trust_style.reassurance_level: strong for new brands or premium price tiers; moderate for established; light for value-leader with existing trust signals',\n  '- conversion_style.sales_pressure: low for premium-innovator or editorial-guide; high for value-leader; medium for most others',\n  '- forbidden_impressions: combine must_not_feel_like + forbidden_styles + impressions that would conflict with competitor differentiation',\n  '',\n  'OUTPUT JSON SCHEMA (produce exactly this structure, populated with synthesized values):',\n  schemaTemplate,\n].join('\\n');\n\nreturn [{\n  json: {\n    project_id: input.project_id,\n    runtime_config: input.runtime_config,\n    store_profile: input.store_profile,\n    market_intelligence: input.market_intelligence,\n    brand_signals: signals,\n    direct_fields: directFields,\n    cloud_mode: input.cloud_mode,\n    llm_prompt: llmPrompt,\n  },\n}];\n"
      },
      "id": "f7a8b9c0-0007-0007-0007-000000000003",
      "name": "Build LLM Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [750, 300]
    },
    {
      "parameters": {
        "resource": "chat",
        "operation": "complete",
        "chatModel": "gpt-4o",
        "prompt": {
          "messages": [
            {
              "role": "user",
              "content": "={{ $json.llm_prompt }}"
            }
          ]
        },
        "simplifyOutput": true,
        "options": {
          "temperature": 0.3,
          "maxTokens": 1500
        }
      },
      "credentials": {
        "openAiApi": {
          "id": "REPLACE_WITH_N8N_OPENAI_CREDENTIAL_ID",
          "name": "OpenAI account"
        }
      },
      "id": "f7a8b9c0-0007-0007-0007-000000000004",
      "name": "LLM Synthesis: Brand Positioning",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1.1,
      "position": [1000, 300],
      "notes": "SETUP: Replace REPLACE_WITH_N8N_OPENAI_CREDENTIAL_ID with your n8n OpenAI credential ID. Find it in n8n > Settings > Credentials > your OpenAI credential > the numeric ID in the URL. The chatModel field defaults to gpt-4o — update if your runtime uses a different model."
    },
    {
      "parameters": {
        "jsCode": "// build-brand-positioning — Parse, Merge, Enforce, and Write\n// Parses the LLM response, enforces direct fields from intake, validates structure,\n// and writes the artifact.\n//\n// CLOUD MODE: AJV validation and filesystem write are skipped.\n//             brand_positioning is returned inline in output.\n// SELF-HOSTED: Validates against schemas/brand-positioning.schema.json via AJV.\n//              Writes atomically to projects/{project_id}/brand-positioning.json.\n//              Updates checkpoint.json if present. Quarantines on schema failure.\n\nlet fs, path;\nlet cloudMode = false;\ntry {\n  fs = require('fs');\n  path = require('path');\n} catch (_e) {\n  cloudMode = true;\n}\n\n// LLM response from OpenAI node\nconst llmOutput = $input.first().json;\n\n// Upstream context from Build LLM Prompt node\nconst upstream = $node['Build LLM Prompt'].json;\n\n// Propagate cloud_mode from upstream\nif (!cloudMode && upstream.cloud_mode) cloudMode = true;\nif (!cloudMode && upstream.runtime_config && upstream.runtime_config.cloud_mode) cloudMode = true;\n\nconst projectId = upstream.project_id;\nconst runtimeConfig = upstream.runtime_config;\nconst storeProfile = upstream.store_profile;\nconst brandSignals = upstream.brand_signals;\nconst directFields = upstream.direct_fields || [];\n\n// Extract text from OpenAI node output (simplifyOutput: true → message.content)\nconst rawText = (llmOutput.message && llmOutput.message.content)\n  ? llmOutput.message.content\n  : (typeof llmOutput === 'string' ? llmOutput : JSON.stringify(llmOutput));\n\n// Parse LLM response\nlet brandPositioning;\ntry {\n  let cleaned = rawText.trim();\n  if (cleaned.startsWith('```')) {\n    cleaned = cleaned.replace(/^```(?:json)?\\s*/i, '').replace(/\\s*```$/, '').trim();\n  }\n  brandPositioning = JSON.parse(cleaned);\n} catch (err) {\n  throw new Error(\n    'PARSE_ERROR: Failed to parse LLM response as JSON: ' + err.message +\n    '. Raw response (first 500 chars): ' + String(rawText).slice(0, 500)\n  );\n}\n\n// ─── Enforce DIRECT fields from intake (user decisions override LLM) ─────────\n\n// brand_role\nif (brandSignals.brand_role) {\n  if (brandPositioning.brand_role !== brandSignals.brand_role) {\n    console.warn('DIRECT_FIELD_ENFORCED: brand_role overriding LLM value \"' + brandPositioning.brand_role + '\" with user value \"' + brandSignals.brand_role + '\"');\n  }\n  brandPositioning.brand_role = brandSignals.brand_role;\n}\n\n// tone_of_voice.style\nif (brandSignals.tone_of_voice_style) {\n  if (!brandPositioning.tone_of_voice || typeof brandPositioning.tone_of_voice !== 'object') {\n    brandPositioning.tone_of_voice = {};\n  }\n  if (brandPositioning.tone_of_voice.style !== brandSignals.tone_of_voice_style) {\n    console.warn('DIRECT_FIELD_ENFORCED: tone_of_voice.style overriding LLM value \"' + brandPositioning.tone_of_voice.style + '\" with user value \"' + brandSignals.tone_of_voice_style + '\"');\n  }\n  brandPositioning.tone_of_voice.style = brandSignals.tone_of_voice_style;\n}\n\n// trust_style.proof_mode\nif (brandSignals.trust_proof_mode) {\n  if (!brandPositioning.trust_style || typeof brandPositioning.trust_style !== 'object') {\n    brandPositioning.trust_style = {};\n  }\n  if (brandPositioning.trust_style.proof_mode !== brandSignals.trust_proof_mode) {\n    console.warn('DIRECT_FIELD_ENFORCED: trust_style.proof_mode overriding LLM value \"' + brandPositioning.trust_style.proof_mode + '\" with user value \"' + brandSignals.trust_proof_mode + '\"');\n  }\n  brandPositioning.trust_style.proof_mode = brandSignals.trust_proof_mode;\n}\n\n// conversion_style.cta_style\nif (brandSignals.conversion_cta_style) {\n  if (!brandPositioning.conversion_style || typeof brandPositioning.conversion_style !== 'object') {\n    brandPositioning.conversion_style = {};\n  }\n  if (brandPositioning.conversion_style.cta_style !== brandSignals.conversion_cta_style) {\n    console.warn('DIRECT_FIELD_ENFORCED: conversion_style.cta_style overriding LLM value \"' + brandPositioning.conversion_style.cta_style + '\" with user value \"' + brandSignals.conversion_cta_style + '\"');\n  }\n  brandPositioning.conversion_style.cta_style = brandSignals.conversion_cta_style;\n}\n\n// objection_handling_style\nif (brandSignals.objection_handling) {\n  brandPositioning.objection_handling_style = brandSignals.objection_handling;\n}\n\n// ─── Merge forbidden_impressions from intake ──────────────────────────────────\nconst intakeForbiddenBase = [];\nif (brandSignals.must_not_feel_like) intakeForbiddenBase.push(brandSignals.must_not_feel_like);\nif (brandSignals.forbidden_styles && brandSignals.forbidden_styles.length > 0) {\n  brandSignals.forbidden_styles.forEach(function(s) { intakeForbiddenBase.push('avoid-style: ' + s); });\n}\nconst existingForbidden = Array.isArray(brandPositioning.forbidden_impressions) ? brandPositioning.forbidden_impressions : [];\nconst merged = [];\nconst seen = {};\nfor (const item of [...intakeForbiddenBase, ...existingForbidden]) {\n  if (item && !seen[item]) { seen[item] = true; merged.push(item); }\n}\nif (merged.length > 0) brandPositioning.forbidden_impressions = merged;\n\n// ─── Inject synthesis notes ───────────────────────────────────────────────────\nconst directFieldsList = directFields.length > 0 ? directFields.join(', ') : 'none';\nbrandPositioning.notes = [\n  'BRAND POSITIONING — SYNTHESIS ARTIFACT:',\n  'Direct fields from user intake: ' + directFieldsList + '.',\n  'All other fields are LLM-synthesized from store profile and market intelligence context.',\n  'Market intelligence was itself LLM-synthesized — see market-intelligence.json for its evidence boundary.',\n  'Human review is required before these values are used to drive copy generation or design decisions.',\n  'Generated: ' + new Date().toISOString() + '.',\n  'Signals: vertical=' + storeProfile.vertical + ', market=' + storeProfile.primary_market + ', price_tier=' + storeProfile.price_positioning + '.',\n].join(' ');\n\n// ─── Inline required-field validation ────────────────────────────────────────\nfor (const f of ['brand_role', 'value_proposition', 'positioning_statement']) {\n  if (!brandPositioning[f] || typeof brandPositioning[f] !== 'string' || !brandPositioning[f].trim()) {\n    throw new Error('MISSING_FIELD: brand_positioning missing required field: ' + f);\n  }\n}\nif (!Array.isArray(brandPositioning.differentiators) || brandPositioning.differentiators.length < 1) {\n  throw new Error('SCHEMA_VIOLATION: differentiators must be a non-empty array (minItems: 1).');\n}\nif (!Array.isArray(brandPositioning.brand_traits) || brandPositioning.brand_traits.length < 2) {\n  throw new Error('SCHEMA_VIOLATION: brand_traits must have at least 2 items (minItems: 2).');\n}\nfor (const obj of ['tone_of_voice', 'trust_style', 'conversion_style']) {\n  if (!brandPositioning[obj] || typeof brandPositioning[obj] !== 'object') {\n    throw new Error('MISSING_FIELD: brand_positioning missing required nested object: ' + obj);\n  }\n}\n\n// Enum validation\nconst brandRoleEnum = ['specialist', 'curator', 'problem-solver', 'premium-innovator', 'editorial-guide', 'value-leader'];\nif (!brandRoleEnum.includes(brandPositioning.brand_role)) {\n  throw new Error('SCHEMA_VIOLATION: brand_role \"' + brandPositioning.brand_role + '\" is not valid. Must be one of: ' + brandRoleEnum.join(', '));\n}\nconst tovStyleEnum = ['clear-direct', 'premium-confident', 'warm-helpful', 'editorial-smart', 'playful-bold', 'technical-trustworthy'];\nif (!tovStyleEnum.includes(brandPositioning.tone_of_voice.style)) {\n  throw new Error('SCHEMA_VIOLATION: tone_of_voice.style \"' + brandPositioning.tone_of_voice.style + '\" is not valid.');\n}\nif (!['very-clear', 'balanced', 'more-expressive'].includes(brandPositioning.tone_of_voice.clarity_level)) {\n  throw new Error('SCHEMA_VIOLATION: tone_of_voice.clarity_level \"' + brandPositioning.tone_of_voice.clarity_level + '\" is not valid.');\n}\nif (!['low', 'medium', 'high'].includes(brandPositioning.tone_of_voice.emotional_intensity)) {\n  throw new Error('SCHEMA_VIOLATION: tone_of_voice.emotional_intensity \"' + brandPositioning.tone_of_voice.emotional_intensity + '\" is not valid.');\n}\nif (!['evidence-led', 'social-proof-led', 'authority-led', 'guarantee-led', 'mixed'].includes(brandPositioning.trust_style.proof_mode)) {\n  throw new Error('SCHEMA_VIOLATION: trust_style.proof_mode \"' + brandPositioning.trust_style.proof_mode + '\" is not valid.');\n}\nif (!['light', 'moderate', 'strong'].includes(brandPositioning.trust_style.reassurance_level)) {\n  throw new Error('SCHEMA_VIOLATION: trust_style.reassurance_level \"' + brandPositioning.trust_style.reassurance_level + '\" is not valid.');\n}\nif (!['subtle', 'balanced', 'assertive'].includes(brandPositioning.conversion_style.cta_style)) {\n  throw new Error('SCHEMA_VIOLATION: conversion_style.cta_style \"' + brandPositioning.conversion_style.cta_style + '\" is not valid.');\n}\nif (!['low', 'medium', 'high'].includes(brandPositioning.conversion_style.sales_pressure)) {\n  throw new Error('SCHEMA_VIOLATION: conversion_style.sales_pressure \"' + brandPositioning.conversion_style.sales_pressure + '\" is not valid.');\n}\n\nif (cloudMode) {\n  // CLOUD SKIP: No AJV schema validation. No filesystem write.\n  console.warn(\n    'CLOUD_MODE: build-brand-positioning skipping AJV validation and artifact write for project: ' + projectId + '. ' +\n    'brand_positioning returned inline.'\n  );\n  return [{\n    json: {\n      project_id: projectId,\n      artifact_name: 'brand-positioning',\n      artifact_path: null,\n      brand_positioning: brandPositioning,\n      runtime_config: runtimeConfig,\n      status: 'SUCCESS',\n      cloud_mode: true,\n      cloud_warnings: [\n        'AJV schema validation skipped — no schema files accessible in n8n Cloud',\n        'Artifact write skipped — no filesystem in n8n Cloud',\n        'Checkpoint update skipped — no filesystem in n8n Cloud',\n      ],\n      notes: [],\n    },\n  }];\n}\n\n// SELF-HOSTED: AJV schema validation\nconst schemaPath = path.join(runtimeConfig.ajv_schema_path, 'brand-positioning.schema.json');\nif (!fs.existsSync(schemaPath)) {\n  throw new Error('SCHEMA_LOAD_ERROR: brand-positioning.schema.json not found at ' + schemaPath);\n}\nconst schema = JSON.parse(fs.readFileSync(schemaPath, 'utf8'));\n\nlet AjvClass;\ntry {\n  AjvClass = require('ajv/dist/2020');\n} catch {\n  try { AjvClass = require('ajv'); } catch (err) {\n    throw new Error('SCHEMA_LOAD_ERROR: AJV not available: ' + err.message);\n  }\n}\n\nconst ajv = new AjvClass({ allErrors: true, strict: false });\nconst validate = ajv.compile(schema);\nconst valid = validate(brandPositioning);\n\nif (!valid) {\n  const quarantineDir = path.join(runtimeConfig.project_root, projectId, '.runtime', 'quarantine');\n  fs.mkdirSync(quarantineDir, { recursive: true });\n  const ts = new Date().toISOString().replace(/[:.]/g, '-');\n  const quarantinePath = path.join(quarantineDir, 'brand-positioning.' + ts + '.rejected.json');\n  fs.writeFileSync(quarantinePath, JSON.stringify({\n    quarantine_reason: 'SCHEMA_VIOLATION',\n    artifact_name: 'brand-positioning',\n    workflow_id: 'build-brand-positioning',\n    validation_errors: validate.errors,\n    timestamp: new Date().toISOString(),\n    project_id: projectId,\n    artifact_payload: brandPositioning,\n  }, null, 2), 'utf8');\n  const errorSummary = (validate.errors || []).map(function(e) { return (e.instancePath || '(root)') + ' ' + e.message; }).join('; ');\n  throw new Error(\n    'SCHEMA_VIOLATION: brand-positioning failed validation. Quarantined to ' + quarantinePath + '. Errors: ' + errorSummary\n  );\n}\n\n// Atomic write\nconst projectDir = path.join(runtimeConfig.project_root, projectId);\nconst finalPath = path.join(projectDir, 'brand-positioning.json');\nconst tmpPath = path.join(projectDir, 'brand-positioning.tmp.json');\nfs.mkdirSync(projectDir, { recursive: true });\nfs.writeFileSync(tmpPath, JSON.stringify(brandPositioning, null, 2), 'utf8');\nfs.renameSync(tmpPath, finalPath);\n\n// Update checkpoint\nconst checkpointPath = path.join(runtimeConfig.project_root, projectId, '.runtime', 'checkpoint.json');\nconst now = new Date().toISOString();\ntry {\n  const checkpoint = JSON.parse(fs.readFileSync(checkpointPath, 'utf8'));\n  checkpoint.completed_workflows.push({\n    workflow_id: 'build-brand-positioning',\n    completed_at: now,\n    output_artifact: 'brand-positioning.json',\n    status: 'SUCCESS',\n  });\n  checkpoint.last_updated_timestamp = now;\n  checkpoint.next_workflow = 'build-competitor-clusters';\n  const cpTmp = checkpointPath + '.tmp';\n  fs.writeFileSync(cpTmp, JSON.stringify(checkpoint, null, 2), 'utf8');\n  fs.renameSync(cpTmp, checkpointPath);\n} catch { /* non-fatal */ }\n\nreturn [{\n  json: {\n    project_id: projectId,\n    artifact_name: 'brand-positioning',\n    artifact_path: finalPath,\n    brand_positioning: brandPositioning,\n    runtime_config: runtimeConfig,\n    status: 'SUCCESS',\n    notes: [],\n  },\n}];\n"
      },
      "id": "f7a8b9c0-0007-0007-0007-000000000005",
      "name": "Parse Merge Enforce and Write",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1250, 300]
    }
  ],
  "connections": {
    "Subworkflow Trigger": {
      "main": [
        [{ "node": "Validate and Extract Brand Signals", "type": "main", "index": 0 }]
      ]
    },
    "Validate and Extract Brand Signals": {
      "main": [
        [{ "node": "Build LLM Prompt", "type": "main", "index": 0 }]
      ]
    },
    "Build LLM Prompt": {
      "main": [
        [{ "node": "LLM Synthesis: Brand Positioning", "type": "main", "index": 0 }]
      ]
    },
    "LLM Synthesis: Brand Positioning": {
      "main": [
        [{ "node": "Parse Merge Enforce and Write", "type": "main", "index": 0 }]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "_meta": {
    "storeOs": {
      "phase": "Phase 14",
      "format": "n8n-executable",
      "sourceSpec": "workflows/subflows/build-brand-positioning.json",
      "outputSchema": "schemas/brand-positioning.schema.json",
      "cloudCompatibility": "PARTIAL — signal extraction, prompt building, and LLM synthesis run in both modes. In cloud mode: (1) market_intelligence is read from the n8n trigger input payload instead of disk, (2) AJV schema validation is skipped (replaced by inline enum/structure checks), (3) artifact write and checkpoint update are skipped. brand_positioning is returned inline.",
      "invocation": "Called as a subworkflow by orchestrate-phase1 (after build-market-intelligence). Expects Subworkflow Trigger input: { project_id, store_profile, market_intelligence, normalized_intake_payload, runtime_config }",
      "output": "{ project_id, artifact_name, artifact_path, brand_positioning, runtime_config, status, notes [, cloud_mode, cloud_warnings] }",
      "setupRequired": [
        "Replace REPLACE_WITH_N8N_OPENAI_CREDENTIAL_ID in 'LLM Synthesis: Brand Positioning' with your n8n OpenAI credential ID.",
        "Self-hosted: ensure STORE_OS_AJV_SCHEMA_PATH points to the schemas/ directory and ajv@8 is installed in n8n node_modules.",
        "Cloud mode: OpenAI credential must be configured in n8n. market_intelligence must be forwarded inline from orchestrate-phase1's Prepare Brand Positioning Input node."
      ],
      "cloudSkipped": [
        "AJV schema validation — no local schema files in n8n Cloud (replaced by inline enum/structure checks in Code node)",
        "Artifact write (brand-positioning.json) — no filesystem in n8n Cloud",
        "Checkpoint update — no filesystem in n8n Cloud"
      ],
      "directFieldEnforcement": [
        "brand_role — user intake value overrides LLM output when non-null",
        "tone_of_voice.style — mapped from intake.tone_of_voice enum",
        "trust_style.proof_mode — mapped from intake.trust_style enum",
        "conversion_style.cta_style — mapped from intake.conversion_style enum",
        "objection_handling_style — user intake value overrides LLM output when non-null"
      ],
      "notes": [
        "All LLM outputs are synthesis-based planning hypotheses — not finalized brand strategy.",
        "Direct fields from intake are enforced after LLM synthesis to prevent drift from user decisions.",
        "Inline enum and structure validation runs in both cloud and self-hosted mode. Full AJV validation is self-hosted only.",
        "forbidden_impressions merges intake.must_not_feel_like + intake.forbidden_styles + LLM-inferred additions.",
        "Temperature 0.3 for deterministic structured output. Max tokens 1500 covers all required schema fields.",
        "Downstream consumers: build-pattern-manifest, build-design-system, build-product-content, build-collection-content (all out of scope for Phase 2)."
      ]
    }
  }
}
