workflows/n8n/intake-store-input.n8n.json
{
  "name": "intake-store-input",
  "nodes": [
    {
      "parameters": {},
      "id": "b2c3d4e5-0002-0002-0002-000000000001",
      "name": "Subworkflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "jsCode": "// intake-store-input — Step 1: Validate and Normalize\n// Receives: { intake_payload: {...}, runtime_config: {...} }\n// Validates required fields, applies defaults, normalizes values.\n\nconst input = $input.first().json;\nconst payload = input.intake_payload || {};\nconst runtimeConfig = input.runtime_config;\n\nif (!runtimeConfig || !runtimeConfig.project_root) {\n  throw new Error('MISSING_RUNTIME_CONFIG: runtime_config.project_root is required');\n}\n\n// ── Required field validation ─────────────────────────────────────────────\nconst REQUIRED_FIELDS = [\n  'project_id',\n  'project_name',\n  'primary_market',\n  'primary_language',\n  'primary_currency',\n  'vertical',\n  'price_positioning',\n  'publish_mode',\n];\n\nconst missing = REQUIRED_FIELDS.filter((f) => !payload[f] || !String(payload[f]).trim());\nif (missing.length > 0) {\n  throw new Error(\n    `Intake validation failed. Missing required fields: ${missing.join(', ')}`\n  );\n}\n\n// ── project_id pattern validation ─────────────────────────────────────────\nconst projectId = payload.project_id.toLowerCase().trim();\nif (!/^[a-z0-9-]+$/.test(projectId)) {\n  throw new Error(\n    `project_id must match ^[a-z0-9-]+$ (lowercase, numbers, hyphens only). Got: \"${payload.project_id}\"`\n  );\n}\n\n// ── Enum validations ──────────────────────────────────────────────────────\nconst VALID_MARKETS       = ['DE', 'AT', 'CH', 'DACH', 'EU', 'US', 'UK', 'Global'];\nconst VALID_LANGUAGES     = ['de', 'en', 'fr', 'it', 'es'];\nconst VALID_CURRENCIES    = ['EUR', 'USD', 'GBP', 'CHF'];\nconst VALID_VERTICALS     = ['consumer-tech-accessories', 'fashion-textiles', 'pet-products', 'home-living', 'fitness-accessories', 'beauty', 'general-commerce', 'other'];\nconst VALID_PRICE_POS     = ['budget', 'mass-market', 'mass-premium', 'premium', 'luxury', 'to-be-defined'];\nconst VALID_PUBLISH_MODES = ['no-publish', 'draft-only', 'draft-and-review'];\n\nif (!VALID_MARKETS.includes(payload.primary_market)) {\n  throw new Error(`primary_market \"${payload.primary_market}\" not in: ${VALID_MARKETS.join(', ')}`);\n}\nif (!VALID_LANGUAGES.includes(payload.primary_language)) {\n  throw new Error(`primary_language \"${payload.primary_language}\" not in: ${VALID_LANGUAGES.join(', ')}`);\n}\nif (!VALID_CURRENCIES.includes(payload.primary_currency)) {\n  throw new Error(`primary_currency \"${payload.primary_currency}\" not in: ${VALID_CURRENCIES.join(', ')}`);\n}\nif (!VALID_VERTICALS.includes(payload.vertical)) {\n  throw new Error(`vertical \"${payload.vertical}\" not in: ${VALID_VERTICALS.join(', ')}`);\n}\nif (!VALID_PRICE_POS.includes(payload.price_positioning)) {\n  throw new Error(`price_positioning \"${payload.price_positioning}\" not in: ${VALID_PRICE_POS.join(', ')}`);\n}\nif (!VALID_PUBLISH_MODES.includes(payload.publish_mode)) {\n  throw new Error(`publish_mode \"${payload.publish_mode}\" not in: ${VALID_PUBLISH_MODES.join(', ')}`);\n}\n\n// ── Apply defaults and normalize ─────────────────────────────────────────\nconst VALID_STORE_TYPES = ['single-brand-store', 'multi-product-store', 'category-specialist', 'editorial-commerce-store', 'general-commerce-store'];\nconst VALID_BIZ_MODELS  = ['ecommerce', 'dropshipping', 'hybrid', 'other'];\n\nconst normalized = {\n  project_id:                 projectId,\n  project_name:               payload.project_name.trim(),\n  primary_market:             payload.primary_market,\n  target_markets:             Array.isArray(payload.target_markets) ? payload.target_markets : [payload.primary_market],\n  primary_language:           payload.primary_language,\n  languages:                  Array.isArray(payload.languages) ? payload.languages : [payload.primary_language],\n  primary_currency:           payload.primary_currency,\n  currencies:                 Array.isArray(payload.currencies) ? payload.currencies : [payload.primary_currency],\n  vertical:                   payload.vertical,\n  store_type:                 VALID_STORE_TYPES.includes(payload.store_type) ? payload.store_type : 'multi-product-store',\n  business_model:             VALID_BIZ_MODELS.includes(payload.business_model) ? payload.business_model : 'ecommerce',\n  price_positioning:          payload.price_positioning,\n  brand_role:                 payload.brand_role || null,\n  tone_of_voice:              payload.tone_of_voice || null,\n  trust_style:                payload.trust_style || null,\n  conversion_style:           payload.conversion_style || null,\n  objection_handling_style:   payload.objection_handling_style || null,\n  competitor_urls:            Array.isArray(payload.competitor_urls) ? payload.competitor_urls : [],\n  desired_style_hints:        Array.isArray(payload.desired_style_hints) ? payload.desired_style_hints : [],\n  forbidden_styles:           Array.isArray(payload.forbidden_styles) ? payload.forbidden_styles : [],\n  must_not_feel_like:         payload.must_not_feel_like || null,\n  must_feel_like:             payload.must_feel_like || null,\n  seo_goal:                   payload.seo_goal || 'hybrid',\n  aeo_goal:                   payload.aeo_goal || 'hybrid',\n  faq_intensity:              payload.faq_intensity || 'balanced',\n  knowledge_content_priority: payload.knowledge_content_priority || 'supporting',\n  motion_level_preference:    payload.motion_level_preference || 'subtle',\n  scroll_animation_preference:payload.scroll_animation_preference || 'light',\n  hero_video_allowed:         typeof payload.hero_video_allowed === 'boolean' ? payload.hero_video_allowed : false,\n  video_usage_preference:     payload.video_usage_preference || 'supporting-only',\n  performance_priority:       payload.performance_priority || 'balanced',\n  manual_review_required:     typeof payload.manual_review_required === 'boolean' ? payload.manual_review_required : true,\n  publish_mode:               payload.publish_mode,\n  special_notes:              payload.special_notes ? String(payload.special_notes).trim() : null,\n};\n\nreturn [{ json: { normalized_intake_payload: normalized, runtime_config: runtimeConfig } }];\n"
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000002",
      "name": "Validate and Normalize",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [500, 300]
    },
    {
      "parameters": {
        "jsCode": "// intake-store-input — Step 2: Create Project Directories + Initial Checkpoint\n// Creates: {project_root}/{project_id}/, .runtime/, .runtime/quarantine/\n// Writes the initial checkpoint marking intake-store-input as complete.\n\nconst fs   = require('fs');\nconst path = require('path');\n\nconst input          = $input.first().json;\nconst normalized     = input.normalized_intake_payload;\nconst runtimeConfig  = input.runtime_config;\nconst projectId      = normalized.project_id;\nconst projectRoot    = runtimeConfig.project_root;\n\n// ── Create directories ────────────────────────────────────────────────────\nconst projectDir    = path.join(projectRoot, projectId);\nconst runtimeDir    = path.join(projectDir, '.runtime');\nconst quarantineDir = path.join(runtimeDir, 'quarantine');\n\nfs.mkdirSync(projectDir,    { recursive: true });\nfs.mkdirSync(runtimeDir,    { recursive: true });\nfs.mkdirSync(quarantineDir, { recursive: true });\n\n// ── Build execution_run_id ────────────────────────────────────────────────\nconst now = new Date();\nconst pad = (n) => String(n).padStart(2, '0');\nconst runId = [\n  'run',\n  `${now.getFullYear()}${pad(now.getMonth() + 1)}${pad(now.getDate())}`,\n  `${pad(now.getHours())}${pad(now.getMinutes())}${pad(now.getSeconds())}`,\n].join('-');\n\n// ── Write initial checkpoint ──────────────────────────────────────────────\nconst checkpoint = {\n  schema_version:          '1.0',\n  project_id:              projectId,\n  execution_run_id:        runId,\n  chain_start_timestamp:   now.toISOString(),\n  last_updated_timestamp:  now.toISOString(),\n  chain_status:            'IN_PROGRESS',\n  completed_workflows: [\n    {\n      workflow_id:      'intake-store-input',\n      completed_at:     now.toISOString(),\n      output_artifact:  null,\n      status:           'SUCCESS',\n    },\n  ],\n  failed_at:               null,\n  next_workflow:           'import-shopify-data',\n  review_gate_status:      'NOT_REACHED',\n  review_gate_approved_at: null,\n  env:                     runtimeConfig.env,\n  llm_model_used:          runtimeConfig.llm_model || null,\n  shopify_api_version_used:runtimeConfig.shopify_api_version || null,\n  notes:                   [],\n};\n\nconst checkpointPath = path.join(runtimeDir, 'checkpoint.json');\nconst checkpointTmp  = checkpointPath + '.tmp';\nfs.writeFileSync(checkpointTmp, JSON.stringify(checkpoint, null, 2), 'utf8');\nfs.renameSync(checkpointTmp, checkpointPath);\n\n// ── Write initial execution log entry ─────────────────────────────────────\nconst logPath = path.join(runtimeDir, 'execution-log.json');\nconst log = { entries: [\n  {\n    timestamp:         now.toISOString(),\n    execution_run_id:  runId,\n    level:             'INFO',\n    event_type:        'CHAIN_START',\n    workflow_id:       'intake-store-input',\n    message:           `Chain started for project: ${projectId} (env: ${runtimeConfig.env})`,\n  },\n  {\n    timestamp:         now.toISOString(),\n    execution_run_id:  runId,\n    level:             'INFO',\n    event_type:        'WORKFLOW_SUCCESS',\n    workflow_id:       'intake-store-input',\n    message:           `intake-store-input completed. Project directories created at: ${projectDir}`,\n  },\n] };\nconst logTmp = logPath + '.tmp';\nfs.writeFileSync(logTmp, JSON.stringify(log, null, 2), 'utf8');\nfs.renameSync(logTmp, logPath);\n\nreturn [{\n  json: {\n    project_id:              projectId,\n    execution_run_id:        runId,\n    normalized_intake_payload: normalized,\n    runtime_config:          runtimeConfig,\n    project_dir:             projectDir,\n    status:                  'SUCCESS',\n  },\n}];\n"
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000003",
      "name": "Create Directories and Checkpoint",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [750, 300]
    }
  ],
  "connections": {
    "Subworkflow Trigger": {
      "main": [
        [{ "node": "Validate and Normalize", "type": "main", "index": 0 }]
      ]
    },
    "Validate and Normalize": {
      "main": [
        [{ "node": "Create Directories and Checkpoint", "type": "main", "index": 0 }]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "_meta": {
    "storeOs": {
      "phase": "Phase 12",
      "format": "n8n-executable",
      "sourceSpec": "workflows/subflows/intake-store-input.json",
      "invocation": "Called as a subworkflow by orchestrate-phase1. Expects input: { intake_payload: {...}, runtime_config: {...} }",
      "output": "{ project_id, execution_run_id, normalized_intake_payload, runtime_config, project_dir, status }"
    }
  }
}
