workflows/n8n/orchestrate-phase1.n8n.json
{
  "name": "orchestrate-phase1",
  "nodes": [
    {
      "parameters": {},
      "id": "e5f6a7b8-0005-0005-0005-000000000001",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        250,
        400
      ],
      "notes": "SETUP: After triggering manually, n8n will prompt for input data. Provide the intake_payload JSON object as shown in the example below. See _meta.intakePayloadExample for a complete example."
    },
    {
      "parameters": {
        "jsCode": "// orchestrate-phase1 — Step 1: Resolve Runtime Config\n// Validates all required environment variables and assembles the runtime config.\n// Any CONFIG_MISSING error halts the entire chain here — before any subworkflow runs.\n//\n// TRIGGER INPUT (manual run):\n//   { \"intake_payload\": { \"project_id\": \"...\", ... } }\n//\n// CLOUD MODE (n8n Cloud): process and require('fs') are not available.\n// Pass a smoke_test_config in the trigger input to supply config values:\n//   {\n//     \"intake_payload\": { \"project_id\": \"...\", ... },\n//     \"smoke_test_config\": {\n//       \"STORE_OS_OPENAI_CREDENTIAL_NAME\": \"OpenAI account\",\n//       \"STORE_OS_SHOPIFY_CREDENTIAL_NAME\": \"Shopify account\",\n//       \"STORE_OS_SHOPIFY_SHOP_URL\": \"my-store.myshopify.com\",\n//       \"STORE_OS_LLM_MODEL\": \"gpt-4o\",\n//       \"STORE_OS_ENV\": \"dev\",\n//       \"STORE_OS_SHOPIFY_API_VERSION\": \"2024-01\"\n//     }\n//   }\n\n// Cloud-mode detection: n8n Cloud exposes neither require('fs') nor process\nlet cloudMode = false;\ntry { require('fs'); } catch (_e) { cloudMode = true; }\nif (typeof process === 'undefined') { cloudMode = true; }\n\n// Extract trigger input early — needed for cloud config fallback\nconst triggerInput = $input.first().json;\n\n// Cloud-safe env accessor\n// Self-hosted: reads from process.env\n// Cloud:       reads from trigger input's smoke_test_config object\nconst smokeConfig = (cloudMode && triggerInput.smoke_test_config) ? triggerInput.smoke_test_config : {};\nconst getEnv = cloudMode\n  ? (key) => { const v = smokeConfig[key]; return (v && String(v).trim()) ? String(v).trim() : null; }\n  : (key) => { const v = process.env[key]; return (v && v.trim()) ? v.trim() : null; };\n\n// Core vars required in both cloud and self-hosted modes\nconst REQUIRED_ENV_VARS_CORE = [\n  'STORE_OS_OPENAI_CREDENTIAL_NAME',\n  'STORE_OS_SHOPIFY_CREDENTIAL_NAME',\n  'STORE_OS_SHOPIFY_SHOP_URL',\n  'STORE_OS_LLM_MODEL',\n  'STORE_OS_ENV',\n  'STORE_OS_SHOPIFY_API_VERSION',\n];\n\n// Filesystem vars only required in self-hosted mode\nconst REQUIRED_ENV_VARS_FS = ['STORE_OS_PROJECT_ROOT', 'STORE_OS_AJV_SCHEMA_PATH'];\n\nconst REQUIRED_ENV_VARS = cloudMode\n  ? REQUIRED_ENV_VARS_CORE\n  : [...REQUIRED_ENV_VARS_CORE, ...REQUIRED_ENV_VARS_FS];\n\nconst ALLOWED_ENVS = ['dev', 'staging', 'production'];\n\nconst missing = REQUIRED_ENV_VARS.filter((v) => !getEnv(v));\nif (missing.length > 0) {\n  throw new Error(\n    'CONFIG_MISSING: Required environment variables not set: ' + missing.join(', ') +\n    (cloudMode\n      ? '. In n8n Cloud, pass these as smoke_test_config in the trigger input JSON.'\n      : '. Configure them in n8n Settings > Variables or the n8n process environment.')\n  );\n}\n\nconst env = getEnv('STORE_OS_ENV');\nif (!ALLOWED_ENVS.includes(env)) {\n  throw new Error(`CONFIG_MISSING: STORE_OS_ENV must be one of: ${ALLOWED_ENVS.join(', ')}. Got: \"${env}\"`);\n}\n\n// Filesystem path validation — self-hosted only\n// CLOUD SKIP: fs.existsSync requires local filesystem, not available in n8n Cloud\nlet fs;\nlet projectRoot = null;\nlet ajvSchemaPath = null;\n\nif (!cloudMode) {\n  fs = require('fs');\n  projectRoot = getEnv('STORE_OS_PROJECT_ROOT');\n  if (!fs.existsSync(projectRoot)) {\n    throw new Error(`CONFIG_MISSING: STORE_OS_PROJECT_ROOT does not exist: ${projectRoot}`);\n  }\n\n  ajvSchemaPath = getEnv('STORE_OS_AJV_SCHEMA_PATH');\n  if (!fs.existsSync(ajvSchemaPath)) {\n    throw new Error(`CONFIG_MISSING: STORE_OS_AJV_SCHEMA_PATH does not exist: ${ajvSchemaPath}`);\n  }\n}\n\nconst runtimeConfig = {\n  env,\n  project_root:            projectRoot,\n  openai_credential_name:  getEnv('STORE_OS_OPENAI_CREDENTIAL_NAME'),\n  shopify_credential_name: getEnv('STORE_OS_SHOPIFY_CREDENTIAL_NAME'),\n  shopify_shop_url:        getEnv('STORE_OS_SHOPIFY_SHOP_URL'),\n  llm_model:               getEnv('STORE_OS_LLM_MODEL'),\n  shopify_api_version:     getEnv('STORE_OS_SHOPIFY_API_VERSION'),\n  ajv_schema_path:         ajvSchemaPath,\n  backup_root:             getEnv('STORE_OS_BACKUP_ROOT'),\n  resolved_at:             new Date().toISOString(),\n  cloud_mode:              cloudMode,\n};\n\nif (cloudMode) {\n  console.warn(\n    'CLOUD_MODE: Running in n8n Cloud compatibility mode. ' +\n    'Config read from trigger input smoke_test_config. ' +\n    'Filesystem operations are disabled for the entire Phase 1 chain. ' +\n    'No artifact persistence or schema validation will occur.'\n  );\n}\n\n// Extract intake_payload from the trigger input\nconst intakePayload = triggerInput.intake_payload;\n\nif (!intakePayload || !intakePayload.project_id) {\n  throw new Error(\n    'MISSING_INPUT: intake_payload with project_id is required. ' +\n    'Provide it as the manual trigger input JSON: { \"intake_payload\": { \"project_id\": \"...\", ... } }'\n  );\n}\n\nreturn [{\n  json: {\n    runtime_config:  runtimeConfig,\n    intake_payload:  intakePayload,\n    chain_step:      'resolve-runtime-config',\n    status:          'SUCCESS',\n  },\n}];\n"
      },
      "id": "e5f6a7b8-0005-0005-0005-000000000002",
      "name": "Resolve Runtime Config",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        500,
        400
      ]
    },
    {
      "parameters": {
        "workflowId": "REPLACE_WITH_INTAKE_STORE_INPUT_WORKFLOW_ID",
        "options": {}
      },
      "id": "e5f6a7b8-0005-0005-0005-000000000003",
      "name": "Run intake-store-input",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        750,
        400
      ],
      "notes": "SETUP: Replace REPLACE_WITH_INTAKE_STORE_INPUT_WORKFLOW_ID with the n8n workflow ID of intake-store-input. Find it in the URL when editing that workflow in n8n."
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.status }}",
              "value2": "SUCCESS"
            }
          ]
        }
      },
      "id": "e5f6a7b8-0005-0005-0005-000000000004",
      "name": "Intake Success?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1000,
        400
      ]
    },
    {
      "parameters": {
        "workflowId": "REPLACE_WITH_IMPORT_SHOPIFY_DATA_WORKFLOW_ID",
        "options": {}
      },
      "id": "e5f6a7b8-0005-0005-0005-000000000005",
      "name": "Run import-shopify-data",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        1250,
        300
      ],
      "notes": "SETUP: Replace REPLACE_WITH_IMPORT_SHOPIFY_DATA_WORKFLOW_ID with the n8n workflow ID of import-shopify-data."
    },
    {
      "parameters": {
        "jsCode": "// orchestrate-phase1 — Intake HALT\n// Reached when intake-store-input returns a non-SUCCESS status.\n// Logs the failure. The chain stops here (no further nodes connected).\n\nconst input = $input.first().json;\nconst errorMsg = `CHAIN_HALT: intake-store-input failed. Status: ${input.status}. Check the intake-store-input execution for details.`;\nconsole.error(errorMsg);\nthrow new Error(errorMsg);\n"
      },
      "id": "e5f6a7b8-0005-0005-0005-000000000006",
      "name": "Halt - Intake Failed",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1250,
        500
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.status }}",
              "value2": "SUCCESS"
            }
          ]
        }
      },
      "id": "e5f6a7b8-0005-0005-0005-000000000007",
      "name": "Import Success?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1500,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// orchestrate-phase1 — Import HALT\nconst input   = $input.first().json;\nconst errorMsg = `CHAIN_HALT: import-shopify-data failed. Status: ${input.status}.`;\nconsole.error(errorMsg);\nthrow new Error(errorMsg);\n"
      },
      "id": "e5f6a7b8-0005-0005-0005-000000000008",
      "name": "Halt - Import Failed",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1500,
        450
      ]
    },
    {
      "parameters": {
        "jsCode": "// orchestrate-phase1 — Bridge: Prepare build-store-profile input\n// import-shopify-data returns its own output.\n// We re-attach normalized_intake_payload from intake-store-input\n// so that build-store-profile has both upstream inputs.\n//\n// CLOUD MODE: import-shopify-data returns shopify_import inline (no disk write).\n// We pass it through here so build-store-profile can read it from input\n// instead of from disk. In self-hosted mode, shopify_import is not included\n// (build-store-profile reads it from disk directly).\n\nconst importOutput = $input.first().json;\nconst intakeOutput = $node['Run intake-store-input'].json;\n\nconst output = {\n  project_id:                 importOutput.project_id,\n  runtime_config:             importOutput.runtime_config,\n  normalized_intake_payload:  intakeOutput.normalized_intake_payload,\n  import_summary:             importOutput.import_summary,\n  chain_step:                 'pre-build-store-profile',\n};\n\n// In cloud mode, pass shopify_import inline so build-store-profile\n// can read it from the trigger input instead of from disk.\nif (importOutput.cloud_mode && importOutput.shopify_import) {\n  output.shopify_import = importOutput.shopify_import;\n}\n\nreturn [{ json: output }];\n"
      },
      "id": "e5f6a7b8-0005-0005-0005-000000000009",
      "name": "Prepare Profile Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1750,
        300
      ]
    },
    {
      "parameters": {
        "workflowId": "REPLACE_WITH_BUILD_STORE_PROFILE_WORKFLOW_ID",
        "options": {}
      },
      "id": "e5f6a7b8-0005-0005-0005-000000000010",
      "name": "Run build-store-profile",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        2000,
        300
      ],
      "notes": "SETUP: Replace REPLACE_WITH_BUILD_STORE_PROFILE_WORKFLOW_ID with the n8n workflow ID of build-store-profile."
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.status }}",
              "value2": "SUCCESS"
            }
          ]
        }
      },
      "id": "e5f6a7b8-0005-0005-0005-000000000011",
      "name": "Profile Success?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2250,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// orchestrate-phase1 — Profile HALT\nconst input    = $input.first().json;\nconst errorMsg = `CHAIN_HALT: build-store-profile failed. Status: ${input.status}.`;\nconsole.error(errorMsg);\nthrow new Error(errorMsg);\n"
      },
      "id": "e5f6a7b8-0005-0005-0005-000000000012",
      "name": "Halt - Profile Failed",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2250,
        450
      ]
    },
    {
      "parameters": {
        "jsCode": "// orchestrate-phase1 — Chain Complete\n// All Phase 1 workflows completed successfully.\n// Logs the result and returns a summary for the operator.\n//\n// SELF-HOSTED: Reads final checkpoint from disk to include in summary.\n// CLOUD MODE: Checkpoint read is skipped (no filesystem). Summary is assembled\n//             from the build-store-profile output directly.\n\nconst profileOutput = $input.first().json;\n\n// Cloud-mode detection — n8n Cloud does not allow require('fs')\nlet fs, path;\nlet cloudMode = profileOutput.cloud_mode || false;\nif (!cloudMode) {\n  try {\n    fs   = require('fs');\n    path = require('path');\n  } catch (_e) {\n    cloudMode = true;\n  }\n}\n\nconst projectId   = profileOutput.project_id;\nconst projectRoot = cloudMode ? null : profileOutput.runtime_config.project_root;\n\n// Read final checkpoint to include in summary — self-hosted only\nlet checkpoint = null;\nif (!cloudMode) {\n  try {\n    const cpPath = path.join(projectRoot, projectId, '.runtime', 'checkpoint.json');\n    if (fs.existsSync(cpPath)) {\n      checkpoint = JSON.parse(fs.readFileSync(cpPath, 'utf8'));\n    }\n  } catch { /* non-fatal */ }\n}\n\nconst summary = {\n  status:               'PHASE_1_COMPLETE',\n  project_id:           projectId,\n  artifact_written:     profileOutput.artifact_path,\n  completed_at:         new Date().toISOString(),\n  next_phase:           'Phase 2 — Market Intelligence (build-market-intelligence)',\n  checkpoint_status:    checkpoint ? checkpoint.chain_status : (cloudMode ? 'cloud-mode-no-checkpoint' : 'unknown'),\n  notes:                (profileOutput.notes || []).filter(Boolean),\n  cloud_mode:           cloudMode,\n  cloud_warnings:       cloudMode ? (profileOutput.cloud_warnings || ['No artifact persistence occurred — cloud mode active']) : [],\n  message:              cloudMode\n    ? [\n        `Phase 1 chain completed (cloud mode) for project: ${projectId}`,\n        'No artifacts were written to disk. store_profile is available in this output.',\n        'Next: run build-market-intelligence (Phase 2 — not yet implemented in Phase 12).',\n      ].join(' | ')\n    : [\n        `Phase 1 chain completed for project: ${projectId}`,\n        `store-profile.json written to: ${profileOutput.artifact_path}`,\n        'Next: run build-market-intelligence (Phase 2 — not yet implemented in Phase 12).',\n      ].join(' | '),\n};\n\n// In cloud mode, carry the store_profile forward for inspection\nif (cloudMode && profileOutput.store_profile) {\n  summary.store_profile = profileOutput.store_profile;\n}\n\nreturn [{ json: summary }];\n"
      },
      "id": "e5f6a7b8-0005-0005-0005-000000000013",
      "name": "Phase 1 Complete",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2500,
        300
      ]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Resolve Runtime Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resolve Runtime Config": {
      "main": [
        [
          {
            "node": "Run intake-store-input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run intake-store-input": {
      "main": [
        [
          {
            "node": "Intake Success?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Intake Success?": {
      "main": [
        [
          {
            "node": "Run import-shopify-data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Halt - Intake Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run import-shopify-data": {
      "main": [
        [
          {
            "node": "Import Success?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Import Success?": {
      "main": [
        [
          {
            "node": "Prepare Profile Input",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Halt - Import Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Profile Input": {
      "main": [
        [
          {
            "node": "Run build-store-profile",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run build-store-profile": {
      "main": [
        [
          {
            "node": "Profile Success?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Profile Success?": {
      "main": [
        [
          {
            "node": "Phase 1 Complete",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Halt - Profile Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "_meta": {
    "storeOs": {
      "phase": "Phase 12",
      "format": "n8n-executable",
      "sourceSpec": "workflows/runtime/n8n-implementation-map.md",
      "cloudCompatibility": "PARTIAL — the full chain runs in both modes. In cloud mode: no artifact persistence, no schema validation, no checkpoint/log writes. shopify_import flows inline through Prepare Profile Input. store_profile is returned in the Phase 1 Complete output for inspection. Config is supplied via smoke_test_config in the trigger input (no process.env access).",
      "setupRequired": [
        "Replace REPLACE_WITH_INTAKE_STORE_INPUT_WORKFLOW_ID with the n8n workflow ID of intake-store-input",
        "Replace REPLACE_WITH_IMPORT_SHOPIFY_DATA_WORKFLOW_ID with the n8n workflow ID of import-shopify-data",
        "Replace REPLACE_WITH_BUILD_STORE_PROFILE_WORKFLOW_ID with the n8n workflow ID of build-store-profile",
        "Self-hosted: set all STORE_OS_* environment variables (see .env.example). n8n Cloud: pass STORE_OS_* values as smoke_test_config in the trigger input JSON (STORE_OS_PROJECT_ROOT and STORE_OS_AJV_SCHEMA_PATH are not required in cloud mode).",
        "Configure Shopify API credential in n8n and update import-shopify-data with its credential ID"
      ],
      "intakePayloadExample": {
        "intake_payload": {
          "project_id": "suppliedtech",
          "project_name": "SuppliedTech",
          "primary_market": "DE",
          "primary_language": "de",
          "primary_currency": "EUR",
          "vertical": "consumer-tech-accessories",
          "price_positioning": "mass-premium",
          "publish_mode": "draft-only",
          "store_type": "multi-product-store",
          "business_model": "ecommerce",
          "manual_review_required": true,
          "seo_goal": "hybrid",
          "aeo_goal": "hybrid",
          "faq_intensity": "balanced",
          "special_notes": null
        },
        "smoke_test_config": {
          "STORE_OS_OPENAI_CREDENTIAL_NAME": "OpenAI account",
          "STORE_OS_SHOPIFY_CREDENTIAL_NAME": "Shopify account",
          "STORE_OS_SHOPIFY_SHOP_URL": "my-store.myshopify.com",
          "STORE_OS_LLM_MODEL": "gpt-4o",
          "STORE_OS_ENV": "dev",
          "STORE_OS_SHOPIFY_API_VERSION": "2024-01"
        }
      },
      "chainCoverage": "resolve-runtime-config → intake-store-input → import-shopify-data → build-store-profile",
      "notYetImplemented": "build-market-intelligence and all subsequent workflows (Phase 13+)"
    }
  }
}
