workflows/n8n/orchestrate-phase1.n8n.json
{
  "name": "orchestrate-phase1",
  "nodes": [
    {
      "parameters": {},
      "id": "e5f6a7b8-0005-0005-0005-000000000001",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        250,
        400
      ],
      "notes": "SETUP: After triggering manually, n8n will prompt for input data. Provide the intake_payload JSON object as shown in the example below. See _meta.intakePayloadExample for a complete example."
    },
    {
      "id": "e5f6a7b8-0005-0005-0005-000000000034",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        250,
        600
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "orchestrate-phase1",
        "responseMode": "responseNode",
        "options": {}
      },
      "webhookId": "orchestrate-phase1-webhook"
    },
    {
      "parameters": {
        "jsCode": "// orchestrate-phase1 — Step 1: Resolve Runtime Config\n// Validates all required environment variables and assembles the runtime config.\n// Any CONFIG_MISSING error halts the entire chain here — before any subworkflow runs.\n//\n// TRIGGER INPUT (manual run):\n//   { \"intake_payload\": { \"project_id\": \"...\", ... } }\n//\n// CLOUD MODE (n8n Cloud): process and require('fs') are not available.\n// Pass a smoke_test_config in the trigger input to supply config values:\n//   {\n//     \"intake_payload\": { \"project_id\": \"...\", ... },\n//     \"smoke_test_config\": {\n//       \"STORE_OS_OPENAI_CREDENTIAL_NAME\": \"OpenAI account\",\n//       \"STORE_OS_SHOPIFY_CREDENTIAL_NAME\": \"Shopify account\",\n//       \"STORE_OS_SHOPIFY_SHOP_URL\": \"my-store.myshopify.com\",\n//       \"STORE_OS_LLM_MODEL\": \"gpt-4o\",\n//       \"STORE_OS_ENV\": \"dev\",\n//       \"STORE_OS_SHOPIFY_API_VERSION\": \"2024-01\"\n//     }\n//   }\n\n// Cloud-mode detection: n8n Cloud exposes neither require('fs') nor process\nlet cloudMode = false;\ntry { require('fs'); } catch (_e) { cloudMode = true; }\nif (typeof process === 'undefined') { cloudMode = true; }\n\n// Extract trigger input early — needed for cloud config fallback\nconst triggerRaw   = $input.first().json;\n// Normalize: webhook trigger wraps payload in .body; manual trigger passes it flat\nconst triggerInput = (triggerRaw.body && typeof triggerRaw.body === 'object') ? triggerRaw.body : triggerRaw;\n\n// Cloud-safe env accessor\n// Self-hosted: reads from process.env\n// Cloud:       reads from trigger input's smoke_test_config object\nconst smokeConfig = (cloudMode && triggerInput.smoke_test_config) ? triggerInput.smoke_test_config : {};\nconst getEnv = cloudMode\n  ? (key) => { const v = smokeConfig[key]; return (v && String(v).trim()) ? String(v).trim() : null; }\n  : (key) => { const v = process.env[key]; return (v && v.trim()) ? v.trim() : null; };\n\n// Core vars required in both cloud and self-hosted modes\nconst REQUIRED_ENV_VARS_CORE = [\n  'STORE_OS_OPENAI_CREDENTIAL_NAME',\n  'STORE_OS_SHOPIFY_CREDENTIAL_NAME',\n  'STORE_OS_SHOPIFY_SHOP_URL',\n  'STORE_OS_LLM_MODEL',\n  'STORE_OS_ENV',\n  'STORE_OS_SHOPIFY_API_VERSION',\n];\n\n// Filesystem vars only required in self-hosted mode\nconst REQUIRED_ENV_VARS_FS = ['STORE_OS_PROJECT_ROOT', 'STORE_OS_AJV_SCHEMA_PATH'];\n\nconst REQUIRED_ENV_VARS = cloudMode\n  ? REQUIRED_ENV_VARS_CORE\n  : [...REQUIRED_ENV_VARS_CORE, ...REQUIRED_ENV_VARS_FS];\n\nconst ALLOWED_ENVS = ['dev', 'staging', 'production'];\n\nconst missing = REQUIRED_ENV_VARS.filter((v) => !getEnv(v));\nif (missing.length > 0) {\n  throw new Error(\n    'CONFIG_MISSING: Required environment variables not set: ' + missing.join(', ') +\n    (cloudMode\n      ? '. In n8n Cloud, pass these as smoke_test_config in the trigger input JSON.'\n      : '. Configure them in n8n Settings > Variables or the n8n process environment.')\n  );\n}\n\nconst env = getEnv('STORE_OS_ENV');\nif (!ALLOWED_ENVS.includes(env)) {\n  throw new Error(`CONFIG_MISSING: STORE_OS_ENV must be one of: ${ALLOWED_ENVS.join(', ')}. Got: \"${env}\"`);\n}\n\n// Filesystem path validation — self-hosted only\n// CLOUD SKIP: fs.existsSync requires local filesystem, not available in n8n Cloud\nlet fs;\nlet projectRoot = null;\nlet ajvSchemaPath = null;\n\nif (!cloudMode) {\n  fs = require('fs');\n  projectRoot = getEnv('STORE_OS_PROJECT_ROOT');\n  if (!fs.existsSync(projectRoot)) {\n    throw new Error(`CONFIG_MISSING: STORE_OS_PROJECT_ROOT does not exist: ${projectRoot}`);\n  }\n\n  ajvSchemaPath = getEnv('STORE_OS_AJV_SCHEMA_PATH');\n  if (!fs.existsSync(ajvSchemaPath)) {\n    throw new Error(`CONFIG_MISSING: STORE_OS_AJV_SCHEMA_PATH does not exist: ${ajvSchemaPath}`);\n  }\n}\n\nconst runtimeConfig = {\n  env,\n  project_root:            projectRoot,\n  openai_credential_name:  getEnv('STORE_OS_OPENAI_CREDENTIAL_NAME'),\n  shopify_credential_name: getEnv('STORE_OS_SHOPIFY_CREDENTIAL_NAME'),\n  shopify_shop_url:        getEnv('STORE_OS_SHOPIFY_SHOP_URL'),\n  llm_model:               getEnv('STORE_OS_LLM_MODEL'),\n  shopify_api_version:     getEnv('STORE_OS_SHOPIFY_API_VERSION'),\n  allow_theme_writes:      getEnv('STORE_OS_ALLOW_THEME_WRITES') === 'true',\n  shopify_theme_id:        getEnv('STORE_OS_SHOPIFY_THEME_ID'),\n  allow_media_generation:  getEnv('STORE_OS_ALLOW_MEDIA_GENERATION') === 'true',\n  media_generation_model:  getEnv('STORE_OS_MEDIA_GENERATION_MODEL') || 'dall-e-3',\n  ajv_schema_path:         ajvSchemaPath,\n  backup_root:             getEnv('STORE_OS_BACKUP_ROOT'),\n  resolved_at:             new Date().toISOString(),\n  cloud_mode:              cloudMode,\n};\n\nif (cloudMode) {\n  console.warn(\n    'CLOUD_MODE: Running in n8n Cloud compatibility mode. ' +\n    'Config read from trigger input smoke_test_config. ' +\n    'Filesystem operations are disabled for the entire Phase 1 chain. ' +\n    'No artifact persistence or schema validation will occur.'\n  );\n}\n\n// ── Webhook auth guard ────────────────────────────────────────────────────\n// Only enforced when STORE_OS_API_TOKEN is configured.\n// Manual Trigger has no headers → skipped automatically.\n// Webhook Trigger carries headers → token required if STORE_OS_API_TOKEN set.\nconst apiToken = getEnv('STORE_OS_API_TOKEN');\nif (apiToken && triggerRaw.headers) {\n  const authHeader = (triggerRaw.headers['authorization'] || triggerRaw.headers['Authorization'] || '').trim();\n  if (!authHeader.startsWith('Bearer ') || authHeader.slice(7).trim() !== apiToken) {\n    throw new Error(\n      'UNAUTHORIZED_REQUEST: Missing or invalid Authorization header. ' +\n      'Expected: Authorization: Bearer <STORE_OS_API_TOKEN>'\n    );\n  }\n}\n\n// Extract intake_payload from the trigger input\nconst intakePayload = triggerInput.intake_payload;\n\nif (!intakePayload || !intakePayload.project_id) {\n  throw new Error(\n    'MISSING_INPUT: intake_payload with project_id is required. ' +\n    'Provide it as the manual trigger input JSON: { \"intake_payload\": { \"project_id\": \"...\", ... } }'\n  );\n}\n\nreturn [{\n  json: {\n    runtime_config:  runtimeConfig,\n    intake_payload:  intakePayload,\n    chain_step:      'resolve-runtime-config',\n    status:          'SUCCESS',\n  },\n}];\n"
      },
      "id": "e5f6a7b8-0005-0005-0005-000000000002",
      "name": "Resolve Runtime Config",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        500,
        400
      ]
    },
    {
      "id": "e5f6a7b8-0005-0005-0005-000000000035",
      "name": "Validate Orchestrate Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        625,
        300
      ],
      "parameters": {
        "jsCode": "// orchestrate-phase1 — Validate Orchestrate Input\n// Fast-fail schema check on the intake_payload BEFORE dispatching to subworkflows.\n// Validates required fields and enum values in-process (no AJV, no filesystem).\n// Returns VALIDATION_ERROR with a structured message on failure.\n//\n// Runs in both cloud and self-hosted mode.\n\nconst input = $input.first().json;\nconst payload = input.intake_payload;\nconst errors = [];\n\n// ── Required string fields ────────────────────────────────────────────────\nconst REQUIRED_FIELDS = ['project_id', 'primary_market', 'primary_language', 'primary_currency', 'vertical', 'price_positioning'];\nfor (const field of REQUIRED_FIELDS) {\n  if (!payload[field] || typeof payload[field] !== 'string' || !payload[field].trim()) {\n    errors.push(`${field}: required string field is missing or empty`);\n  }\n}\n\n// ── project_id format ─────────────────────────────────────────────────────\nif (payload.project_id && !/^[a-z0-9_-]{1,64}$/.test(payload.project_id)) {\n  errors.push('project_id: must match ^[a-z0-9_-]{1,64}$ (lowercase, digits, hyphens, underscores only)');\n}\n\n// ── Enum validation ───────────────────────────────────────────────────────\nconst VALID_MARKETS       = ['DE', 'AT', 'CH', 'DACH', 'EU', 'US', 'UK', 'Global'];\nconst VALID_VERTICALS     = ['consumer-tech-accessories', 'fashion-textiles', 'pet-products', 'home-living', 'fitness-accessories', 'beauty', 'general-commerce', 'other'];\nconst VALID_PRICE_POS     = ['budget', 'mass-market', 'mass-premium', 'premium', 'luxury', 'to-be-defined'];\nconst VALID_BRAND_STYLES  = ['minimal', 'bold', 'editorial', 'playful', 'premium', 'technical', 'other'];\nconst VALID_BRAND_ROLES   = ['specialist', 'curator', 'problem-solver', 'premium-innovator', 'editorial-guide', 'value-leader'];\nconst VALID_STORE_TYPES   = ['single-brand-store', 'multi-product-store', 'category-specialist', 'editorial-commerce-store', 'other'];\nconst VALID_BIZ_MODELS    = ['ecommerce', 'dropshipping', 'hybrid', 'other'];\nconst VALID_PUBLISH_MODES = ['no-publish', 'draft-only', 'draft-and-review'];\nconst VALID_TOV_STYLES    = ['clear-direct', 'premium-confident', 'warm-helpful', 'editorial-smart', 'playful-bold', 'technical-trustworthy'];\nconst VALID_TRUST_MODES   = ['evidence-led', 'social-proof-led', 'authority-led', 'guarantee-led', 'mixed'];\nconst VALID_CTA_STYLES    = ['subtle', 'balanced', 'assertive'];\n\nconst enumChecks = [\n  ['primary_market',    VALID_MARKETS,       true],\n  ['vertical',          VALID_VERTICALS,     true],\n  ['price_positioning', VALID_PRICE_POS,     true],\n  ['brand_style',       VALID_BRAND_STYLES,  false],   // optional\n  ['brand_role',        VALID_BRAND_ROLES,   false],   // optional\n  ['store_type',        VALID_STORE_TYPES,   false],   // optional (defaulted downstream)\n  ['business_model',    VALID_BIZ_MODELS,    false],   // optional (defaulted downstream)\n  ['publish_mode',      VALID_PUBLISH_MODES, false],   // optional (defaulted downstream)\n  ['tone_of_voice',     VALID_TOV_STYLES,    false],   // optional — must match build-brand-positioning enum\n  ['trust_style',       VALID_TRUST_MODES,   false],   // optional — must match build-brand-positioning enum\n  ['conversion_style',  VALID_CTA_STYLES,    false],   // optional — must match build-brand-positioning enum\n];\n\nfor (const [field, validValues, required] of enumChecks) {\n  const val = payload[field];\n  if (val !== undefined && val !== null && val !== '') {\n    if (!validValues.includes(val)) {\n      errors.push(`${field}: \"${val}\" is not valid. Allowed: ${validValues.join(', ')}`);\n    }\n  } else if (required) {\n    errors.push(`${field}: required enum field is missing`);\n  }\n}\n\n// ── competitor_urls ────────────────────────────────────────────────────────\nif (payload.competitor_urls !== undefined) {\n  if (!Array.isArray(payload.competitor_urls)) {\n    errors.push('competitor_urls: must be an array of URL strings');\n  } else if (payload.competitor_urls.length > 10) {\n    errors.push('competitor_urls: max 10 entries allowed');\n  }\n}\n\n// ── Fail fast ─────────────────────────────────────────────────────────────\nif (errors.length > 0) {\n  throw new Error(\n    'VALIDATION_ERROR: intake_payload failed schema validation. ' +\n    errors.length + ' error(s): ' + errors.join(' | ')\n  );\n}\n\n// Pass through unchanged — all downstream nodes read from $input\nreturn [{ json: input }];"
      }
    },
    {
      "parameters": {
        "workflowId": "REPLACE_WITH_INTAKE_STORE_INPUT_WORKFLOW_ID",
        "options": {}
      },
      "id": "e5f6a7b8-0005-0005-0005-000000000003",
      "name": "Run intake-store-input",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        750,
        400
      ],
      "notes": "SETUP: Replace REPLACE_WITH_INTAKE_STORE_INPUT_WORKFLOW_ID with the n8n workflow ID of intake-store-input. Find it in the URL when editing that workflow in n8n."
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.status }}",
              "value2": "SUCCESS"
            }
          ]
        }
      },
      "id": "e5f6a7b8-0005-0005-0005-000000000004",
      "name": "Intake Success?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1000,
        400
      ]
    },
    {
      "parameters": {
        "workflowId": "REPLACE_WITH_IMPORT_SHOPIFY_DATA_WORKFLOW_ID",
        "options": {}
      },
      "id": "e5f6a7b8-0005-0005-0005-000000000005",
      "name": "Run import-shopify-data",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        1250,
        300
      ],
      "notes": "SETUP: Replace REPLACE_WITH_IMPORT_SHOPIFY_DATA_WORKFLOW_ID with the n8n workflow ID of import-shopify-data."
    },
    {
      "parameters": {
        "jsCode": "// orchestrate-phase1 — Intake HALT\n// Reached when intake-store-input returns a non-SUCCESS status.\n// Logs the failure. The chain stops here (no further nodes connected).\n\nconst input = $input.first().json;\nconst errorMsg = `CHAIN_HALT: intake-store-input failed. Status: ${input.status}. Check the intake-store-input execution for details.`;\nconsole.error(errorMsg);\nthrow new Error(errorMsg);\n"
      },
      "id": "e5f6a7b8-0005-0005-0005-000000000006",
      "name": "Halt - Intake Failed",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1250,
        500
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.status }}",
              "value2": "SUCCESS"
            }
          ]
        }
      },
      "id": "e5f6a7b8-0005-0005-0005-000000000007",
      "name": "Import Success?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1500,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// orchestrate-phase1 — Import HALT\nconst input   = $input.first().json;\nconst errorMsg = `CHAIN_HALT: import-shopify-data failed. Status: ${input.status}.`;\nconsole.error(errorMsg);\nthrow new Error(errorMsg);\n"
      },
      "id": "e5f6a7b8-0005-0005-0005-000000000008",
      "name": "Halt - Import Failed",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1500,
        450
      ]
    },
    {
      "parameters": {
        "jsCode": "// orchestrate-phase1 — Bridge: Prepare build-store-profile input\n// import-shopify-data returns its own output.\n// We re-attach normalized_intake_payload from intake-store-input\n// so that build-store-profile has both upstream inputs.\n//\n// CLOUD MODE: import-shopify-data returns shopify_import inline (no disk write).\n// We pass it through here so build-store-profile can read it from input\n// instead of from disk. In self-hosted mode, shopify_import is not included\n// (build-store-profile reads it from disk directly).\n\nconst importOutput = $input.first().json;\nconst intakeOutput = $node['Run intake-store-input'].json;\n\nconst output = {\n  project_id:                 importOutput.project_id,\n  runtime_config:             importOutput.runtime_config,\n  normalized_intake_payload:  intakeOutput.normalized_intake_payload,\n  import_summary:             importOutput.import_summary,\n  chain_step:                 'pre-build-store-profile',\n};\n\n// In cloud mode, pass shopify_import inline so build-store-profile\n// can read it from the trigger input instead of from disk.\nif (importOutput.cloud_mode && importOutput.shopify_import) {\n  output.shopify_import = importOutput.shopify_import;\n}\n\nreturn [{ json: output }];\n"
      },
      "id": "e5f6a7b8-0005-0005-0005-000000000009",
      "name": "Prepare Profile Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1750,
        300
      ]
    },
    {
      "parameters": {
        "workflowId": "REPLACE_WITH_BUILD_STORE_PROFILE_WORKFLOW_ID",
        "options": {}
      },
      "id": "e5f6a7b8-0005-0005-0005-000000000010",
      "name": "Run build-store-profile",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        2000,
        300
      ],
      "notes": "SETUP: Replace REPLACE_WITH_BUILD_STORE_PROFILE_WORKFLOW_ID with the n8n workflow ID of build-store-profile."
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.status }}",
              "value2": "SUCCESS"
            }
          ]
        }
      },
      "id": "e5f6a7b8-0005-0005-0005-000000000011",
      "name": "Profile Success?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2250,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// orchestrate-phase1 — Profile HALT\nconst input    = $input.first().json;\nconst errorMsg = `CHAIN_HALT: build-store-profile failed. Status: ${input.status}.`;\nconsole.error(errorMsg);\nthrow new Error(errorMsg);\n"
      },
      "id": "e5f6a7b8-0005-0005-0005-000000000012",
      "name": "Halt - Profile Failed",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2250,
        450
      ]
    },
    {
      "parameters": {
        "jsCode": "// orchestrate-phase1 — Phase 1 Chain Done\n// All Phase 1 workflows completed successfully.\n// Assembles a summary and passes forward data needed for Phase 2 (build-market-intelligence).\n//\n// SELF-HOSTED: Reads final checkpoint from disk to include in summary.\n// CLOUD MODE: Checkpoint read is skipped (no filesystem). Summary assembled\n//             from upstream outputs. store_profile, runtime_config,\n//             normalized_intake_payload, and shopify_import (catalog context)\n//             are all passed forward inline.\n\nconst profileOutput = $input.first().json;\n\n// Cloud-mode detection — n8n Cloud does not allow require('fs')\nlet fs, path;\nlet cloudMode = profileOutput.cloud_mode || false;\nif (!cloudMode) {\n  try {\n    fs   = require('fs');\n    path = require('path');\n  } catch (_e) {\n    cloudMode = true;\n  }\n}\n\nconst projectId   = profileOutput.project_id;\nconst projectRoot = cloudMode ? null : profileOutput.runtime_config.project_root;\n\n// Read final checkpoint to include in summary — self-hosted only\nlet checkpoint = null;\nif (!cloudMode) {\n  try {\n    const cpPath = path.join(projectRoot, projectId, '.runtime', 'checkpoint.json');\n    if (fs.existsSync(cpPath)) {\n      checkpoint = JSON.parse(fs.readFileSync(cpPath, 'utf8'));\n    }\n  } catch { /* non-fatal */ }\n}\n\n// Collect upstream data needed for Phase 2\nconst intakeOutput = $node['Run intake-store-input'].json;\nconst importOutput = $node['Run import-shopify-data'].json;\n\nconst summary = {\n  status:               'PHASE_1_COMPLETE',\n  project_id:           projectId,\n  artifact_written:     profileOutput.artifact_path,\n  completed_at:         new Date().toISOString(),\n  next_phase:           'Phase 2 — Market Intelligence (build-market-intelligence)',\n  checkpoint_status:    checkpoint ? checkpoint.chain_status : (cloudMode ? 'cloud-mode-no-checkpoint' : 'unknown'),\n  notes:                (profileOutput.notes || []).filter(Boolean),\n  cloud_mode:           cloudMode,\n  cloud_warnings:       cloudMode ? (profileOutput.cloud_warnings || ['No artifact persistence occurred — cloud mode active']) : [],\n  message:              cloudMode\n    ? [\n        `Phase 1 chain completed (cloud mode) for project: ${projectId}`,\n        'No artifacts were written to disk. store_profile is available in this output.',\n        'Continuing to Phase 2: build-market-intelligence.',\n      ].join(' | ')\n    : [\n        `Phase 1 chain completed for project: ${projectId}`,\n        `store-profile.json written to: ${profileOutput.artifact_path}`,\n        'Continuing to Phase 2: build-market-intelligence.',\n      ].join(' | '),\n  // Pass forward for Phase 2\n  runtime_config:              profileOutput.runtime_config,\n  store_profile:               profileOutput.store_profile,\n  normalized_intake_payload:   intakeOutput.normalized_intake_payload,\n};\n\n// In cloud mode, pass shopify_import inline for catalog context in market intel\nif (cloudMode && importOutput && importOutput.shopify_import) {\n  summary.shopify_import = importOutput.shopify_import;\n}\n\nreturn [{ json: summary }];\n"
      },
      "id": "e5f6a7b8-0005-0005-0005-000000000013",
      "name": "Phase 1 Complete",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2500,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// orchestrate-phase1 — Bridge: Prepare build-market-intelligence input\n// Assembles the input payload for the build-market-intelligence subworkflow.\n// build-market-intelligence expects: project_id, store_profile,\n// normalized_intake_payload, runtime_config, and optionally shopify_import.\n\nconst phase1Output = $input.first().json;\n\nconst output = {\n  project_id:                 phase1Output.project_id,\n  runtime_config:             phase1Output.runtime_config,\n  store_profile:              phase1Output.store_profile,\n  normalized_intake_payload:  phase1Output.normalized_intake_payload,\n  chain_step:                 'pre-build-market-intelligence',\n};\n\n// Pass shopify_import inline for catalog context (present in cloud mode\n// and when import-shopify-data forwarded it through Phase 1 Complete)\nif (phase1Output.shopify_import) {\n  output.shopify_import = phase1Output.shopify_import;\n}\n\nreturn [{ json: output }];\n"
      },
      "id": "e5f6a7b8-0005-0005-0005-000000000014",
      "name": "Prepare Market Intel Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2750,
        300
      ]
    },
    {
      "parameters": {
        "workflowId": "REPLACE_WITH_BUILD_MARKET_INTELLIGENCE_WORKFLOW_ID",
        "options": {}
      },
      "id": "e5f6a7b8-0005-0005-0005-000000000015",
      "name": "Run build-market-intelligence",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        3000,
        300
      ],
      "notes": "SETUP: Replace REPLACE_WITH_BUILD_MARKET_INTELLIGENCE_WORKFLOW_ID with the n8n workflow ID of build-market-intelligence. Find it in the URL when editing that workflow in n8n."
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.status }}",
              "value2": "SUCCESS"
            }
          ]
        }
      },
      "id": "e5f6a7b8-0005-0005-0005-000000000016",
      "name": "Market Intel Success?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        3250,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// orchestrate-phase1 — Market Intelligence HALT\nconst input    = $input.first().json;\nconst errorMsg = `CHAIN_HALT: build-market-intelligence failed. Status: ${input.status}.`;\nconsole.error(errorMsg);\nthrow new Error(errorMsg);\n"
      },
      "id": "e5f6a7b8-0005-0005-0005-000000000017",
      "name": "Halt - Market Intel Failed",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3250,
        450
      ]
    },
    {
      "parameters": {
        "jsCode": "// orchestrate-phase1 — Phase 2 Complete\n// build-market-intelligence succeeded.\n// Returns a summary for the operator and carries all data forward for Phase 3 (build-brand-positioning).\n//\n// CLOUD MODE: market_intelligence is returned inline (no disk artifact).\n// SELF-HOSTED: artifact_path points to market-intelligence.json on disk.\n//              market_intelligence object is also passed inline for Phase 3.\n\nconst miOutput = $input.first().json;\nconst cloudMode = miOutput.cloud_mode || false;\n\n// Gather upstream data needed for Phase 3 (brand positioning)\nconst phase1Output = $node['Phase 1 Complete'].json;\n\nconst summary = {\n  status:           'PHASE_2_COMPLETE',\n  project_id:       miOutput.project_id,\n  artifact_written: miOutput.artifact_path,\n  completed_at:     new Date().toISOString(),\n  next_phase:       'Phase 3 — Brand Positioning (build-brand-positioning)',\n  cloud_mode:       cloudMode,\n  cloud_warnings:   miOutput.cloud_warnings || [],\n  notes:            (miOutput.notes || []).filter(Boolean),\n  message:          cloudMode\n    ? [\n        `Phase 2 chain completed (cloud mode) for project: ${miOutput.project_id}`,\n        'No artifacts were written to disk. market_intelligence is available in this output.',\n        'Continuing to Phase 3: build-brand-positioning.',\n      ].join(' | ')\n    : [\n        `Phase 2 chain completed for project: ${miOutput.project_id}`,\n        `market-intelligence.json written to: ${miOutput.artifact_path}`,\n        'Continuing to Phase 3: build-brand-positioning.',\n      ].join(' | '),\n  // Pass forward for Phase 3 (always — market_intelligence flows inline in both modes)\n  runtime_config:             miOutput.runtime_config || phase1Output.runtime_config,\n  store_profile:              phase1Output.store_profile,\n  normalized_intake_payload:  phase1Output.normalized_intake_payload,\n  market_intelligence:        miOutput.market_intelligence,\n};\n\nreturn [{ json: summary }];\n"
      },
      "id": "e5f6a7b8-0005-0005-0005-000000000018",
      "name": "Phase 2 Complete",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3500,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// orchestrate-phase1 — Bridge: Prepare build-brand-positioning input\n// Assembles the input payload for the build-brand-positioning subworkflow.\n// build-brand-positioning expects: project_id, store_profile, market_intelligence,\n// normalized_intake_payload, and runtime_config.\n//\n// market_intelligence flows inline in both cloud and self-hosted modes\n// (forwarded from build-market-intelligence output through Phase 2 Complete).\n\nconst phase2Output = $input.first().json;\n\nconst output = {\n  project_id:                 phase2Output.project_id,\n  runtime_config:             phase2Output.runtime_config,\n  store_profile:              phase2Output.store_profile,\n  normalized_intake_payload:  phase2Output.normalized_intake_payload,\n  market_intelligence:        phase2Output.market_intelligence,\n  chain_step:                 'pre-build-brand-positioning',\n};\n\nreturn [{ json: output }];\n"
      },
      "id": "e5f6a7b8-0005-0005-0005-000000000019",
      "name": "Prepare Brand Positioning Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3750,
        300
      ]
    },
    {
      "parameters": {
        "workflowId": "REPLACE_WITH_BUILD_BRAND_POSITIONING_WORKFLOW_ID",
        "options": {}
      },
      "id": "e5f6a7b8-0005-0005-0005-000000000020",
      "name": "Run build-brand-positioning",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        4000,
        300
      ],
      "notes": "SETUP: Replace REPLACE_WITH_BUILD_BRAND_POSITIONING_WORKFLOW_ID with the n8n workflow ID of build-brand-positioning. Find it in the URL when editing that workflow in n8n."
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.status }}",
              "value2": "SUCCESS"
            }
          ]
        }
      },
      "id": "e5f6a7b8-0005-0005-0005-000000000021",
      "name": "Brand Positioning Success?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        4250,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// orchestrate-phase1 — Brand Positioning HALT\nconst input    = $input.first().json;\nconst errorMsg = `CHAIN_HALT: build-brand-positioning failed. Status: ${input.status}.`;\nconsole.error(errorMsg);\nthrow new Error(errorMsg);\n"
      },
      "id": "e5f6a7b8-0005-0005-0005-000000000022",
      "name": "Halt - Brand Positioning Failed",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4250,
        450
      ]
    },
    {
      "parameters": {
        "jsCode": "// orchestrate-phase1 — Phase 3 Complete\n// build-brand-positioning succeeded.\n// Carries all data forward to Phase 4 (build-competitor-clusters).\n//\n// CLOUD MODE: brand_positioning is returned inline (no disk artifact).\n// SELF-HOSTED: artifact_path points to brand-positioning.json on disk.\n\nconst bpOutput = $input.first().json;\nconst cloudMode = bpOutput.cloud_mode || false;\n\n// Gather upstream data needed for Phase 4 (competitor clusters)\nconst phase2Output = $node['Phase 2 Complete'].json;\n\nconst summary = {\n  status:           'PHASE_3_COMPLETE',\n  project_id:       bpOutput.project_id,\n  artifact_written: bpOutput.artifact_path,\n  completed_at:     new Date().toISOString(),\n  next_phase:       'Phase 4 — Competitor Clusters (build-competitor-clusters)',\n  cloud_mode:       cloudMode,\n  cloud_warnings:   bpOutput.cloud_warnings || [],\n  notes:            (bpOutput.notes || []).filter(Boolean),\n  message:          cloudMode\n    ? [\n        `Phase 3 chain completed (cloud mode) for project: ${bpOutput.project_id}`,\n        'No artifacts were written to disk. brand_positioning is available in this output.',\n        'Continuing to Phase 4: build-competitor-clusters.',\n      ].join(' | ')\n    : [\n        `Phase 3 chain completed for project: ${bpOutput.project_id}`,\n        `brand-positioning.json written to: ${bpOutput.artifact_path}`,\n        'Continuing to Phase 4: build-competitor-clusters.',\n      ].join(' | '),\n  // Pass forward for Phase 4 (always — all artifacts flow inline in both modes)\n  runtime_config:            bpOutput.runtime_config || phase2Output.runtime_config,\n  store_profile:             phase2Output.store_profile,\n  normalized_intake_payload: phase2Output.normalized_intake_payload,\n  market_intelligence:       phase2Output.market_intelligence,\n};\n\n// Carry brand_positioning forward\nif (bpOutput.brand_positioning) {\n  summary.brand_positioning = bpOutput.brand_positioning;\n}\n\nreturn [{ json: summary }];\n"
      },
      "id": "e5f6a7b8-0005-0005-0005-000000000023",
      "name": "Phase 3 Complete",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4500,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// orchestrate-phase1 — Bridge: Prepare build-competitor-clusters input\n// Assembles the input payload for the build-competitor-clusters subworkflow.\n// build-competitor-clusters expects: project_id, runtime_config, store_profile,\n// market_intelligence, brand_positioning, normalized_intake_payload.\n//\n// All artifacts flow inline in both cloud and self-hosted modes.\n\nconst phase3Output = $input.first().json;\n\nconst output = {\n  project_id:                phase3Output.project_id,\n  runtime_config:            phase3Output.runtime_config,\n  store_profile:             phase3Output.store_profile,\n  market_intelligence:       phase3Output.market_intelligence,\n  normalized_intake_payload: phase3Output.normalized_intake_payload,\n  chain_step:                'pre-build-competitor-clusters',\n};\n\n// brand_positioning is optional for competitor clusters but useful context\nif (phase3Output.brand_positioning) {\n  output.brand_positioning = phase3Output.brand_positioning;\n}\n\nreturn [{ json: output }];\n"
      },
      "id": "e5f6a7b8-0005-0005-0005-000000000024",
      "name": "Prepare Competitor Clusters Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4750,
        300
      ]
    },
    {
      "parameters": {
        "workflowId": "REPLACE_WITH_BUILD_COMPETITOR_CLUSTERS_WORKFLOW_ID",
        "options": {}
      },
      "id": "e5f6a7b8-0005-0005-0005-000000000025",
      "name": "Run build-competitor-clusters",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        5000,
        300
      ],
      "notes": "SETUP: Replace REPLACE_WITH_BUILD_COMPETITOR_CLUSTERS_WORKFLOW_ID with the n8n workflow ID of build-competitor-clusters. Find it in the URL when editing that workflow in n8n."
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.status }}",
              "value2": "SUCCESS"
            }
          ]
        }
      },
      "id": "e5f6a7b8-0005-0005-0005-000000000026",
      "name": "Competitor Clusters Success?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        5250,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// orchestrate-phase1 — Competitor Clusters HALT\nconst input    = $input.first().json;\nconst errorMsg = `CHAIN_HALT: build-competitor-clusters failed. Status: ${input.status}.`;\nconsole.error(errorMsg);\nthrow new Error(errorMsg);\n"
      },
      "id": "e5f6a7b8-0005-0005-0005-000000000027",
      "name": "Halt - Competitor Clusters Failed",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5250,
        450
      ]
    },
    {
      "parameters": {
        "jsCode": "// orchestrate-phase1 — Phase 4 Complete\n// build-competitor-clusters succeeded.\n// Terminal node for Phase 4. competitor_clusters returned inline in cloud mode.\n//\n// CLOUD MODE: competitor_clusters returned inline (no disk artifact).\n// SELF-HOSTED: artifact_path points to competitor-clusters.json on disk.\n\nconst ccOutput = $input.first().json;\nconst cloudMode = ccOutput.cloud_mode || false;\n\nconst phase3Output = $node['Phase 3 Complete'].json;\n\nconst summary = {\n  status:           'PHASE_4_COMPLETE',\n  project_id:       ccOutput.project_id,\n  artifact_written: ccOutput.artifact_path,\n  cluster_count:    ccOutput.cluster_count || 0,\n  mode:             ccOutput.mode,\n  completed_at:     new Date().toISOString(),\n  next_phase:       'Phase 5 — Strategy Synthesis (build-strategy-synthesis)',\n  cloud_mode:       cloudMode,\n  cloud_warnings:   ccOutput.cloud_warnings || [],\n  notes:            (ccOutput.notes || []).filter(Boolean),\n  runtime_config:   ccOutput.runtime_config || phase3Output.runtime_config,\n  message:          cloudMode\n    ? [\n        `Phase 4 chain completed (cloud mode) for project: ${ccOutput.project_id}`,\n        `No artifacts were written to disk. competitor_clusters (${ccOutput.cluster_count || 0} clusters, mode: ${ccOutput.mode}) available in this output.`,\n        'Continuing to Phase 5: build-strategy-synthesis.',\n      ].join(' | ')\n    : [\n        `Phase 4 chain completed for project: ${ccOutput.project_id}`,\n        `competitor-clusters.json written to: ${ccOutput.artifact_path} (${ccOutput.cluster_count || 0} clusters, mode: ${ccOutput.mode}).`,\n        'Continuing to Phase 5: build-strategy-synthesis.',\n      ].join(' | '),\n};\n\n// Carry competitor_clusters forward for inspection and downstream use\nif (ccOutput.competitor_clusters) {\n  summary.competitor_clusters = ccOutput.competitor_clusters;\n}\n\n// Also carry all prior artifacts forward for Phase 5 (build-strategy-synthesis)\nif (phase3Output.brand_positioning) summary.brand_positioning = phase3Output.brand_positioning;\nif (phase3Output.store_profile) summary.store_profile = phase3Output.store_profile;\nif (phase3Output.market_intelligence) summary.market_intelligence = phase3Output.market_intelligence;\n// normalized_intake_payload needed for build-strategy-synthesis input validation\nif (phase3Output.normalized_intake_payload) summary.normalized_intake_payload = phase3Output.normalized_intake_payload;\n\nreturn [{ json: summary }];\n"
      },
      "id": "e5f6a7b8-0005-0005-0005-000000000028",
      "name": "Phase 4 Complete",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5500,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// orchestrate-phase1 — Bridge: Prepare build-strategy-synthesis input\n// Assembles the input payload for the build-strategy-synthesis subworkflow.\n// build-strategy-synthesis expects: project_id, runtime_config, store_profile,\n// market_intelligence, brand_positioning, competitor_clusters, normalized_intake_payload.\n//\n// All artifacts flow inline in both cloud and self-hosted modes.\n\nconst phase4Output = $input.first().json;\n\nconst output = {\n  project_id:                phase4Output.project_id,\n  runtime_config:            phase4Output.runtime_config,\n  store_profile:             phase4Output.store_profile,\n  market_intelligence:       phase4Output.market_intelligence,\n  brand_positioning:         phase4Output.brand_positioning,\n  competitor_clusters:       phase4Output.competitor_clusters,\n  normalized_intake_payload: phase4Output.normalized_intake_payload,\n  chain_step:                'pre-build-strategy-synthesis',\n};\n\nreturn [{ json: output }];\n"
      },
      "id": "e5f6a7b8-0005-0005-0005-000000000029",
      "name": "Prepare Strategy Synthesis Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5750,
        300
      ]
    },
    {
      "parameters": {
        "workflowId": "REPLACE_WITH_BUILD_STRATEGY_SYNTHESIS_WORKFLOW_ID",
        "options": {}
      },
      "id": "e5f6a7b8-0005-0005-0005-000000000030",
      "name": "Run build-strategy-synthesis",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        6000,
        300
      ],
      "notes": "SETUP: Replace REPLACE_WITH_BUILD_STRATEGY_SYNTHESIS_WORKFLOW_ID with the n8n workflow ID of build-strategy-synthesis. Find it in the URL when editing that workflow in n8n."
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.status }}",
              "value2": "SUCCESS"
            }
          ]
        }
      },
      "id": "e5f6a7b8-0005-0005-0005-000000000031",
      "name": "Strategy Synthesis Success?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        6250,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// orchestrate-phase1 — Strategy Synthesis HALT\nconst input    = $input.first().json;\nconst errorMsg = `CHAIN_HALT: build-strategy-synthesis failed. Status: ${input.status}.`;\nconsole.error(errorMsg);\nthrow new Error(errorMsg);\n"
      },
      "id": "e5f6a7b8-0005-0005-0005-000000000032",
      "name": "Halt - Strategy Synthesis Failed",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6250,
        450
      ]
    },
    {
      "parameters": {
        "jsCode": "// orchestrate-phase1 — Phase 5 Complete\n// build-strategy-synthesis succeeded. Terminal node for Phase 5.\n//\n// CLOUD MODE: strategy_synthesis returned inline (no disk artifact).\n// SELF-HOSTED: artifact_path points to strategy-synthesis.json on disk.\n\nconst ssOutput  = $input.first().json;\nconst cloudMode = ssOutput.cloud_mode || false;\n\n// ── Execution metadata ─────────────────────────────────────────────────────\nconst completedAt  = new Date().toISOString();\nconst startedAt    = (ssOutput.runtime_config && ssOutput.runtime_config.resolved_at) || completedAt;\nconst durationMs   = new Date(completedAt) - new Date(startedAt);\nlet executionId = 'unknown';\ntry { executionId = $execution && $execution.id ? String($execution.id) : 'unknown'; } catch (_) {}\n\n// ── Envelope diagnostics ───────────────────────────────────────────────────\nconst envSummary = (ssOutput.envelope && ssOutput.envelope.diagnostics && ssOutput.envelope.diagnostics.output_summary) || {};\n\n// ── Phase breakdown (best-effort from chain) ──────────────────────────────\n// Each phase passes its status through the chain; summarised here as a receipt.\nconst phaseReceipt = {\n  phase_1_store_profile:      ssOutput.store_profile       ? 'complete' : 'unknown',\n  phase_2_market_intelligence: ssOutput.market_intelligence ? 'complete' : 'unknown',\n  phase_3_brand_positioning:  ssOutput.brand_positioning   ? 'complete' : 'unknown',\n  phase_4_competitor_clusters: ssOutput.competitor_clusters ? 'complete' : 'unknown',\n  phase_5_strategy_synthesis: ssOutput.strategy_synthesis  ? 'complete' : 'unknown',\n};\n\nconst summary = {\n  // ── Status ──────────────────────────────────────────────────────────────\n  status:           'PHASE_5_COMPLETE',\n  project_id:       ssOutput.project_id,\n  // ── Execution metadata ──────────────────────────────────────────────────\n  execution_id:     executionId,\n  started_at:       startedAt,\n  completed_at:     completedAt,\n  duration_ms:      durationMs,\n  // ── Chain state ─────────────────────────────────────────────────────────\n  cloud_mode:       cloudMode,\n  artifact_written: ssOutput.artifact_path || null,\n  phase_receipt:    phaseReceipt,\n  // ── Output quality metrics ───────────────────────────────────────────────\n  output_summary:   envSummary,\n  cloud_warnings:   ssOutput.cloud_warnings || [],\n  notes:            (ssOutput.notes || []).filter(Boolean),\n  // ── Human-readable message ───────────────────────────────────────────────\n  message: cloudMode\n    ? [\n        `Phase 5 chain completed (cloud mode) for project: ${ssOutput.project_id}`,\n        `execution_id: ${executionId}, duration: ${durationMs}ms`,\n        `No artifacts written to disk. strategy_synthesis available inline.`,\n        `Opportunities: ${envSummary.opportunity_count || 0}, Risks: ${envSummary.risk_count || 0}, Moats: ${envSummary.moat_hypothesis_count || 0}.`,\n        'Next: build-offer-architecture / build-content-strategy / build-gtm-plan (Phase 6+).',\n      ].join(' | ')\n    : [\n        `Phase 5 chain completed for project: ${ssOutput.project_id}`,\n        `execution_id: ${executionId}, duration: ${durationMs}ms`,\n        `strategy-synthesis.json written to: ${ssOutput.artifact_path}`,\n        `Opportunities: ${envSummary.opportunity_count || 0}, Risks: ${envSummary.risk_count || 0}, Moats: ${envSummary.moat_hypothesis_count || 0}.`,\n        'Next: build-offer-architecture / build-content-strategy / build-gtm-plan (Phase 6+).',\n      ].join(' | '),\n  // ── Downstream payload ───────────────────────────────────────────────────\n  next_phase:        'Phase 6+ — Offer Architecture / Content Strategy / GTM Plan',\n  strategy_synthesis: ssOutput.strategy_synthesis || null,\n  runtime_config:    ssOutput.runtime_config,\n};\n\nreturn [{ json: summary }];"
      },
      "id": "e5f6a7b8-0005-0005-0005-000000000033",
      "name": "Phase 5 Complete",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6500,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// orchestrate-phase1 — Bridge: Prepare build-offer-architecture input\n// Assembles the input payload for the build-offer-architecture subworkflow.\n// build-offer-architecture expects: project_id, strategy_synthesis,\n// brand_positioning, market_intelligence, normalized_intake_payload, runtime_config.\n//\n// strategy_synthesis flows from Phase 5 Complete (current $input).\n// brand_positioning, market_intelligence, normalized_intake_payload are sourced\n// from Prepare Strategy Synthesis Input (which had the full artifact context\n// before the Phase 5 subworkflow call consumed and returned only strategy_synthesis).\n\nconst phase5Output = $input.first().json;\nconst preSynthesis  = $node['Prepare Strategy Synthesis Input'].json;\n\nconst output = {\n  project_id:                phase5Output.project_id,\n  runtime_config:            phase5Output.runtime_config,\n  strategy_synthesis:        phase5Output.strategy_synthesis,\n  brand_positioning:         preSynthesis.brand_positioning || null,\n  market_intelligence:       preSynthesis.market_intelligence || null,\n  normalized_intake_payload: preSynthesis.normalized_intake_payload || null,\n};\n\nconsole.log('Prepare Offer Architecture Input: project=' + phase5Output.project_id +\n  ' strategy_synthesis=' + (phase5Output.strategy_synthesis ? 'present' : 'MISSING') +\n  ' brand_positioning=' + (output.brand_positioning ? 'present' : 'MISSING'));\n\nreturn [{ json: output }];\n"
      },
      "id": "f0a1b2c3-0006-0006-0006-000000000011",
      "name": "Prepare Offer Architecture Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6750,
        300
      ]
    },
    {
      "parameters": {
        "workflowId": "REPLACE_WITH_BUILD_OFFER_ARCHITECTURE_WORKFLOW_ID",
        "options": {}
      },
      "id": "f0a1b2c3-0006-0006-0006-000000000012",
      "name": "Run build-offer-architecture",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        7000,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "f0a1b2c3-cond-0006-0006-000000000001",
              "leftValue": "={{ $json.status }}",
              "rightValue": "SUCCESS",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "f0a1b2c3-0006-0006-0006-000000000013",
      "name": "Offer Architecture Success?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        7250,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// orchestrate-phase1 — Offer Architecture HALT\nconst input    = $input.first().json;\nconst errorMsg = `CHAIN_HALT: build-offer-architecture failed. Status: ${input.status}.`;\nconsole.error(errorMsg);\nthrow new Error(errorMsg);\n"
      },
      "id": "f0a1b2c3-0006-0006-0006-000000000014",
      "name": "Halt - Offer Architecture Failed",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        7250,
        450
      ]
    },
    {
      "parameters": {
        "jsCode": "// orchestrate-phase1 — Phase 6a Complete\n// build-offer-architecture succeeded. Forwards all artifacts inline.\n\nconst oaOutput  = $input.first().json;\nconst cloudMode = oaOutput.cloud_mode || false;\n\nconst summary = {\n  status:             'PHASE_6A_COMPLETE',\n  project_id:         oaOutput.project_id,\n  cloud_mode:         cloudMode,\n  offer_architecture: oaOutput.offer_architecture || null,\n  // Forward upstream artifacts for Phase 6b/7 chain\n  strategy_synthesis:         oaOutput.strategy_synthesis || null,\n  brand_positioning:           oaOutput.brand_positioning || null,\n  market_intelligence:         oaOutput.market_intelligence || null,\n  normalized_intake_payload:   oaOutput.normalized_intake_payload || null,\n  runtime_config:              oaOutput.runtime_config,\n  cloud_warnings:              oaOutput.cloud_warnings || [],\n  envelope:                    oaOutput.envelope || null,\n  next_phase: 'Phase 6b — Content Strategy (build-content-strategy)',\n};\n\nconst oa = oaOutput.offer_architecture || {};\nconst core = oa.core_offer || {};\nsummary.message = `Phase 6a complete for project: ${oaOutput.project_id} | offer: ${core.headline || 'no headline'} | bundles: ${(oa.bundle_opportunities||[]).length} | upsell paths: ${(oa.upsell_paths||[]).length}`;\n\nreturn [{ json: summary }];\n"
      },
      "id": "f0a1b2c3-0006-0006-0006-000000000015",
      "name": "Phase 6a Complete",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        7500,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// orchestrate-phase1 — Bridge: Prepare build-content-strategy input\n// Assembles the input payload for the build-content-strategy subworkflow.\n// build-content-strategy expects: project_id, offer_architecture,\n// strategy_synthesis, brand_positioning, market_intelligence, store_profile,\n// normalized_intake_payload, runtime_config.\n//\n// offer_architecture flows from Phase 6a Complete (current $input).\n// strategy_synthesis is sourced from Phase 5 Complete (retained in context).\n// brand_positioning, market_intelligence, store_profile, normalized_intake_payload\n// are sourced from Prepare Strategy Synthesis Input (pre-subworkflow context\n// that retains all upstream artifacts before Phase 5 consumed them).\n\nconst phase6aOutput  = $input.first().json;\nconst preSynthesis   = $node['Prepare Strategy Synthesis Input'].json;\nconst phase5Complete = $node['Phase 5 Complete'].json;\n\nconst output = {\n  project_id:                phase6aOutput.project_id,\n  runtime_config:            phase6aOutput.runtime_config,\n  offer_architecture:        phase6aOutput.offer_architecture,\n  strategy_synthesis:        phase5Complete.strategy_synthesis || preSynthesis.strategy_synthesis || null,\n  brand_positioning:         preSynthesis.brand_positioning || null,\n  market_intelligence:       preSynthesis.market_intelligence || null,\n  store_profile:             preSynthesis.store_profile || null,\n  normalized_intake_payload: preSynthesis.normalized_intake_payload || null,\n};\n\nconsole.log('Prepare Content Strategy Input: project=' + phase6aOutput.project_id +\n  ' offer_architecture=' + (phase6aOutput.offer_architecture ? 'present' : 'MISSING') +\n  ' strategy_synthesis=' + (output.strategy_synthesis ? 'present' : 'MISSING') +\n  ' brand_positioning=' + (output.brand_positioning ? 'present' : 'MISSING'));\n\nreturn [{ json: output }];\n"
      },
      "id": "c5d6e7f8-0006-006b-006b-000000000011",
      "name": "Prepare Content Strategy Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        7750,
        300
      ]
    },
    {
      "parameters": {
        "workflowId": "REPLACE_WITH_BUILD_CONTENT_STRATEGY_WORKFLOW_ID",
        "options": {}
      },
      "id": "c5d6e7f8-0006-006b-006b-000000000012",
      "name": "Run build-content-strategy",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        8000,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "c5d6e7f8-cond-006b-006b-000000000001",
              "leftValue": "={{ $json.status }}",
              "rightValue": "SUCCESS",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "c5d6e7f8-0006-006b-006b-000000000013",
      "name": "Content Strategy Success?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        8250,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// orchestrate-phase1 — Content Strategy HALT\nconst input    = $input.first().json;\nconst errorMsg = `CHAIN_HALT: build-content-strategy failed. Status: ${input.status}.`;\nconsole.error(errorMsg);\nthrow new Error(errorMsg);\n"
      },
      "id": "c5d6e7f8-0006-006b-006b-000000000014",
      "name": "Halt - Content Strategy Failed",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        8250,
        450
      ]
    },
    {
      "parameters": {
        "jsCode": "// orchestrate-phase1 — Phase 6b Complete\n// build-content-strategy succeeded. Forwards all artifacts inline.\n\nconst csOutput  = $input.first().json;\nconst phase6aComplete = $node['Phase 6a Complete'].json;\nconst cloudMode = csOutput.cloud_mode || false;\n\nconst summary = {\n  status:           'PHASE_6B_COMPLETE',\n  project_id:       csOutput.project_id,\n  cloud_mode:       cloudMode,\n  content_strategy: csOutput.content_strategy || null,\n  // Forward Phase 6a artifacts\n  offer_architecture: phase6aComplete.offer_architecture || null,\n  // runtime\n  runtime_config:   csOutput.runtime_config,\n  cloud_warnings:   csOutput.cloud_warnings || [],\n  envelope:         csOutput.envelope || null,\n  next_phase:       'Phase 6c — GTM Plan (build-gtm-plan)',\n};\n\nconst cs  = csOutput.content_strategy || {};\nconst mh  = cs.messaging_hierarchy || {};\nconst ev  = cs.editorial_voice || {};\nconst pillars = cs.content_pillars || [];\n\nsummary.message = `Phase 6b complete for project: ${csOutput.project_id} | primary_message: ${(mh.primary_message||'').slice(0,80)} | pillars: ${pillars.length} | tone: ${ev.tone||'unknown'}`;\n\nreturn [{ json: summary }];\n"
      },
      "id": "c5d6e7f8-0006-006b-006b-000000000015",
      "name": "Phase 6b Complete",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        8500,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// orchestrate-phase1 — Prepare GTM Plan Input\n// Assembles Phase 6c input from Phase 6b Complete + upstream node refs.\n// Subworkflows do NOT forward upstream artifacts, so we source them explicitly.\n\nconst phase6bOutput = $input.first().json;\nconst preSynthesis  = $node['Prepare Strategy Synthesis Input'].json;\nconst phase5Output  = $node['Phase 5 Complete'].json;\nconst phase6aOutput = $node['Phase 6a Complete'].json;\n\nconst output = {\n  project_id:                phase6bOutput.project_id  || phase6aOutput.project_id  || preSynthesis.project_id,\n  runtime_config:            phase6bOutput.runtime_config || preSynthesis.runtime_config,\n  content_strategy:          phase6bOutput.content_strategy  || null,\n  offer_architecture:        phase6bOutput.offer_architecture || phase6aOutput.offer_architecture || null,\n  strategy_synthesis:        phase5Output.strategy_synthesis  || null,\n  market_intelligence:       preSynthesis.market_intelligence  || null,\n  normalized_intake_payload: preSynthesis.normalized_intake_payload || null,\n};\n\nif (!output.content_strategy) {\n  throw new Error('Prepare GTM Plan Input: content_strategy missing from Phase 6b Complete output.');\n}\nif (!output.offer_architecture) {\n  throw new Error('Prepare GTM Plan Input: offer_architecture missing — check Phase 6a Complete output.');\n}\nif (!output.strategy_synthesis) {\n  throw new Error('Prepare GTM Plan Input: strategy_synthesis missing from Phase 5 Complete output.');\n}\n\nconsole.log('Prepare GTM Plan Input: assembled for project=' + output.project_id);\nreturn [{ json: output }];\n"
      },
      "id": "d7e8f9a0-006c-006c-006c-000000000011",
      "name": "Prepare GTM Plan Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        8750,
        300
      ]
    },
    {
      "parameters": {
        "workflowId": "REPLACE_WITH_BUILD_GTM_PLAN_WORKFLOW_ID",
        "options": {}
      },
      "id": "d7e8f9a0-006c-006c-006c-000000000012",
      "name": "Run build-gtm-plan",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        9000,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "d7e8f9a0-cond-006c-006c-000000000001",
              "leftValue": "={{ $json.status }}",
              "rightValue": "SUCCESS",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "d7e8f9a0-006c-006c-006c-000000000013",
      "name": "GTM Plan Success?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        9250,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "throw new Error('Phase 6c FAILED — GTM Plan synthesis did not return a valid gtm_plan artifact. Check build-gtm-plan execution log.');"
      },
      "id": "d7e8f9a0-006c-006c-006c-000000000014",
      "name": "Halt - GTM Plan Failed",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        9250,
        450
      ]
    },
    {
      "parameters": {
        "jsCode": "// Phase 6c Complete — GTM Plan\n// Returns full chain artifacts inline for cloud smoke-test validation.\n\nconst gtmOutput   = $input.first().json;\nconst phase5Out   = $node['Phase 5 Complete'].json;\nconst phase6aOut  = $node['Phase 6a Complete'].json;\nconst phase6bOut  = $node['Phase 6b Complete'].json;\nconst preSynth    = $node['Prepare Strategy Synthesis Input'].json;\n\n// Gather all inline artifacts\nconst storeProfile       = preSynth.store_profile        || null;\nconst marketIntelligence = preSynth.market_intelligence   || null;\nconst brandPositioning   = preSynth.brand_positioning     || null;\nconst competitorClusters = preSynth.competitor_clusters   || null;\nconst strategySynthesis  = phase5Out.strategy_synthesis   || null;\nconst offerArchitecture  = phase6aOut.offer_architecture  || null;\nconst contentStrategy    = phase6bOut.content_strategy    || null;\nconst gtmPlan            = gtmOutput.gtm_plan             || null;\n\nconst runtimeConfig = gtmOutput.runtime_config || {};\nconst projectId     = gtmOutput.project_id || runtimeConfig.project_id || null;\nconst cloudMode     = gtmOutput.cloud_mode !== undefined ? gtmOutput.cloud_mode : true;\n\nconst summary = {\n  status:              'PHASE_6C_COMPLETE',\n  project_id:          projectId,\n  cloud_mode:          cloudMode,\n  execution_id:        $execution.id,\n  completed_at:        new Date().toISOString(),\n  next_phase:          'Phase 7 — Store Build (design-system, section-plan, deployment)',\n\n  // Full artifact chain\n  store_profile:        storeProfile,\n  market_intelligence:  marketIntelligence,\n  brand_positioning:    brandPositioning,\n  competitor_clusters:  competitorClusters,\n  strategy_synthesis:   strategySynthesis,\n  offer_architecture:   offerArchitecture,\n  content_strategy:     contentStrategy,\n  gtm_plan:             gtmPlan,\n\n  runtime_config:       runtimeConfig,\n};\n\nreturn [{ json: summary }];\n"
      },
      "id": "d7e8f9a0-006c-006c-006c-000000000015",
      "name": "Phase 6c Complete",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        9500,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// orchestrate-phase1 — Prepare Store Blueprint Input\n// Assembles Phase 7A input from Phase 6c Complete + upstream artifact refs.\n// Subworkflows do NOT forward upstream artifacts — source them explicitly.\n\nconst phase6cOutput = $input.first().json;\nconst phase5Out     = $node['Phase 5 Complete'].json;\nconst phase6aOut    = $node['Phase 6a Complete'].json;\nconst phase6bOut    = $node['Phase 6b Complete'].json;\nconst preSynth      = $node['Prepare Strategy Synthesis Input'].json;\n\nconst output = {\n  project_id:        phase6cOutput.project_id  || preSynth.project_id,\n  runtime_config:    phase6cOutput.runtime_config || preSynth.runtime_config,\n  strategy_synthesis: phase5Out.strategy_synthesis || null,\n  offer_architecture: phase6aOut.offer_architecture || null,\n  content_strategy:   phase6bOut.content_strategy  || null,\n  gtm_plan:           phase6cOutput.gtm_plan        || null,\n};\n\nif (!output.strategy_synthesis) {\n  throw new Error('Prepare Store Blueprint Input: strategy_synthesis missing from Phase 5 Complete output.');\n}\nif (!output.offer_architecture) {\n  throw new Error('Prepare Store Blueprint Input: offer_architecture missing from Phase 6a Complete output.');\n}\nif (!output.content_strategy) {\n  throw new Error('Prepare Store Blueprint Input: content_strategy missing from Phase 6b Complete output.');\n}\nif (!output.gtm_plan) {\n  throw new Error('Prepare Store Blueprint Input: gtm_plan missing from Phase 6c Complete output.');\n}\n\nconsole.log('Prepare Store Blueprint Input: assembled for project=' + output.project_id);\nreturn [{ json: output }];\n"
      },
      "id": "f2a3b4c5-0007-007a-007a-000000000011",
      "name": "Prepare Store Blueprint Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        9750,
        300
      ]
    },
    {
      "parameters": {
        "workflowId": "REPLACE_WITH_BUILD_STORE_BLUEPRINT_WORKFLOW_ID",
        "options": {}
      },
      "id": "f2a3b4c5-0007-007a-007a-000000000012",
      "name": "Run build-store-blueprint",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        10000,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "f2a3b4c5-cond-007a-007a-000000000001",
              "leftValue": "={{ $json.status }}",
              "rightValue": "SUCCESS",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "f2a3b4c5-0007-007a-007a-000000000013",
      "name": "Store Blueprint Success?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        10250,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "throw new Error('Phase 7A FAILED — Store Blueprint synthesis did not return a valid store_blueprint artifact. Check build-store-blueprint execution log.');"
      },
      "id": "f2a3b4c5-0007-007a-007a-000000000014",
      "name": "Halt - Store Blueprint Failed",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        10250,
        450
      ]
    },
    {
      "parameters": {
        "jsCode": "// Phase 7A Complete — Store Blueprint\n// Returns full Phase 1-7A artifact chain inline for cloud smoke-test validation.\n\nconst sbOutput  = $input.first().json;\nconst phase5Out = $node['Phase 5 Complete'].json;\nconst phase6aOut = $node['Phase 6a Complete'].json;\nconst phase6bOut = $node['Phase 6b Complete'].json;\nconst phase6cOut = $node['Phase 6c Complete'].json;\nconst preSynth  = $node['Prepare Strategy Synthesis Input'].json;\n\nconst storeProfile       = preSynth.store_profile        || null;\nconst marketIntelligence = preSynth.market_intelligence   || null;\nconst brandPositioning   = preSynth.brand_positioning     || null;\nconst competitorClusters = preSynth.competitor_clusters   || null;\nconst strategySynthesis  = phase5Out.strategy_synthesis   || null;\nconst offerArchitecture  = phase6aOut.offer_architecture  || null;\nconst contentStrategy    = phase6bOut.content_strategy    || null;\nconst gtmPlan            = phase6cOut.gtm_plan            || null;\nconst storeBlueprint     = sbOutput.store_blueprint       || null;\n\nconst runtimeConfig = sbOutput.runtime_config || {};\nconst projectId     = sbOutput.project_id || runtimeConfig.project_id || null;\nconst cloudMode     = sbOutput.cloud_mode !== undefined ? sbOutput.cloud_mode : true;\n\nconst sb = storeBlueprint || {};\nconst summary = {\n  status:              'PHASE_7A_COMPLETE',\n  project_id:          projectId,\n  cloud_mode:          cloudMode,\n  execution_id:        $execution.id,\n  completed_at:        new Date().toISOString(),\n  next_phase:          'Phase 7B — Store Build (Shopify API deployment)',\n\n  // Full artifact chain\n  store_profile:        storeProfile,\n  market_intelligence:  marketIntelligence,\n  brand_positioning:    brandPositioning,\n  competitor_clusters:  competitorClusters,\n  strategy_synthesis:   strategySynthesis,\n  offer_architecture:   offerArchitecture,\n  content_strategy:     contentStrategy,\n  gtm_plan:             gtmPlan,\n  store_blueprint:      storeBlueprint,\n\n  // Blueprint summary for observability\n  blueprint_summary: {\n    products_count:       (sb.products       || []).length,\n    collections_count:    (sb.collections    || []).length,\n    pages_count:          (sb.pages          || []).length,\n    navigation_menus:     (sb.navigation     || []).length,\n    theme_sections_count: (sb.theme_sections || []).length,\n    assets_count:         (sb.assets         || []).length,\n  },\n\n  runtime_config:       runtimeConfig,\n};\n\nreturn [{ json: summary }];\n"
      },
      "id": "f2a3b4c5-0007-007a-007a-000000000015",
      "name": "Phase 7A Complete",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        10500,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// orchestrate-phase1 — Prepare Async Response\n// Assembles the immediate HTTP 202 body and passes the original runtime config\n// through to downstream nodes. 'Respond to Webhook' uses _async_response as body;\n// all nodes after it receive the original runtime_config + intake_payload intact.\n\nconst input = $input.first().json;\nconst projectId = (input.runtime_config || {}).project_id\n  || (input.intake_payload || {}).project_id\n  || 'unknown';\nconst executionId = $execution.id;\n\nreturn [{\n  json: {\n    // passthrough — downstream nodes (Validate Orchestrate Input etc.) use this\n    ...input,\n    // async response — used only by Respond to Webhook node\n    _async_response: {\n      execution_id:  executionId,\n      status:        'started',\n      project_id:    projectId,\n      started_at:    new Date().toISOString(),\n      message:       'Run started asynchronously. Poll /api/v1/executions/' + executionId + ' for status and results.',\n      tracking: {\n        poll_interval_seconds:  5,\n        terminal_statuses:      ['PHASE_7B2_COMPLETE', 'PHASE_7B2_PARTIAL', 'PHASE_7B1_COMPLETE', 'PHASE_7B1_PARTIAL', 'PHASE_7A_COMPLETE', 'PHASE_6C_COMPLETE', 'PHASE_6B_COMPLETE', 'PHASE_6A_COMPLETE', 'PHASE_5_COMPLETE'],\n        api_endpoint:           'GET /api/v1/executions/' + executionId + '?includeData=true',\n        result_field:           'data.resultData.runData[lastNodeExecuted][0].data.main[0][0].json',\n      },\n    },\n  },\n}];"
      },
      "id": "a0b1c2d3-0000-0000-0000-000000000001",
      "name": "Prepare Async Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        625,
        600
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json._async_response) }}",
        "options": {
          "responseCode": 202
        }
      },
      "id": "a0b1c2d3-0000-0000-0000-000000000002",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        800,
        600
      ]
    },
    {
      "parameters": {
        "jsCode": "// orchestrate-phase1 — Prepare Shopify Catalog Input\n// Assembles Phase 7B.1 input from Phase 7A Complete output.\n// Passes store_blueprint + runtime_config to build-shopify-catalog subworkflow.\n\nconst phase7aOut = $input.first().json;\n\nconst output = {\n  project_id:      phase7aOut.project_id,\n  runtime_config:  phase7aOut.runtime_config,\n  store_blueprint: phase7aOut.store_blueprint,\n};\n\nif (!output.store_blueprint) {\n  throw new Error('Prepare Shopify Catalog Input: store_blueprint missing from Phase 7A Complete output.');\n}\nif (!output.runtime_config) {\n  throw new Error('Prepare Shopify Catalog Input: runtime_config missing from Phase 7A Complete output.');\n}\n\nconsole.log('Prepare Shopify Catalog Input: assembled for project=' + output.project_id);\nreturn [{ json: output }];\n"
      },
      "id": "7b1aorch-0007-07b1-07b1-000000000001",
      "name": "Prepare Shopify Catalog Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        10750,
        300
      ]
    },
    {
      "parameters": {
        "workflowId": "REPLACE_WITH_BUILD_SHOPIFY_CATALOG_WORKFLOW_ID",
        "options": {}
      },
      "id": "7b1aorch-0007-07b1-07b1-000000000002",
      "name": "Run build-shopify-catalog",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        11000,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "7b1aorch-cond-07b1-07b1-000000000001",
              "leftValue": "={{ $json.status }}",
              "rightValue": "PHASE_7B1_FAILED",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "7b1aorch-0007-07b1-07b1-000000000003",
      "name": "Shopify Catalog Success?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        11250,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// Phase 7B.1 Complete — Shopify Catalog Deployment\n// Returns full Phase 1-7B.1 artifact chain inline.\n// Forwards shopify_catalog_deployment as the new terminal artifact.\n\nconst catalogOut  = $input.first().json;\nconst phase7aOut  = $node['Phase 7A Complete'].json;\n\nconst summary = {\n  status:               catalogOut.status || 'PHASE_7B1_COMPLETE',\n  project_id:           catalogOut.project_id || phase7aOut.project_id,\n  cloud_mode:           phase7aOut.cloud_mode,\n  execution_id:         $execution.id,\n  completed_at:         new Date().toISOString(),\n  next_phase:           'Phase 7B.2 — Store Build (pages, navigation, theme)',\n\n  // Full artifact chain (Phase 1-7A forwarded)\n  store_profile:        phase7aOut.store_profile,\n  market_intelligence:  phase7aOut.market_intelligence,\n  brand_positioning:    phase7aOut.brand_positioning,\n  competitor_clusters:  phase7aOut.competitor_clusters,\n  strategy_synthesis:   phase7aOut.strategy_synthesis,\n  offer_architecture:   phase7aOut.offer_architecture,\n  content_strategy:     phase7aOut.content_strategy,\n  gtm_plan:             phase7aOut.gtm_plan,\n  store_blueprint:      phase7aOut.store_blueprint,\n\n  // Phase 7B.1 deployment result\n  shopify_catalog_deployment: {\n    status:               catalogOut.status,\n    products_created:     catalogOut.products_created,\n    products_updated:     catalogOut.products_updated,\n    collections_created:  catalogOut.collections_created,\n    collections_updated:  catalogOut.collections_updated,\n    errors:               catalogOut.errors,\n    warnings:             catalogOut.warnings,\n    shop_url:             catalogOut.shop_url,\n    blueprint_summary:    catalogOut.blueprint_summary,\n    safety_notes:         catalogOut.safety_notes,\n  },\n\n  runtime_config: phase7aOut.runtime_config,\n};\n\nreturn [{ json: summary }];\n"
      },
      "id": "7b1aorch-0007-07b1-07b1-000000000004",
      "name": "Phase 7B.1 Complete",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        11500,
        180
      ]
    },
    {
      "parameters": {
        "jsCode": "throw new Error('Phase 7B.1 FAILED — Shopify catalog deployment failed. Check build-shopify-catalog execution log for errors. Status: ' + ($input.first().json.status || 'UNKNOWN'));"
      },
      "id": "7b1aorch-0007-07b1-07b1-000000000005",
      "name": "Halt - Shopify Catalog Failed",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        11500,
        420
      ]
    },
    {
      "parameters": {
        "jsCode": "// orchestrate-phase1 — Prepare Pages/Nav Input\n// Assembles Phase 7B.2 input from Phase 7B.1 Complete output.\n// Passes store_blueprint + runtime_config + content_strategy to build-shopify-pages-navigation.\n\nconst phase7b1Out = $input.first().json;\n\nconst output = {\n  project_id:       phase7b1Out.project_id,\n  runtime_config:   phase7b1Out.runtime_config,\n  store_blueprint:  phase7b1Out.store_blueprint,\n  content_strategy: phase7b1Out.content_strategy,\n};\n\nif (!output.store_blueprint) {\n  throw new Error('Prepare Pages/Nav Input: store_blueprint missing from Phase 7B.1 Complete output.');\n}\nif (!output.runtime_config) {\n  throw new Error('Prepare Pages/Nav Input: runtime_config missing from Phase 7B.1 Complete output.');\n}\n\nconsole.log('Prepare Pages/Nav Input: assembled for project=' + output.project_id);\nreturn [{ json: output }];\n"
      },
      "id": "7b2aorch-0007-07b2-07b2-000000000001",
      "name": "Prepare Pages/Nav Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        11750,
        300
      ]
    },
    {
      "parameters": {
        "workflowId": "REPLACE_WITH_BUILD_SHOPIFY_PAGES_NAVIGATION_WORKFLOW_ID",
        "options": {}
      },
      "id": "7b2aorch-0007-07b2-07b2-000000000002",
      "name": "Run build-shopify-pages-navigation",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        12000,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "7b2aorch-cond-07b2-07b2-000000000001",
              "leftValue": "={{ $json.status }}",
              "rightValue": "PHASE_7B2_FAILED",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "7b2aorch-0007-07b2-07b2-000000000003",
      "name": "Shopify Pages/Nav Success?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        12250,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// Phase 7B.2 Complete — Shopify Pages + Navigation Deployment\n// Returns full Phase 1-7B.2 artifact chain inline.\n\nconst pagesNavOut = $input.first().json;\nconst phase7b1Out = $node['Phase 7B.1 Complete'].json;\n\nconst summary = {\n  status:               pagesNavOut.status || 'PHASE_7B2_COMPLETE',\n  project_id:           pagesNavOut.project_id || phase7b1Out.project_id,\n  cloud_mode:           phase7b1Out.cloud_mode,\n  execution_id:         $execution.id,\n  completed_at:         new Date().toISOString(),\n  next_phase:           'Phase 7B.3 — Store Build (theme sections, assets)',\n\n  // Full artifact chain (Phase 1-7B.1 forwarded)\n  store_profile:        phase7b1Out.store_profile,\n  market_intelligence:  phase7b1Out.market_intelligence,\n  brand_positioning:    phase7b1Out.brand_positioning,\n  competitor_clusters:  phase7b1Out.competitor_clusters,\n  strategy_synthesis:   phase7b1Out.strategy_synthesis,\n  offer_architecture:   phase7b1Out.offer_architecture,\n  content_strategy:     phase7b1Out.content_strategy,\n  gtm_plan:             phase7b1Out.gtm_plan,\n  store_blueprint:      phase7b1Out.store_blueprint,\n\n  // Phase 7B.1 deployment result (forwarded)\n  shopify_catalog_deployment: phase7b1Out.shopify_catalog_deployment,\n\n  // Phase 7B.2 deployment result\n  shopify_pages_navigation_deployment: {\n    status:               pagesNavOut.status,\n    pages_created:        pagesNavOut.pages_created,\n    pages_updated:        pagesNavOut.pages_updated,\n    navigation_created:   pagesNavOut.navigation_created,\n    navigation_updated:   pagesNavOut.navigation_updated,\n    errors:               pagesNavOut.errors,\n    warnings:             pagesNavOut.warnings,\n    shop_url:             pagesNavOut.shop_url,\n    blueprint_summary:    pagesNavOut.blueprint_summary,\n    safety_notes:         pagesNavOut.safety_notes,\n  },\n\n  runtime_config: phase7b1Out.runtime_config,\n};\n\nreturn [{ json: summary }];\n"
      },
      "id": "7b2aorch-0007-07b2-07b2-000000000004",
      "name": "Phase 7B.2 Complete",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        12500,
        180
      ]
    },
    {
      "parameters": {
        "jsCode": "throw new Error('Phase 7B.2 FAILED — Shopify pages/navigation deployment failed. Check build-shopify-pages-navigation execution log for errors. Status: ' + ($input.first().json.status || 'UNKNOWN'));"
      },
      "id": "7b2aorch-0007-07b2-07b2-000000000005",
      "name": "Halt - Shopify Pages/Nav Failed",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        12500,
        420
      ]
    },
    {
      "parameters": {
        "jsCode": "// orchestrate-phase1 — Prepare Theme Rules Input (Phase 10)\n// Packages all upstream artifacts for build-theme-rules consumption.\n// build-theme-rules uses these to classify the store pattern and produce theme_rules.\n\nconst phase7b2Out = $input.first().json;\n\nif (!phase7b2Out.store_profile) {\n  throw new Error('Prepare Theme Rules Input: store_profile missing from Phase 7B.2 output.');\n}\nif (!phase7b2Out.brand_positioning) {\n  throw new Error('Prepare Theme Rules Input: brand_positioning missing from Phase 7B.2 output.');\n}\n\nconsole.log('Prepare Theme Rules Input: assembled for project=' + phase7b2Out.project_id);\n\nreturn [{\n  json: {\n    project_id:          phase7b2Out.project_id,\n    runtime_config:      phase7b2Out.runtime_config,\n    store_profile:       phase7b2Out.store_profile,\n    brand_positioning:   phase7b2Out.brand_positioning,\n    market_intelligence: phase7b2Out.market_intelligence || {},\n    competitor_clusters: phase7b2Out.competitor_clusters || {},\n    strategy_synthesis:  phase7b2Out.strategy_synthesis  || {},\n    offer_architecture:  phase7b2Out.offer_architecture  || {},\n    content_strategy:    phase7b2Out.content_strategy    || {},\n    store_blueprint:     phase7b2Out.store_blueprint,\n  },\n}];\n"
      },
      "id": "p10-orch-0001",
      "name": "Prepare Theme Rules Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        12250,
        180
      ]
    },
    {
      "parameters": {
        "workflowId": "REPLACE_WITH_BUILD_THEME_RULES_WORKFLOW_ID",
        "options": {}
      },
      "id": "p10-orch-0002",
      "name": "Run build-theme-rules",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "continueOnFail": true,
      "position": [
        12500,
        180
      ]
    },
    {
      "parameters": {
        "jsCode": "// orchestrate-phase1 — Prepare Theme Input\n// Assembles Phase 7B.3 input from Phase 7B.2 Complete output.\n// Passes store_blueprint + runtime_config + theme_rules to build-shopify-theme.\n// Phase 10: theme_rules from build-theme-rules is included when available.\n// If build-theme-rules failed (continueOnFail), theme_rules is omitted gracefully.\n\nconst phase7b2Out  = $('Phase 7B.2 Complete').first().json;\nconst themeRulesOut = $input.first().json;  // output from Run build-theme-rules\n\n// Extract theme_rules if build-theme-rules succeeded\nconst themeRules = (themeRulesOut && themeRulesOut.theme_rules && themeRulesOut.theme_rules.status === 'PHASE_10_COMPLETE')\n  ? themeRulesOut.theme_rules\n  : null;\n\nif (themeRules) {\n  console.log('Prepare Theme Input: theme_rules present — pattern=' + themeRules.store_pattern);\n} else {\n  console.log('Prepare Theme Input: no theme_rules — build-shopify-theme will use blueprint sections');\n}\n\nconst output = {\n  project_id:       phase7b2Out.project_id,\n  runtime_config:   phase7b2Out.runtime_config,\n  store_blueprint:  phase7b2Out.store_blueprint,\n  content_strategy: phase7b2Out.content_strategy,\n  theme_rules:      themeRules,\n};\n\nif (!output.store_blueprint) {\n  throw new Error('Prepare Theme Input: store_blueprint missing from Phase 7B.2 Complete output.');\n}\nif (!output.runtime_config) {\n  throw new Error('Prepare Theme Input: runtime_config missing from Phase 7B.2 Complete output.');\n}\n\nconsole.log('Prepare Theme Input: assembled for project=' + output.project_id);\nreturn [{ json: output }];\n"
      },
      "id": "7b3-bridge-0001",
      "name": "Prepare Theme Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        12750,
        180
      ]
    },
    {
      "parameters": {
        "workflowId": "REPLACE_WITH_BUILD_SHOPIFY_THEME_WORKFLOW_ID",
        "options": {}
      },
      "id": "7b3-bridge-0002",
      "name": "Run build-shopify-theme",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        13000,
        180
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "7b3-bridge-cond-0001",
              "leftValue": "={{ $json.status }}",
              "rightValue": "PHASE_7B3_FAILED",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "7b3-bridge-0003",
      "name": "Shopify Theme Success?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        13250,
        180
      ]
    },
    {
      "parameters": {
        "jsCode": "// orchestrate-phase1 — Phase 7B.3 Complete\n// Terminal node for the full Phase 1–7B.3 chain.\n// Returns all 12 artifacts inline. Top-level status reflects theme deployment result.\n\nconst phase7b2Out = $('Phase 7B.2 Complete').first().json;\nconst themeOut    = $('Run build-shopify-theme').first().json;\n\n// Determine top-level status from theme deployment\nconst themeStatus = themeOut.status || 'PHASE_7B3_FAILED';\nlet topStatus;\nif (themeStatus === 'PHASE_7B3_COMPLETE') topStatus = 'PHASE_7B3_COMPLETE';\nelse if (themeStatus === 'PHASE_7B3_PARTIAL') topStatus = 'PHASE_7B3_PARTIAL';\nelse if (themeStatus === 'PHASE_7B3_DRY_RUN') topStatus = 'PHASE_7B3_DRY_RUN';\nelse if (themeStatus === 'PHASE_7B3_BLOCKED') topStatus = 'PHASE_7B3_BLOCKED';\nelse topStatus = 'PHASE_7B3_FAILED';\n\nconst summary = {\n  ...phase7b2Out,\n  status: topStatus,\n  next_phase: 'Phase 7B.4 — Store Build (theme publish)',\n\n  shopify_theme_deployment: {\n    status:           themeOut.status,\n    theme_id:         themeOut.theme_id,\n    theme_name:       themeOut.theme_name,\n    sections_written: themeOut.sections_written,\n    assets_written:   themeOut.assets_written,\n    dry_run:          themeOut.dry_run,\n    dry_run_plan:     themeOut.dry_run_plan || undefined,\n    errors:           themeOut.errors,\n    warnings:         themeOut.warnings,\n    shop_url:         themeOut.shop_url,\n    blueprint_summary: themeOut.blueprint_summary,\n    safety_notes:     themeOut.safety_notes,\n  },\n};\n\nreturn [{ json: summary }];\n"
      },
      "id": "7b3-bridge-0004",
      "name": "Phase 7B.3 Complete",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        13500,
        60
      ]
    },
    {
      "parameters": {
        "jsCode": "// orchestrate-phase1 — Halt: Shopify Theme Failed\n// Reached when build-shopify-theme returns PHASE_7B3_FAILED.\n\nconst themeOut = $('Run build-shopify-theme').first().json;\n\nreturn [{\n  json: {\n    status: 'HALTED',\n    halted_at: 'Phase 7B.3 — Shopify Theme Deployment',\n    reason: 'build-shopify-theme returned PHASE_7B3_FAILED',\n    theme_deployment_status: themeOut.status,\n    errors: themeOut.errors || [],\n    warnings: themeOut.warnings || [],\n  },\n}];\n"
      },
      "id": "7b3-bridge-0005",
      "name": "Halt - Shopify Theme Failed",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        13500,
        300
      ]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Resolve Runtime Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resolve Runtime Config": {
      "main": [
        [
          {
            "node": "Prepare Async Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run intake-store-input": {
      "main": [
        [
          {
            "node": "Intake Success?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Intake Success?": {
      "main": [
        [
          {
            "node": "Run import-shopify-data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Halt - Intake Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run import-shopify-data": {
      "main": [
        [
          {
            "node": "Import Success?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Import Success?": {
      "main": [
        [
          {
            "node": "Prepare Profile Input",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Halt - Import Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Profile Input": {
      "main": [
        [
          {
            "node": "Run build-store-profile",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run build-store-profile": {
      "main": [
        [
          {
            "node": "Profile Success?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Profile Success?": {
      "main": [
        [
          {
            "node": "Phase 1 Complete",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Halt - Profile Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Phase 1 Complete": {
      "main": [
        [
          {
            "node": "Prepare Market Intel Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Market Intel Input": {
      "main": [
        [
          {
            "node": "Run build-market-intelligence",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run build-market-intelligence": {
      "main": [
        [
          {
            "node": "Market Intel Success?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Market Intel Success?": {
      "main": [
        [
          {
            "node": "Phase 2 Complete",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Halt - Market Intel Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Phase 2 Complete": {
      "main": [
        [
          {
            "node": "Prepare Brand Positioning Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Brand Positioning Input": {
      "main": [
        [
          {
            "node": "Run build-brand-positioning",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run build-brand-positioning": {
      "main": [
        [
          {
            "node": "Brand Positioning Success?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Brand Positioning Success?": {
      "main": [
        [
          {
            "node": "Phase 3 Complete",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Halt - Brand Positioning Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Phase 3 Complete": {
      "main": [
        [
          {
            "node": "Prepare Competitor Clusters Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Competitor Clusters Input": {
      "main": [
        [
          {
            "node": "Run build-competitor-clusters",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run build-competitor-clusters": {
      "main": [
        [
          {
            "node": "Competitor Clusters Success?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Competitor Clusters Success?": {
      "main": [
        [
          {
            "node": "Phase 4 Complete",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Halt - Competitor Clusters Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Phase 4 Complete": {
      "main": [
        [
          {
            "node": "Prepare Strategy Synthesis Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Strategy Synthesis Input": {
      "main": [
        [
          {
            "node": "Run build-strategy-synthesis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run build-strategy-synthesis": {
      "main": [
        [
          {
            "node": "Strategy Synthesis Success?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Strategy Synthesis Success?": {
      "main": [
        [
          {
            "node": "Phase 5 Complete",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Halt - Strategy Synthesis Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Resolve Runtime Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Orchestrate Input": {
      "main": [
        [
          {
            "node": "Run intake-store-input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Phase 5 Complete": {
      "main": [
        [
          {
            "node": "Prepare Offer Architecture Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Offer Architecture Input": {
      "main": [
        [
          {
            "node": "Run build-offer-architecture",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run build-offer-architecture": {
      "main": [
        [
          {
            "node": "Offer Architecture Success?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Offer Architecture Success?": {
      "main": [
        [
          {
            "node": "Phase 6a Complete",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Halt - Offer Architecture Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Phase 6a Complete": {
      "main": [
        [
          {
            "node": "Prepare Content Strategy Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Content Strategy Input": {
      "main": [
        [
          {
            "node": "Run build-content-strategy",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run build-content-strategy": {
      "main": [
        [
          {
            "node": "Content Strategy Success?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Content Strategy Success?": {
      "main": [
        [
          {
            "node": "Phase 6b Complete",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Halt - Content Strategy Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Phase 6b Complete": {
      "main": [
        [
          {
            "node": "Prepare GTM Plan Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare GTM Plan Input": {
      "main": [
        [
          {
            "node": "Run build-gtm-plan",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run build-gtm-plan": {
      "main": [
        [
          {
            "node": "GTM Plan Success?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GTM Plan Success?": {
      "main": [
        [
          {
            "node": "Phase 6c Complete",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Halt - GTM Plan Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Phase 6c Complete": {
      "main": [
        [
          {
            "node": "Prepare Store Blueprint Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Store Blueprint Input": {
      "main": [
        [
          {
            "node": "Run build-store-blueprint",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run build-store-blueprint": {
      "main": [
        [
          {
            "node": "Store Blueprint Success?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store Blueprint Success?": {
      "main": [
        [
          {
            "node": "Phase 7A Complete",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Halt - Store Blueprint Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Async Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook": {
      "main": [
        [
          {
            "node": "Validate Orchestrate Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Phase 7A Complete": {
      "main": [
        [
          {
            "node": "Prepare Shopify Catalog Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Shopify Catalog Input": {
      "main": [
        [
          {
            "node": "Run build-shopify-catalog",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run build-shopify-catalog": {
      "main": [
        [
          {
            "node": "Shopify Catalog Success?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Shopify Catalog Success?": {
      "main": [
        [
          {
            "node": "Phase 7B.1 Complete",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Halt - Shopify Catalog Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Phase 7B.1 Complete": {
      "main": [
        [
          {
            "node": "Prepare Pages/Nav Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Pages/Nav Input": {
      "main": [
        [
          {
            "node": "Run build-shopify-pages-navigation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run build-shopify-pages-navigation": {
      "main": [
        [
          {
            "node": "Shopify Pages/Nav Success?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Shopify Pages/Nav Success?": {
      "main": [
        [
          {
            "node": "Phase 7B.2 Complete",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Halt - Shopify Pages/Nav Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Phase 7B.2 Complete": {
      "main": [
        [
          {
            "node": "Prepare Theme Rules Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Theme Rules Input": {
      "main": [
        [
          {
            "node": "Run build-theme-rules",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run build-theme-rules": {
      "main": [
        [
          {
            "node": "Prepare Theme Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Theme Input": {
      "main": [
        [
          {
            "node": "Run build-shopify-theme",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run build-shopify-theme": {
      "main": [
        [
          {
            "node": "Shopify Theme Success?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Shopify Theme Success?": {
      "main": [
        [
          {
            "node": "Phase 7B.3 Complete",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Halt - Shopify Theme Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "_meta": {
    "storeOs": {
      "phase": "Phase 12/13/14/15/16/7A/7B.1/7B.2/7B.3/10",
      "format": "n8n-executable",
      "sourceSpec": "workflows/runtime/n8n-implementation-map.md",
      "cloudCompatibility": "PARTIAL — the full chain runs in both modes. In cloud mode: no artifact persistence, no schema validation, no checkpoint/log writes. shopify_import, store_profile, market_intelligence, brand_positioning, competitor_clusters, and strategy_synthesis flow inline through bridge nodes. Config is supplied via smoke_test_config in the trigger input (no process.env access).",
      "intakePayloadExample": {
        "intake_payload": {
          "project_id": "suppliedtech",
          "project_name": "SuppliedTech",
          "primary_market": "DE",
          "primary_language": "de",
          "primary_currency": "EUR",
          "vertical": "consumer-tech-accessories",
          "price_positioning": "mass-premium",
          "publish_mode": "draft-only",
          "store_type": "multi-product-store",
          "business_model": "ecommerce",
          "manual_review_required": true,
          "seo_goal": "hybrid",
          "aeo_goal": "hybrid",
          "faq_intensity": "balanced",
          "special_notes": null
        },
        "smoke_test_config": {
          "STORE_OS_OPENAI_CREDENTIAL_NAME": "OpenAI account",
          "STORE_OS_SHOPIFY_CREDENTIAL_NAME": "Shopify account",
          "STORE_OS_SHOPIFY_SHOP_URL": "my-store.myshopify.com",
          "STORE_OS_LLM_MODEL": "gpt-4o",
          "STORE_OS_ENV": "dev",
          "STORE_OS_SHOPIFY_API_VERSION": "2024-01"
        }
      },
      "chainCoverage": "resolve-runtime-config → intake-store-input → import-shopify-data → build-store-profile → build-market-intelligence → build-brand-positioning → build-competitor-clusters → build-strategy-synthesis → build-offer-architecture → build-content-strategy → build-gtm-plan → build-store-blueprint → build-shopify-catalog",
      "setupRequired": [
        "Replace REPLACE_WITH_INTAKE_STORE_INPUT_WORKFLOW_ID with the n8n workflow ID of intake-store-input",
        "Replace REPLACE_WITH_IMPORT_SHOPIFY_DATA_WORKFLOW_ID with the n8n workflow ID of import-shopify-data",
        "Replace REPLACE_WITH_BUILD_STORE_PROFILE_WORKFLOW_ID with the n8n workflow ID of build-store-profile",
        "Replace REPLACE_WITH_BUILD_MARKET_INTELLIGENCE_WORKFLOW_ID with the n8n workflow ID of build-market-intelligence",
        "Replace REPLACE_WITH_BUILD_BRAND_POSITIONING_WORKFLOW_ID with the n8n workflow ID of build-brand-positioning",
        "Replace REPLACE_WITH_BUILD_COMPETITOR_CLUSTERS_WORKFLOW_ID with the n8n workflow ID of build-competitor-clusters",
        "Replace REPLACE_WITH_BUILD_STRATEGY_SYNTHESIS_WORKFLOW_ID with the n8n workflow ID of build-strategy-synthesis",
        "Replace REPLACE_WITH_N8N_OPENAI_CREDENTIAL_ID in build-market-intelligence with your OpenAI credential ID",
        "Replace REPLACE_WITH_N8N_OPENAI_CREDENTIAL_ID in build-brand-positioning with your OpenAI credential ID",
        "Replace REPLACE_WITH_N8N_OPENAI_CREDENTIAL_ID in build-competitor-clusters with your OpenAI credential ID",
        "Replace REPLACE_WITH_N8N_OPENAI_CREDENTIAL_ID in build-strategy-synthesis with your OpenAI credential ID",
        "Self-hosted: set all STORE_OS_* environment variables. n8n Cloud: pass values as smoke_test_config in trigger input.",
        "Configure Shopify API credential in n8n and update import-shopify-data with its credential ID",
        "Replace REPLACE_WITH_BUILD_SHOPIFY_CATALOG_WORKFLOW_ID with the n8n workflow ID of build-shopify-catalog after deployment",
        "Ensure STORE_OS_SHOPIFY_SHOP_URL is set in env (self-hosted) or smoke_test_config (cloud) for Phase 7B.1"
      ],
      "notYetImplemented": "Phase 7B.2 (pages, navigation, theme), build-pattern-manifest and all subsequent SEO/content phases"
    }
  }
}